[2018-10-20 22:49] adamxtokyo commented on #891
This kata isn't solvable in it's current state, since I'm not allowed to make changes to the tests.
Specifically, this line of code in the test file makes it impossible to pass the test:
[code]

Reference: https://jestjs.io/docs/en/expect.html#tothrowerror

I'm assuming this is why nobody solved this kata yet... 😢

[2018-10-20 22:49] adamxtokyo commented on #891
/reset

[2018-10-20 23:08] #952 closed

[2018-10-20 23:08] kallerdaller commented on #891
Oh dang, I'm sorry. I'm really new to this jest thing and I've closed the PR :/

[2018-10-20 23:11] adamxtokyo commented on #891
@kallerdaller No worries mate, we all make mistakes! 😌 I have no idea how to fix the test myself though... Maybe @rgehan can help us with that?

[2018-10-20 23:30] NotoriousRebel commented on #910
@taverasmisael if you want it take it. I don't have time to do this.

[2018-10-20 23:30] NotoriousRebel commented on #910
/release

[2018-10-20 23:35] rgehan commented on #910
/reset

[2018-10-20 23:36] rgehan commented on #910
/assign @taverasmisael

[2018-10-20 23:46] adamxtokyo commented on #908
/request

[2018-10-20 23:46] rgehan commented on #908
Sorry @adamxtokyo, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-20 23:46] courtneynguyen commented on #908
/request

[2018-10-20 23:46] rgehan commented on #908
Hey @courtneynguyen, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 23:56] taverasmisael commented on #910
Thanks

[2018-10-21 00:09] surmistry opened #958 "Implement positiveAttitude"
# positiveAttitude

### Link to the PR that adds this test case:

#959

### Where to implement:

`src/<positiveAttitude>.js`

### Where are the tests:

`src/<positiveAttitude>.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is as

[2018-10-21 00:20] surmistry opened #960 "Implement stopApologizing"
# [stopApologizing]

### Link to the PR that adds this test case:

#955

### Where to implement:

`src/<stopApologizing>.js`

### Where are the tests:

`src/<stopApologizing>.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is ass

[2018-10-21 00:51] taverasmisael opened #961 "Implement unusedNumbers"
# unusedNumbers

### Link to the PR that adds this test case:

[Pull Request](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/957)

### Where to implement:

`src/unusedNumbers.js`

### Where are the tests:

`src/unusedNumbers.test.js`

### Description (optional):

A function that takes any number of integer parameters and returns a string containing (in order) all the integer numbers not u

[2018-10-21 01:08] taverasmisael opened #963 "calculate Rectangle areas"
# calculateRectangleAreas

### Link to the PR that adds this test case:

#962

### Where to implement:

`src/calculateRectangleAreas.js`

### Where are the tests:

`src/calculateRectangleAreas.test.js`

### Description (optional):

Given a 2D array of numbers (rectangle measurements) calculate its area returning a single dimension array with the results for each pair

---

# If you want to take on

[2018-10-21 01:09] #910 closed

[2018-10-21 02:03] mmendesas commented on #958
/request

[2018-10-21 02:03] rgehan commented on #958
Hey @mmendesas, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 02:06] rahulchanglani opened #964 "Automorphic number test"
# isAutomorphic

### Link to the PR that adds this test case:

[https://github.com//pull/937]

### Where to implement:

`src/isAutomorphic.js`

### Where are the tests:

`src/isAutomorphic.test.js`

### Description (optional):

If the number's square ends in the same digits as the number itself, then it is automorphic. Otherwise it is not.
---

# If you want to take on this issue:

- Check that th

[2018-10-21 02:10] #937 closed

[2018-10-21 02:16] rahulchanglani commented on #963
/request

[2018-10-21 02:16] rgehan commented on #963
Sorry, @rahulchanglani, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-21 02:17] rahulchanglani commented on #961
/request

[2018-10-21 02:17] rgehan commented on #961
Sorry, @rahulchanglani, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-21 02:32] rgehan commented on #914
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-21 02:40] courtneynguyen opened #967 "Implement Pangram checker"
# pangram

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/966

### Where to implement:

`src/pangram.js`

### Where are the tests:

`src/pangram.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for

[2018-10-21 02:43] rahulchanglani commented on #914
/request

[2018-10-21 02:43] rgehan commented on #914
Hey @rahulchanglani, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 03:28] mmendesas opened #968 "Implement mask to CPF number"
# [maskCPF]

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/maskCPF.js`

### Where are the tests:

`src/maskCPF.test.js`

### Description (optional):

This issue requires you to only add a pattern to a string.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/reques

[2018-10-21 03:36] #958 closed

[2018-10-21 03:39] jeanbenitez commented on #968
/request

[2018-10-21 03:39] rgehan commented on #968
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 05:18] rahulchanglani opened #970 "Move zeroes to end"
# moveZerosToEnd

### Link to the PR that adds this test case:

[https://github.com//pull/914]

### Where to implement:

`src/moveZerosToEnd.js`

### Where are the tests:

`src/moveZerosToEnd.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the

[2018-10-21 06:54] adamxtokyo commented on #970
/request

[2018-10-21 06:54] rgehan commented on #970
Sorry @adamxtokyo, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-21 09:06] V1shvesh commented on #970
/request

[2018-10-21 09:06] rgehan commented on #970
Hey @V1shvesh, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 10:01] #803 closed

[2018-10-21 10:04] #852 closed

[2018-10-21 10:05] rgehan commented on #960
/init

[2018-10-21 10:06] rgehan commented on #961
/init

[2018-10-21 10:08] rgehan commented on #963
/init

[2018-10-21 10:08] rgehan commented on #964
/init

[2018-10-21 10:20] V1shvesh opened #973 "addMatrix"
# [addMatrix]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/972]

### Where to implement:

`src/addMatrix.js`

### Where are the tests:

`src/addMatrix.test.js`

### Description (optional):

Takes two matrices of equal dimensions as input and outputs the sum of both matrices.

---

# If you want to take on this issue:

- Check that the kata

[2018-10-21 10:50] pckhib commented on #944
/request

[2018-10-21 10:50] rgehan commented on #944
Hey @pckhib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 11:26] pckhib opened #975 "Implement pounds to kilogram converter"
# Pounds to Kilogram

### Link to the PR that adds this test case:

#974

### Where to implement:

`src/poundsToKilogram.js`

### Where are the tests:

`src/poundsToKilogram.test.js`

### Description (optional):

Convert pounds to kilogram.
Check the test file for the functionality.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned

[2018-10-21 11:28] #944 closed

[2018-10-21 11:31] oyavri commented on #975
/request

[2018-10-21 11:31] rgehan commented on #975
Hey @oyavri, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 11:39] pckhib commented on #960
/request

[2018-10-21 11:39] rgehan commented on #960
Hey @pckhib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 11:53] pckhib commented on #960
@surmistry There's an error in the test file [line 9](https://github.com/rgehan/hacktoberfest-2k18-katas/blob/b901a7b12e8cb97d8e348c931399dcca11b2ecbd/src/stopApologizing.test.js#L9).
An closing bracket right before `.toEqual` is missing

[2018-10-21 11:55] VivekSingh777 commented on #963
/request

[2018-10-21 11:55] rgehan commented on #963
Hey @VivekSingh777, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 12:05] leodevo commented on #964
/request

[2018-10-21 12:05] rgehan commented on #964
Hey @leodevo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 12:17] leventdeniz commented on #935
/request

[2018-10-21 12:17] rgehan commented on #935
Hey @leventdeniz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 12:18] gihanmu commented on #961
/request

[2018-10-21 12:18] rgehan commented on #961
Hey @gihanmu, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 13:11] bbutkovic opened #976 "Implement firstMondayOfEveryMonth"
# firstMondayOfEveryMonth

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/firstMondayOfEveryMonth.js`

### Where are the tests:

`src/firstMondayOfEveryMonth.test.js`

### Description (optional):

Given a year return an associative array where each 3-letter key links to a certain number, that number being the day of month that is the first monday of that mon

[2018-10-21 13:17] #947 closed

[2018-10-21 13:29] IPedgE commented on #976
/request

[2018-10-21 13:29] rgehan commented on #976
Hey @IPedgE, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 13:32] rgehan commented on #884
Hey @suyasha0,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-21 14:00] psr1919plus21 commented on #757
/request

[2018-10-21 14:00] rgehan commented on #757
Hey @psr1919plus21, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 14:06] leventdeniz opened #979 "Implement drop"
# drop

### Link to the PR that adds this test case:

#978

### Where to implement:

`src/drop.js`

### Where are the tests:

`src/drop.test.js`

### Description (optional):

Creates a slice of array with n elements dropped from the beginning.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to

[2018-10-21 14:09] #935 closed

[2018-10-21 14:09] leventdeniz commented on #979
/request

[2018-10-21 14:09] rgehan commented on #979
Hey @leventdeniz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 14:33] leodevo opened #981 "isPalindromicNumber"
isPalindromicNumber

### Link to the PR that adds this test case:

#982

### Where to implement:

`src/isPalindromicNumber.js`

### Where are the tests:

`src/isPalindromicNumber.test.js`

### Description (optional):

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull

[2018-10-21 14:39] gihanmu opened #984 "Get the timestamp of a given date"
# dateTimestamp

### Link to the PR that adds this test case:

[Pull Request](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/985)

### Where to implement:

`src/dateTimestamp.js`

### Where are the tests:

`src/dateTimestamp.test.js`

### Description (optional):

A date is given in string. Your task is to get its relevant timestamp. Handle exceptions for invalid dates as well. See the uni

[2018-10-21 14:47] leventdeniz opened #986 "Implement dropRight"
# dropRight

### Link to the PR that adds this test case:

#987

### Where to implement:

`src/dropRight.js`

### Where are the tests:

`src/dropRight.test.js`

### Description (optional):

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following

[2018-10-21 14:54] #979 closed

[2018-10-21 14:54] VivekSingh777 opened #989 "Calculate Rectange Volume"
# [calculateRectangeVolume]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/988]

### Where to implement:

`src/<calculateRectangleVolume>.js`

### Where are the tests:

`src/<calculateRectangleVolume>.test.js`

### Description (optional):

Calculate the rectange volume of all the rectangle given in an array.
Input : 2 dimensional array
outpu

[2018-10-21 15:10] IPedgE opened #990 "Implement getNextLeapYear"
# getNextLeapYear

### Link to the PR that adds this test case:

#991

### Where to implement:

`src/getNextLeapYear.js`

### Where are the tests:

`src/getNextLeapYear.test.js`

### Description (optional):

Get the next leap year relative to the given year.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with

[2018-10-21 15:11] jackkav commented on #986
/request

[2018-10-21 15:11] rgehan commented on #986
Hey @jackkav, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 15:25] jackkav opened #993 "Implement isIPAddress"
# isIPAddress

### Link to the PR that adds this test case:

[#992](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/992)

### Where to implement:

`src/isIPAddress.js`

### Where are the tests:

`src/isIPAddress.test.js`

### Description (optional):

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with

[2018-10-21 15:37] Mano3 commented on #990
/request

[2018-10-21 15:37] rgehan commented on #990
Hey @Mano3, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 15:49] VivekSingh777 commented on #963
Test Case for this are wrong.
expect(calculateRectangleAreas([[3, 4]])).isEqual([12])
expect(calculateRectangleAreas([[3,4], [8, 10]])).isEqual([12, 80])
expect(calculateRectangleAreas([[1,2], [4, 2], [8, 18], [12, 5]])).isEqual([2, 8, 144, 60])

[2018-10-21 15:52] VivekSingh777 commented on #963
@rgehan Why we are throwing error in Success case

[2018-10-21 16:28] bbutkovic commented on #981
/request

[2018-10-21 16:28] rgehan commented on #981
Sorry, @bbutkovic, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-21 16:39] taverasmisael commented on #963
@VivekSingh777 my bad man, your correction is totally right, in the success cases should be ```.isEqual``` not ```.toThrow```. You can upload the changes in your PR

[2018-10-21 16:45] Mano3 opened #997 "Implement getLastLeapYear"
# [getLastLeapYear]

### Link to the PR that adds this test case:

#996

### Where to implement:

`src/getLastLeapYear.js`

### Where are the tests:

`getLastLeapYear.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to

[2018-10-21 16:47] shivakaushal commented on #993
/request

[2018-10-21 16:47] rgehan commented on #993
Sorry, @shivakaushal, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-21 17:50] #874 closed

[2018-10-21 17:58] jeanbenitez opened #1000 "TravisBuddy assign labels in PR instead the issue"
@rgehan I think the issue is because some contributors made the issue after the PR...

[2018-10-21 18:08] psr1919plus21 commented on #757
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1001

[2018-10-21 18:42] #964 closed

[2018-10-21 18:42] #961 closed

[2018-10-21 18:50] xtangle commented on #981
/request

[2018-10-21 18:50] rgehan commented on #981
Hey @xtangle, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 19:01] nip10 commented on #984
/request

[2018-10-21 19:01] rgehan commented on #984
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 19:32] rgehan commented on #933
Hey @GaryPWhite,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-21 19:50] suyasha0 commented on #884
@nfatma
I already completed this actually. I was just waiting on the test fix as noted above. :(

[2018-10-21 20:19] adamxtokyo commented on #933
/request

[2018-10-21 20:44] xtangle opened #1003 "Implement minKnightMoves"
# [minKnightMoves]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1002]

### Where to implement:

`src/minKnightMoves.js`

### Where are the tests:

`src/minKnightMoves.test.js`

### Description (optional):

Given a starting square and ending square on an 8x8 chessboard, the goal is to calculate the minimum number of moves a Knight must make

[2018-10-21 20:46] #981 closed

[2018-10-21 21:15] nip10 opened #1005 "Implement isCircularPrime"
# isCircularPrime

### Link to the PR that adds this test case:

#1007

### Where to implement:

`src/isCircularPrime.js`

### Where are the tests:

`src/isCircularPrime.test.js`

### Description (optional):

A circular prime is a prime number with the property that the number generated at each intermediate step when cyclically permuting its (base 10) digits will be prime. ([source](https://en.wik

[2018-10-21 21:16] oyavri opened #1006 "Implement inchesToCentimeters"
# inchesToCentimeters

### Link to the PR that adds this test case:

[#1013](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1013)

### Where to implement:

`src/inchesToCentimeters.js`

### Where are the tests:

`src/inchesToCentimeters.test.js`

### Description (optional):

Converts inches to centimeters
---

# If you want to take on this issue:

- Check that the kata is labelled "up for

[2018-10-21 21:19] #984 closed

[2018-10-21 21:32] czajkowski commented on #933
/request

[2018-10-21 21:32] rgehan commented on #933
Hey @czajkowski, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 21:39] leodevo commented on #1005
/request

[2018-10-21 21:39] rgehan commented on #1005
Hey @leodevo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-21 22:32] rgehan commented on #953
Hey @andrasbacsai,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sym

[2018-10-21 22:41] xtangle commented on #953
/request

[2018-10-21 22:41] rgehan commented on #953
Hey @xtangle, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-22 02:24] jeanbenitez commented on #968
I almost done...

[2018-10-22 02:24] jeanbenitez commented on #968
I almost done...

[2018-10-22 02:46] jeanbenitez opened #1008 "n-th sum nine"
# nthSumNine

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1038

### Where to implement:

`src/nthSumNine.js`

### Where are the tests:

`src/nthSumNine.test.js`

### Description (optional):

Given an integer value n, where 0 < n < 50, find out the n-th positive integer whose sum is 9.

---

# If you want to take on this issue:

- Check that

[2018-10-22 02:49] jeanbenitez opened #1010 "nthSumNine"
# nthSumNine

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/nthSumNine.js`

### Where are the tests:

`src/nthSumNine.test.js`

### Description (optional):

Given an integer value n, where 0 < n < 50, find out the n-th positive integer whose sum is 9.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is

[2018-10-22 03:32] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 03:33] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 03:35] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 04:32] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 04:32] rgehan commented on #891
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 04:33] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 04:35] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 04:35] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 05:18] VivekSingh777 commented on #963
@rgehan Will u look at the above PR. It can not be automatically merge

[2018-10-22 05:20] andrasbacsai commented on #953
#956 opened to correct the test case, but it is closed without merging. @rgehan could you please check? I think @xtangle cannot do it aswell with the current test case. Thanks.

[2018-10-22 05:32] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 05:33] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 05:33] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 05:35] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 06:32] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 06:32] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 06:33] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 06:33] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 06:35] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 06:36] rgehan commented on #891
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 07:32] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 07:32] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 07:33] yavrib commented on #1006
Can I take this one?

[2018-10-22 07:33] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 07:33] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 07:34] yavrib commented on #1006
Can I take this one?

[2018-10-22 07:35] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 07:35] rgehan commented on #891
Hey @adamxtokyo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-22 08:32] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 08:33] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 08:35] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 08:47] V1shvesh commented on #970
Hey @rgehan

I'm trying to merge my PR, but I get this message :

![screenshot_2018-10-22 finished movezerostoend and created addmatrix by v1shvesh pull request 972 rgehan hacktoberfest-](https://user-images.githubusercontent.com/22243137/47284469-1d539e80-d605-11e8-95d7-a9bde3f2fb99.png)

[2018-10-22 09:19] adamxtokyo commented on #1003
/request

[2018-10-22 09:22] adamxtokyo commented on #1003
/request

[2018-10-22 09:31] kallerdaller commented on #891
@GaryPWhite The PR is already closed :/

[2018-10-22 09:32] rgehan commented on #968
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-22 09:33] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 09:35] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 10:24] adamxtokyo commented on #1003
/request

[2018-10-22 10:32] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 10:33] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 10:35] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 11:17] rgehan commented on #891
Wtf is happening here :)

[2018-10-22 11:32] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 11:32] rgehan commented on #891
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 12:32] rgehan commented on #968
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 12:32] rgehan commented on #891
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 12:32] rgehan commented on #960
Hey @pckhib,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-22 12:34] czajkowski opened #1012 "syncAsync"
# syncAsync

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1011

### Where to implement:

`src/syncAsync.js`

### Where are the tests:

`src/syncAsync.test.js`

### Description (optional):

You need to write a function that accepts other functions and invokes them in a sequence.
Each function is invoked after the previous one finishes.

---

[2018-10-22 12:34] adamxtokyo commented on #968
/request

[2018-10-22 12:35] adamxtokyo commented on #1003
/request

[2018-10-22 13:32] rgehan commented on #960
Hey @pckhib,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-22 13:32] rgehan commented on #844
Hey @willsoto,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-22 13:32] rgehan commented on #891
Hey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol before).

[2018-10-22 14:19] VivekSingh777 commented on #1003
/request

[2018-10-22 14:32] rgehan commented on #960
Hey @pckhib,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-22 14:32] rgehan commented on #844
Hey @willsoto,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-22 15:32] rgehan commented on #844
Hey @willsoto,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-22 15:32] rgehan commented on #960
Hey @pckhib,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-22 16:58] adamxtokyo commented on #891
My thought exactly 😂
I’ve gotten 20+ automated messages from the bot, and the issue is still assigned to me for some reason.
Can you help us fix this @rgehan? Either by  removing the issue from me, or by fixing the test case so I can finish the issue 🙏😬

[2018-10-22 17:58] rgehan commented on #891
There was an issue with Github API today, that might be the reason why you've been spammed that much

[2018-10-22 18:41] rgehan commented on #968
Hey @adamxtokyo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-22 18:41] rgehan commented on #1003
Sorry @adamxtokyo, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-22 19:03] rgehan commented on #1003
Sorry @VivekSingh777, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-22 19:05] rgehan commented on #968
Sorry, @jeanbenitez, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-22 19:41] #970 closed

[2018-10-22 20:48] rinkevich commented on #884
Hi @suyasha0, submitted a PR with the fixed tests

[2018-10-22 20:53] #933 closed

[2018-10-22 21:08] #1010 closed

[2018-10-22 21:43] adamxtokyo opened #1016 "translatePigLatin 🐷"
# translatePigLatin

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1015

### Where to implement:

`src/translatePigLatin.js`

### Where are the tests:

`src/translatePigLatin.test.js`

### Description:

Translate a LOWERCASE sentence from SIMPLIFIED pig latin back to English and return the string.

- A lowercase string is the ONLY valid argum

[2018-10-22 22:44] nicovigil1 commented on #1016
/request

[2018-10-22 22:44] rgehan commented on #1016
Hey @nicovigil1, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-22 22:46] nicovigil1 commented on #1016
/unrequest

[2018-10-22 23:32] rgehan commented on #953
Hey @xtangle,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-23 00:12] xtangle commented on #1012
/request

[2018-10-23 00:12] rgehan commented on #1012
Hey @xtangle, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 00:34] GaryPWhite commented on #960
@surmistry @rgehan there's a bit of a typo in the test, line 9

https://github.com/rgehan/hacktoberfest-2k18-katas/blob/0d7ef4bd126e7da5f8e0ae7729044797a704f13e/src/stopApologizing.test.js#L9

ought to have an extra parenthesee before calling .toEqual(). Throws an error otherwise. Let me know if we can get this resolved 👍

[2018-10-23 00:36] GaryPWhite commented on #960
also, @pckhib seems to have pointed this out, and I'm alright with having the issue reverted to him for credit on his PR. I understand there was a lot of issues with Github today and last night, so I think it might have been lost in that shuffle.

[2018-10-23 00:52] gabrielbonner commented on #891
/request

[2018-10-23 00:52] rgehan commented on #891
Hey @gabrielbonner, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 07:15] gabrielbonner commented on #891
@rgehan Can you fix the test that isn't allowing anyone to merge their PR?

[2018-10-23 08:05] #891 closed

[2018-10-23 08:06] #986 closed

[2018-10-23 08:09] #963 closed

[2018-10-23 08:11] #975 closed

[2018-10-23 08:12] gabrielbonner commented on #891
@rgehan Thank you!  👍

[2018-10-23 08:14] #990 closed

[2018-10-23 08:15] #908 closed

[2018-10-23 08:19] VivekSingh777 commented on #1006
/request

[2018-10-23 08:19] rgehan commented on #1006
Hey @VivekSingh777, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 10:07] Mano3 commented on #993
/request

[2018-10-23 10:07] rgehan commented on #993
Hey @Mano3, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 11:16] Mano3 opened #1019 "Implement isUSPostalCode"
# [isUSPostalCode]

### Link to the PR that adds this test case: #1018

### Where to implement:

`src/isUSPostalCode.js`

### Where are the tests:

`src/isUSPostalCode.test.js`

### Description (optional):

read at wikipedia's page about rules regarding US Postal Code

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue,

[2018-10-23 11:31] #993 closed

[2018-10-23 11:55] Lolechi commented on #1019
/request

[2018-10-23 11:55] rgehan commented on #1019
Hey @Lolechi, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 12:00] Lolechi commented on #973
Are the matrices simply two 2-dimensional arrays? Either way /request

[2018-10-23 12:00] rgehan commented on #973
Sorry @Lolechi, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-23 14:15] jeanbenitez commented on #1003
/request

[2018-10-23 14:15] rgehan commented on #1003
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 17:39] nfatma commented on #989
/request

[2018-10-23 17:39] rgehan commented on #989
Sorry @nfatma, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-23 21:32] rgehan commented on #884
Hey @nfatma,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-23 21:41] suyasha0 commented on #884
/request

[2018-10-23 21:41] rgehan commented on #884
Hey @suyasha0, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-23 21:51] Lolechi opened #1020 "Create union set from two other sets"
# [createSet]

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/createSet.js`

### Where are the tests:

`src/createSet.test.js`

### Description (optional):

createSet returns an *ordered* set (smallest to greatest) that is the union of two *unordered* sets

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no on

[2018-10-23 21:57] #1019 closed

[2018-10-23 23:09] xtangle opened #1023 "Implement luckyNumbers"
# [luckyNumbers]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1022

### Where to implement:

`src/luckyNumbers.js`

### Where are the tests:

`src/luckyNumbers.test.js`

### Description (optional):

A 'lucky' number is a natural number generated by a sieve, similar to how prime numbers are generated,
but instead of eliminating numbers based

[2018-10-23 23:09] #1012 closed

[2018-10-23 23:32] rgehan commented on #1016
Hey @nicovigil1,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-23 23:44] reekjam commented on #1016
/request

[2018-10-23 23:44] rgehan commented on #1016
Hey @reekjam, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 00:26] defart opened #1024 "Implement sortByOneBitCount"
# sortByOneBitCount

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1025

### Where to implement:

`src/sortByOneBitCount.js`

### Where are the tests:

`src/sortByOneBitCount.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask

[2018-10-24 00:29] #1020 closed

[2018-10-24 01:32] rgehan commented on #960
Hey @GaryPWhite,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-24 04:29] ikhnaton commented on #997
seems to be already complete

[2018-10-24 04:57] jmoseley commented on #1023
/request

[2018-10-24 04:57] rgehan commented on #1023
Hey @jmoseley, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 06:38] reekjam opened #1027 "Implement wordSort"
# [wordSort]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1026]

### Where to implement:

`src/wordSort.js`

### Where are the tests:

`src/wordSort.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled

[2018-10-24 06:48] #1016 closed

[2018-10-24 06:52] jmoseley opened #1028 "Implement AlienAlphabet"
# [alienAlphabet]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1029

### Where to implement:

`src/alienAlphabet.js`

### Where are the tests:

`src/alienAlphabet.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- C

[2018-10-24 06:56] #1023 closed

[2018-10-24 08:32] rgehan commented on #1006
Hey @VivekSingh777,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sy

[2018-10-24 09:19] shingz96 commented on #989
/request

[2018-10-24 09:19] rgehan commented on #989
Hey @shingz96, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 11:01] nip10 commented on #1006
/request

[2018-10-24 11:01] rgehan commented on #1006
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 11:48] Mano3 commented on #1028
/request

[2018-10-24 11:48] rgehan commented on #1028
Hey @Mano3, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 11:59] xit4 commented on #1027
/request

[2018-10-24 12:00] rgehan commented on #1027
Hey @xit4, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 12:22] Mano3 opened #1030 "Implement mathEquation.js"
# [mathEquation.js]

### Link to the PR that adds this test case: #1031

### Where to implement:

`src/mathEquation.js`

### Where are the tests:

`src/mathEquation.test.js`

### Description (optional):
Check test cases too for help.
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it

[2018-10-24 12:30] #1028 closed

[2018-10-24 12:50] xit4 opened #1032 "isSexyPrime"
# isSexyPrime

### Link to the PR that adds this test case:

#1033

### Where to implement:

`src/isSexyPrime.js`

### Where are the tests:

`src/isSexyPrime.test.js`

### Description (optional):

All you need to know is [here](https://en.wikipedia.org/wiki/Sexy_prime)

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue,

[2018-10-24 12:54] #1027 closed

[2018-10-24 13:42] yavrib commented on #1030
/request

[2018-10-24 13:42] rgehan commented on #1030
Hey @yavrib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 14:23] shingz96 opened #1034 "Take Right with n elements from Array or String"
# [takeRight]

### Link to the PR that adds this test case:

#1035

### Where to implement:

`src/takeRight.js`

### Where are the tests:

`src/takeRight.test.js`

### Description (optional):

Returns an array/string with n elements removed from the end while still keep the order. Default take 1 if no provide any number to take.
* EG 1: takeRight( [1,2,3,4,5,6], 5 ) -> [2,3,4,5,6]
* EG 2: takeRigh

[2018-10-24 14:28] #989 closed

[2018-10-24 14:32] rgehan commented on #1003
Hey @jeanbenitez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-24 14:43] wallchuck commented on #1032
/request

[2018-10-24 14:43] rgehan commented on #1032
Hey @wallchuck, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 15:01] jeanbenitez commented on #1003
/request

[2018-10-24 15:01] rgehan commented on #1003
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 15:06] mphan6 commented on #1034
/Request

[2018-10-24 15:27] wallchuck opened #1037 "humanReadableDuration"
# humanReadableDuration

### Link to the PR that adds this test case:

#1036

### Where to implement:

`src/humanReadableDuration.js`

### Where are the tests:

`src/humanReadableDuration.test.js`

### Description (optional):

 Write a function that accepts a non-negative integer,
 interprets it as a number of seconds and returns the duration
 in a human-readable format.

 Units in the returned va

[2018-10-24 15:30] #1032 closed

[2018-10-24 16:38] wallchuck commented on #967
/request

[2018-10-24 16:38] rgehan commented on #967
Hey @wallchuck, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 16:39] #1003 closed

[2018-10-24 16:40] jeanbenitez commented on #1000
Github was crazy the other day...

[2018-10-24 16:40] #1000 closed

[2018-10-24 16:41] mShreyasKumar commented on #1034
/request: May I take on this issue

[2018-10-24 16:41] rgehan commented on #1034
Hey @mShreyasKumar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 17:03] mphan6 commented on #1034
uhmmm okay.

[2018-10-24 17:22] nfatma commented on #973
I am working on it.

[2018-10-24 18:35] wallchuck commented on #967
/reset

[2018-10-24 18:37] nip10 opened #1040 "Implement covariance"
# covariance

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/covariance.js`

### Where are the tests:

`src/covariance.test.js`

### Description (optional):

In probability theory and statistics, covariance is a measure of the joint variability of two random variables. ([source](https://en.wikipedia.org/wiki/Covariance))

---

# If you want to take on this i

[2018-10-24 18:41] #1006 closed

[2018-10-24 19:04] mShreyasKumar commented on #1034
Unable to push code, not sure what is wrong
![image](https://user-images.githubusercontent.com/15031868/47454786-b5ac7780-d7ed-11e8-9a60-6a1aff0f513e.png)

[2018-10-24 19:39] suyasha0 opened #1042 "Implement minSwaps"
# minSwaps

### Link to the PR that adds this test case:

[#1043](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1043)

### Where to implement:

`src/minSwaps.js`

### Where are the tests:

`src/minSwaps.test.js`

### Description (optional):

Calculate the minimum number of swaps it takes to sort an array in ascending order.

---

# If you want to take on this issue:

- Check that the kat

[2018-10-24 19:47] mphan6 commented on #1008
/request

[2018-10-24 19:47] rgehan commented on #1008
Hey @mphan6, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-24 19:59] #884 closed

[2018-10-24 20:17] mphan6 commented on #1008
On second thought, the test cases don't make sense.
@jeanbenitez  Why wouldn't the next positive integer whose digit sum is 9, not 9?

[2018-10-24 20:36] rgehan commented on #1034
You're supposed to fork the repo, because I cannot allow anyone to push whatever they want

[2018-10-24 21:05] jeanbenitez commented on #1008
Ok, you're right, ignore the 9 as an obvious solution, and make your solution be valid for the test cases I've put ;)

[2018-10-24 21:09] mphan6 commented on #1008
I'm still not understanding, looking at the next test case with 12, why wouldn't it be 126?

[2018-10-24 21:22] jeanbenitez commented on #1008
Yes! Damn! My bad... We need update those test cases!

[2018-10-24 21:30] jeanbenitez commented on #1008
[code]

[2018-10-24 21:32] jeanbenitez commented on #1008
You can fix the test cases, @rgehan will approve your PR ;)

[2018-10-24 22:18] mphan6 opened #1044 "FirstDigitSum"
# firstDigitSum

### Link to the PR that adds this test case:

#1045

### Where to implement:

`src/firstDigitSum.js`

### Where are the tests:

`src/firstDigitSum.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A

[2018-10-24 22:46] mphan6 commented on #1037
/request

[2018-10-24 22:46] rgehan commented on #1037
Sorry @mphan6, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-24 23:41] yavrib opened #1047 "Add findFinalVelocityOfAnObject"
# findFinalVelocityOfAnObject

### Link to the PR that adds this test case:

[the url](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1046)

### Where to implement:

`src/findFinalVelocityOfAnObject.js`

### Where are the tests:

`src/findFinalVelocityOfAnObject.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to

[2018-10-24 23:42] #1030 closed

[2018-10-25 03:43] tagpro commented on #1047
/request

[2018-10-25 03:43] rgehan commented on #1047
Hey @tagpro, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-25 04:32] rgehan commented on #997
Hey @ikhnaton,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-25 16:48] nfatma commented on #973
i am almost done

[2018-10-25 18:32] goatlink commented on #1024
/request

[2018-10-25 18:32] rgehan commented on #1024
Hey @goatlink, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-25 19:32] rgehan commented on #967
Hey @wallchuck,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-25 21:12] goatlink commented on #1024
did you mean for the tests to use .toEqual() instead of .toBe()?

[2018-10-25 21:22] yavrib commented on #997
/request

[2018-10-25 21:22] rgehan commented on #997
Hey @yavrib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-25 21:32] rgehan commented on #1034
Hey @mShreyasKumar,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sy

[2018-10-25 21:55] yavrib opened #1051 "Add squarePyramidArea"
# squarePyramidArea

### Link to the PR that adds this test case:

[the url](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1052)

### Where to implement:

`src/squarePyramidArea.js`

### Where are the tests:

`src/squarePyramidArea.test.js`

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` t

[2018-10-25 21:58] #997 closed

[2018-10-25 22:01] yavrib commented on #1034
/request

[2018-10-25 22:01] rgehan commented on #1034
Hey @yavrib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-25 22:02] defart commented on #1024
@goatlink  First, a big apology to you. Yes it should test with toEqual  since the output is an array, I've created a PR that fixes the test.

[2018-10-25 22:05] KostasLib commented on #1051
/request

[2018-10-25 22:05] rgehan commented on #1051
Hey @KostasLib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-25 22:29] yavrib commented on #1051
#1055 fixes the tests for this issue.

[2018-10-25 23:01] GaryPWhite commented on #960
alright, i'll take it up again

[2018-10-25 23:01] GaryPWhite commented on #960
/request

[2018-10-25 23:01] rgehan commented on #960
Hey @GaryPWhite, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-25 23:02] GaryPWhite commented on #960
and there's still this bug... @surmistry pls

[2018-10-26 04:32] rgehan commented on #1047
Hey @tagpro,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-26 05:17] thanhcng commented on #953
/request

[2018-10-26 05:17] rgehan commented on #953
Hey @thanhcng, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-26 06:00] xstplvivek commented on #1047
/request

[2018-10-26 06:01] rgehan commented on #1047
Hey @xstplvivek, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-26 06:02] thanhcng opened #1057 "Test if a triangle is a Right Triangle"
#  isRightTriangle

### Link to the PR that adds this test case:

#1056

### Where to implement:

`src/isRightTriangle.js`

### Where are the tests:

`src/isRightTriangle.test.js`

### Description (optional):

The function should determine whether the provided edges will make up a right triangle. A right triangle will have the area of the largest edge equal to the total area of the other two edges

[2018-10-26 08:43] LOC1207 commented on #1051
/request

[2018-10-26 08:43] rgehan commented on #1051
Sorry, @LOC1207, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-26 10:31] xstplvivek commented on #1047
I believe 2 test cases are wrong. Can I fix them and commit?

[2018-10-26 11:27] xstplvivek opened #1058 "2 numbers are Co-prime"
# isCoPrime

### Link to the PR that adds this test case:

[[the url](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1061)]

### Where to implement:

`src/isCoPrime.js`

### Where are the tests:

`src/isCoPrime.test.js`

### Description (optional):

When two numbers have no common factors other than 1.

In other words there is no whole number that you could divide them both by exactly (wi

[2018-10-26 11:30] yavrib opened #1060 "Add volumeOfSquarePyramid"
# volumeOfSquarePyramid

### Link to the PR that adds this test case:

[the url](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1059)

### Where to implement:

`src/volumeOfSquarePyramid.js`

### Where are the tests:

`src/volumeOfSquarePyramid.test.js`

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with

[2018-10-26 14:10] jrga03 opened #1063 "Implement listFiles"
# listFiles

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1062

### Where to implement:

`src/listFiles.js`

### Where are the tests:

`src/listFiles.test.js`

### Description (optional):

Write a function that lists all the files from a given data(first parameter) and returns it as an array. It can also accept a second parameter which lists

[2018-10-26 14:10] #1037 closed

[2018-10-26 15:41] KostasLib opened #1065 "isPalindromeStringOrNumber"
# [isPalindromeStringOrNumber]

### Link to the PR that adds this test case:

[#1064]

### Where to implement:

`src/isPalindromeStringOrNumber.js`

### Where are the tests:

`src/isPalindromeStringOrNumber.test.js`

### Description (optional):

A function that checks if a given number or string is a palindrome.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for

[2018-10-26 15:43] randylam87 commented on #967
/request

[2018-10-26 15:43] rgehan commented on #967
Hey @randylam87, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-26 15:44] #1051 closed

[2018-10-26 16:21] wood2jp2 commented on #1065
/request

[2018-10-26 16:21] rgehan commented on #1065
Hey @wood2jp2, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-26 16:38] randylam87 commented on #967
@rgehan
I believe there is an issue with the test cases.

It should be:
[code]
per: https://stackoverflow.com/questions/4144686/how-to-write-a-test-which-expects-an-error-to-be-thrown-in-jasmine

[2018-10-26 16:40] jrga03 commented on #1063
@j4ys it would look something like this

[code]

where:
*  `dir` is a string, the directory name
*  `files` is an array containing the files. The files are represented in strings and a nested directory is represented as an object

Hope this helps!

[2018-10-26 17:52] wood2jp2 opened #1067 "Implement isValidEmailAddress function"
# [Name of the function]

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1068

### Where to implement:

`src/isValidEmailAddress.js`

### Where are the tests:

`src/isValidEmailAddress.test.js`

### Description (optional):

Ensure that the email contains a name (prior to an '@' sign), and a valid website and endpoint after the @ sign including a period (.) such as the following: name@webs

[2018-10-26 18:04] randylam87 opened #1070 "Implement listNames"
# listNames

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1069

### Where to implement:

`src/listNames.js`

### Where are the tests:

`src/listNames.test.js`

### Description (optional):

Given an array of names, return a string with names separated by a comma and ends in a ampersand.
Example:
['Bob', 'Jane', 'John'] should return 'Bob, Jan

[2018-10-26 18:07] #1065 closed

[2018-10-26 18:45] flagoon commented on #1070
/request

[2018-10-26 18:45] rgehan commented on #1070
Sorry, @flagoon, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-26 19:30] dreisgrr commented on #1067
/request

[2018-10-26 19:31] rgehan commented on #1067
Hey @dreisgrr, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-26 21:29] flagoon commented on #844
/request

[2018-10-26 21:29] rgehan commented on #844
Hey @flagoon, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-26 21:32] flagoon commented on #844
Can I have some more information about the task? Is groupBy function only receive max 3 parameters? Am I concern only with passing tests?

[2018-10-26 23:32] rgehan commented on #960
Hey @GaryPWhite,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-27 00:04] NitinSingh2020 commented on #1040
@nip10 @rgehan I created https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1075 but had to update one test-case as I found fit. I have not completed the check list as I wait for your response here. Thanks.

[2018-10-27 04:58] sautumn commented on #1063
/request

[2018-10-27 04:58] rgehan commented on #1063
Hey @sautumn, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-27 05:40] VivekMolkar commented on #1047
@rgehan how are test cases fixed and merged?

[2018-10-27 06:57] NitinSingh2020 opened #1078 "Implement l2norm"
# [Name of the function]

### Link to the PR that adds this test case:

[1075](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1075)

### Where to implement:

`src/l2norm.js`

### Where are the tests:

`src/l2norm.test.js`

### Description (optional):

[Refer here for generic norm definition](https://en.wikipedia.org/wiki/Norm_(mathematics)#p-norm)

---

# If you want to take on this issue

[2018-10-27 07:00] NitinSingh2020 commented on #1040
Thanks @nip10 ; I updated checklist at https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1075 to the best of my understanding. @rgehan please review.

[2018-10-27 08:23] sautumn opened #1080 "Candy"
# candy.js

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1079

### Where to implement:

`src/candy.js`

### Where are the tests:

`src/candy.test.js`

### Description (optional):

There are N children standing in a line. Each child is assigned a rating value.

You are giving candies to these children subjected to the following requirements:

[2018-10-27 09:25] benfes opened #1082 "Hasher"
# hasher

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1081]

### Where to implement:

`src/hasher.js`

### Where are the tests:

`src/hasher.test.js`

### Description (optional):

Hasher takes in a string of text, if the text is a single word it calculates the sum with a-z => 1-26 and returns the sum of the word, if there are multiple word

[2018-10-27 09:30] benfes commented on #1080
/request

[2018-10-27 09:30] rgehan commented on #1080
Sorry @benfes, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-27 09:35] showmeyourhits opened #1084 "Fix stopSwearing"
# [Name of the function]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1083]

### Where to implement:

`src/stopSwearing.js`

### Where are the tests:

`src/stopSwearing.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that t

[2018-10-27 09:54] #1042 closed

[2018-10-27 11:49] nfatma commented on #973
@V1shvesh can you please modify the test cases as suggested [https://github.com/rgehan/hacktoberfest-2k18-katas/pull/1049#issuecomment-433532380](here).

[2018-10-27 11:54] nfatma commented on #973
@V1shvesh can you please modify the test cases (by removing the arrow functions in expect).

[2018-10-27 21:26] flagoon opened #1087 "parenthesisMatcher"
# [parenthesisMatcher]

### Link to the PR that adds this test case:

[/pull/845]

### Where to implement:

`src/paranthesisMatcher.js`

### Where are the tests:

`src/src/paranthesisMatcher.test.js`

### Description (optional):

The function accepts a string of opening and closing parenthesis. It returns the place in this string, where the number of open parentheses is equal of the number of the

[2018-10-27 21:33] #844 closed

[2018-10-27 22:09] kylejlin commented on #1087
/request

[2018-10-27 22:09] rgehan commented on #1087
Hey @kylejlin, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-27 23:24] kylejlin opened #1089 "Add arrayifyString"
# arrayifyString

### Link to the PR that adds this test case:

#1090

### Where to implement:

`src/arrayifyString.js`

### Where are the tests:

`src/arrayifyString.test.js`

### Description (optional):

This function takes one argument, which is a guaranteed to be a `string`.

It will return an array with length equal to the length of the string. The returned array will be filled with child arr

[2018-10-28 02:12] benfes commented on #1084
/request

[2018-10-28 02:12] rgehan commented on #1084
Sorry, @benfes, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-28 09:40] #1034 closed

[2018-10-28 09:42] #1047 closed

[2018-10-28 09:45] #953 closed

[2018-10-28 09:46] #967 closed

[2018-10-28 09:47] #1008 closed

[2018-10-28 09:54] #1040 closed

[2018-10-28 09:56] #1087 closed

[2018-10-28 09:57] #960 closed

[2018-10-28 10:00] #757 closed

[2018-10-28 10:00] #973 closed

[2018-10-28 10:00] #1005 closed

[2018-10-28 10:00] #1024 closed

[2018-10-28 10:00] #1044 closed

[2018-10-28 10:00] #1057 closed

[2018-10-28 10:00] #1058 closed

[2018-10-28 10:00] #1060 closed

[2018-10-28 10:00] #1067 closed

[2018-10-28 10:00] #1070 closed

[2018-10-28 10:00] #1078 closed

[2018-10-28 10:00] #1080 closed

[2018-10-28 10:00] #1082 closed

[2018-10-28 10:00] #1084 closed

[2018-10-28 10:00] #1089 closed