[2018-10-09 20:38] mupraj10 commented on #459
@rgehan ah! I haven't gotten a chance to push up my code. I should be able to do later today.

[2018-10-09 20:39] rgehan commented on #459
/assign @mupraj10

[2018-10-09 20:40] siwalikm commented on #521
goodluck @cesar-cb

[2018-10-09 20:55] cesar-cb commented on #521
thanks @siwalikm

[2018-10-09 21:11] Zeroji opened #523 "Implement matrixTrace"
# matrixTrace

### Link to the PR that adds this test case:

#522

### Where to implement:

`src/matrixTrace.js`

### Where are the tests:

`src/matrixTrace.test.js`

### Description:

Calculate the [trace](https://en.wikipedia.org/wiki/Trace_(linear_algebra)) of a square matrix.
An exception is expected if the input matrix isn't square.

---

# If you want to take on this issue:

- Check that the

[2018-10-09 21:16] Zeroji opened #524 "Implement runBrainfuck"
# runBrainfuck

### Link to the PR that adds this test case:

#522

### Where to implement:

`src/runBrainfuck.js`

### Where are the tests:

`src/runBrainfuck.test.js`

### Description:

Create a [Brainfuck](https://en.wikipedia.org/wiki/Brainfuck#Language_design) interpreter.
There are no hard specifications on the interpreter, but it must properly handle the basic instruction set (`+-><.,[]`) a

[2018-10-09 21:17] DanielRamosAcosta commented on #524
/request

[2018-10-09 21:17] rgehan commented on #524
Sorry, @DanielRamosAcosta, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-09 21:42] rgehan commented on #523
/init

[2018-10-09 21:42] rgehan commented on #524
/assign @DanielRamosAcosta

[2018-10-09 21:42] #518 closed

[2018-10-09 21:49] ArfatSalman commented on #523
/request

[2018-10-09 21:49] rgehan commented on #523
Hey @ArfatSalman, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 22:07] cesar-cb opened #527 "Implement duplicatedArgs"
# duplicatedArgs

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/526

### Where to implement:

`src/duplicatedArgs.js`

### Where are the tests:

`src/duplicatedArgs.test.js`

### Description (optional):

Should returns true if it contains any duplicate argument values. Any number of arguments may be passed into the function.

---

# If you wa

[2018-10-09 22:26] TimFenwick15 opened #528 "Implement pokemonTypeDamageModifier"
# [pokemonTypeDamageModifier]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/525]

### Where to implement:

`src/pokemonTypeDamageModifier.js`

### Where are the tests:

`src/pokemonTypeDamageModifier.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take

[2018-10-09 22:28] #521 closed

[2018-10-09 22:28] rgehan commented on #527
/init

[2018-10-09 22:44] ArfatSalman opened #530 "Implement memoize"
# memoize

### Link to the PR that adds this test case:

#531

### Where to implement:

`src/memoize.js`

### Where are the tests:

`src/memoize.test.js`

### Description (optional):

Check [Memoization](https://en.wikipedia.org/wiki/Memoization).
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request`

[2018-10-09 22:47] #523 closed

[2018-10-09 22:49] q-ata commented on #326
Still working on this.

[2018-10-09 23:41] trevorkirpaul commented on #528
/request

[2018-10-09 23:41] rgehan commented on #528
Hey @trevorkirpaul, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 00:32] rgehan commented on #464
Hey @chadramsey,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-10 00:54] sadarshannaiynar commented on #530
/request

[2018-10-10 00:54] rgehan commented on #530
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 01:09] DanielRamosAcosta opened #533 "Implement numWaysClimbStaircase"
# numWaysClimbStaircase

### Link to the PR that adds this test case:

#532

### Where to implement:

`src/numWaysClimbStaircase.js`

### Where are the tests:

`src/numWaysClimbStaircase.test.js`

### Description (optional):

Given a number of steps of a staircase, this function calculates the number of ways for reaching the top of the staircase. By default, we can climb the staircase in steps of

[2018-10-10 01:11] #524 closed

[2018-10-10 01:12] DanielRamosAcosta commented on #524
Done! @Zeroji 🎉

[2018-10-10 01:33] Haugum commented on #533
/request

[2018-10-10 01:33] rgehan commented on #533
Hey @Haugum, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 01:35] Haugum commented on #464
/request

[2018-10-10 01:35] rgehan commented on #464
Sorry @Haugum, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-10 01:40] trevorkirpaul opened #535 "Implement twitterBlockMessageGenerator"
# twitterBlockMessageGenerator

### Link to the PR that adds this test case:

[#534](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/534)

### Where to implement:

`src/twitterBlockMessageGenerator.js`

### Where are the tests:

`src/twitterBlockMessageGenerator.test.js`

### Description (optional):

- create a function which generates an array of objects containing a message to send to tw

[2018-10-10 02:31] chgasparoto commented on #464
/request

[2018-10-10 02:31] rgehan commented on #464
Hey @chgasparoto, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 02:43] VictorKubrak commented on #527
/request

[2018-10-10 02:43] rgehan commented on #527
Hey @VictorKubrak, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 03:18] hasykes commented on #516
Hi @nai888 and @rgehan,

I think there is an issue with "src/numberVowels.test.js".  The current test is comparing an object with  .toBe() instead of .toEqual() resulting in a constant fail as my object will not be the exact same object as the test object.

From my output:

    Expected: {"most": ["Hello", "Thomas"], "number": 2}
    Received: {"most": ["Hello", "Thomas"], "number": 2}

    Differ

[2018-10-10 03:32] rgehan commented on #487
Hey @Mitchell0625,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sym

[2018-10-10 03:35] nai888 commented on #516
@hasykes shoot, sorry about that. I'll readily admit, I'm pretty new to Jest, so that wasn't a difference I was aware of. I'll see if I can edit it with a new pull request.

[2018-10-10 03:35] chgasparoto opened #537 "Implements formatISRC"
# formatISRC

### Link to the PR that adds this test case:

#536

### Where to implement:

`src/formatISRC.js`

### Where are the tests:

`src/formatISRC.test.js`

### Description (optional):

Converts a given string to the ISRC format ([The International Standard Recording Code](https://en.wikipedia.org/wiki/International_Standard_Recording_Code))
E.g.: USRC17607839 -> US-RC1-76-07839

---

# If

[2018-10-10 03:37] #464 closed

[2018-10-10 03:50] GunnarHolwerda commented on #487
/request

[2018-10-10 03:50] rgehan commented on #487
Hey @GunnarHolwerda, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 04:31] ryanmdoyle commented on #503
done!

[2018-10-10 04:35] ryanmdoyle opened #540 "diceRoll()"
# diceRoll()

### Where to implement:

`src/diceRoll.js`

### Where are the tests:

`src/diceRoll.test.js`

### Description (optional):

Create a function that will take an argument that represents the number of sides the dice has (3 sided, 6 sides, 12, sides, etc.) and returns a random integer within that range.
---

# If you want to take on this issue:

- Check that the kata is labelled "up for

[2018-10-10 04:42] Haugum opened #543 "Implement medianOfTwoArrays"
# medianOfTwoArrays

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/542

### Where to implement:

`src/medianOfTwoArrays.js`

### Where are the tests:

`src/medianOfTwoArrays.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that

[2018-10-10 04:43] #503 closed

[2018-10-10 04:45] #533 closed

[2018-10-10 04:46] GunnarHolwerda commented on #487
I would like to bring up that the first test for this kata is actually incorrect if you add up the 4 numbers: `3`, `539`, `8`, and `201` add up to `751` not `748` like the test expects

[2018-10-10 04:48] Haugum commented on #540
/request

[2018-10-10 04:48] rgehan commented on #540
Hey @Haugum, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 05:01] Haugum commented on #540
/reset

[2018-10-10 05:06] Haugum commented on #540
Hi Hi @ryanmdoyle888 and @rgehan, there seems to be an issue with diceRoll.test.js, as even simply returning 1, which should pass all tests automatically, is failing:

```TypeError: Cannot read property 'be' of undefined```. This issue is therefore not solvable. The test needs to be rewritten first.

[2018-10-10 05:08] outofgamut commented on #543
/request

[2018-10-10 05:08] rgehan commented on #543
Hey @outofgamut, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 05:28] raiden-96 commented on #537
/request

[2018-10-10 05:28] rgehan commented on #537
Hey @raiden-96, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 06:06] GunnarHolwerda opened #545 "corneredString"
# corneredString

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/544

### Where to implement:

`src/corneredString.js`

### Where are the tests:

`src/corneredString.test.js`

### Description (optional):

The function should take in a simple string and output it all capitalized, with white space between each character in the following format:

[2018-10-10 06:09] #487 closed

[2018-10-10 06:30] jamal-pb95 commented on #545
Can you please assign me for this issue

[2018-10-10 06:31] KumarManoj-S commented on #545
/request

[2018-10-10 06:31] rgehan commented on #545
Sorry @KumarManoj-S, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-10 06:31] jamal-pb95 commented on #545
/request

[2018-10-10 06:31] rgehan commented on #545
Hey @jamal-pb95, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 08:11] #528 closed

[2018-10-10 08:31] rgehan commented on #540
@Haugum Fixed in 1cc4dcb

[2018-10-10 09:32] rgehan commented on #252
Hey @nip10,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-10 09:38] aprex opened #549 "Implement map"
# map

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/546

### Where to implement:

`src/map.js`

### Where are the tests:

`src/map.test.js`

### Description (optional):

Implement map function without using Array.map

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the is

[2018-10-10 09:39] jamal-pb95 commented on #549
/request

[2018-10-10 09:39] rgehan commented on #549
Sorry, @jamal-pb95, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-10 09:41] bokub commented on #252
/request

[2018-10-10 09:41] rgehan commented on #252
Hey @bokub, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 09:50] #509 closed

[2018-10-10 10:32] rgehan commented on #427
Hey @PandawanFr,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-10 10:55] mannutech commented on #549
/request

[2018-10-10 10:55] rgehan commented on #549
Hey @mannutech, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 11:11] Neatoro commented on #535
/request

[2018-10-10 11:11] rgehan commented on #535
Hey @Neatoro, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 11:20] nai888 commented on #516
@hasykes it should be updated now!

[2018-10-10 11:32] Qwerp-Derp commented on #427
/request

[2018-10-10 11:32] rgehan commented on #427
Hey @Qwerp-Derp, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 11:40] Neatoro commented on #535
The provided tests are not working because the failure cases and the check for throws are not written correctly. What can I do here? Just adapt the tests?

[2018-10-10 11:41] bokub opened #552 "Implement oneLineKeyboard"
# oneLineKeyboard

### Link to the PR that adds this test case:

#551

### Where to implement:

`src/oneLineKeyboard.js`

### Where are the tests:

`src/oneLineKeyboard.test.js`

### Description (optional):

Determine whether a given String can be typed using only one line of a standard UK QWERTY keyboard.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"

[2018-10-10 11:43] #252 closed

[2018-10-10 11:44] trevorkirpaul commented on #535
Hmm, I had hoped I wrote them correctly.

I had the same issue with the function I made so I had to fix the test
cases and I mentioned it in the PR I made.

On Wed, Oct 10, 2018, 7:40 AM Moritz Schramm <notifications@github.com>
wrote:

[2018-10-10 11:44] Neatoro commented on #535
Okay I will do the same :)

[2018-10-10 11:46] trevorkirpaul commented on #535
Sorry about that! If you ever have the time, please let me know what the
issues were, or ping me in the PR! Thanks!

On Wed, Oct 10, 2018, 7:44 AM Moritz Schramm <notifications@github.com>
wrote:

[2018-10-10 11:46] mannutech opened #553 "Implement numberKeysInJSON"
# [numberKeysInJSON]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/554]

### Where to implement:

`src/numberKeysInJSON.js`

### Where are the tests:

`src/numberKeysInJSON.test.js`

### Description (optional):

Returns the total number of a nested as well as simple json passed to the function as first argument.

---

# If you want to take

[2018-10-10 11:48] Zeroji commented on #552
/request

[2018-10-10 11:48] rgehan commented on #552
Hey @Zeroji, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 11:54] #549 closed

[2018-10-10 11:56] Neatoro opened #555 "Implement isPalindrom"
# isPalindrom

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/isPalindrom.js`

### Where are the tests:

`src/isPalindrom.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fi

[2018-10-10 12:30] Zeroji opened #558 "Implement isWordSorted"
# isWordSorted

### Link to the PR that adds this test case:

#557

### Where to implement:

`src/isWordSorted.js`

### Where are the tests:

`src/isWordSorted.test.js`

### Description:

Tell if the letters in a word are in order, ascending or descending, for example "beep" or "tool".
Case and punctuation must be ignored.

---

# If you want to take on this issue:

- Check that the kata is labell

[2018-10-10 12:31] #552 closed

[2018-10-10 12:32] Zeroji commented on #552
@bokub I completed your kata, but I had to add `#` to the `asdf` line. I don't have that symbol on that line when I switch my keyboard to US layout, thought I'd let you know.

[2018-10-10 12:35] hasykes commented on #516
I wouldn't have known the difference had I not run into the issue, so no worries at all.  If anything it made this more of a learning experience for the both of us.  Thanks for the quick response @nai888!

[2018-10-10 12:53] andersou commented on #553
/request

[2018-10-10 12:53] rgehan commented on #553
Hey @andersou, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 12:59] JSmurf commented on #558
/request

[2018-10-10 12:59] rgehan commented on #558
Hey @JSmurf, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 13:10] KBoohene commented on #555
/request

[2018-10-10 13:10] rgehan commented on #555
Sorry, @KBoohene, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-10 13:32] rgehan commented on #175
Hey @Zaksh,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-10 13:49] andersou opened #560 "implement a milesKmConverter"
# milesKmConverter

### Link to the PR that adds this test case: #559

### Where to implement:

`src/milesKmConverter.js`

### Where are the tests:

`src/milesKmConverter.test.js`

### Description (optional):

Is the new innovation of technology, a generic miles<->km converter!
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to th

[2018-10-10 13:49] #553 closed

[2018-10-10 14:02] mannutech commented on #560
/assign

[2018-10-10 14:02] mannutech commented on #560
/request

[2018-10-10 14:02] rgehan commented on #560
Hey @mannutech, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 14:10] ryanmdoyle commented on #540
Hey @Haugum sorry about that.  This is the first time (the last week) I've written tests and I thought I was doing it correctly for a range but, apparently not!

[2018-10-10 14:54] chrisza4 commented on #175
Can I take it?

[2018-10-10 15:02] yurrr commented on #175
I had asked for It before , can i  take It ?
/request

[2018-10-10 15:02] rgehan commented on #175
Hey @yurrr, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 15:13] rgehan commented on #175
Hey sorry @yurr, this one is a bit time consuming and should not be reset.

It's still for @Zaksh until tomorrow, after that, I'll really release it

/assign @Zaksh

[2018-10-10 15:32] rgehan commented on #507
Hey @KumarManoj-S,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sym

[2018-10-10 16:09] sadarshannaiynar commented on #507
@rgehan I think this issues requires some time to solve can you extend it to another 24 hours for @KumarManoj-S ?

[2018-10-10 16:32] rgehan commented on #175
I've modified the auto release bot so that it ignores issues with the `no auto reset` label.

You're safe for now :)

[2018-10-10 16:32] rgehan commented on #507
I've modified the auto release bot so that it ignores issues with the `no auto reset` label.

You're safe for now :)

[2018-10-10 16:32] rgehan commented on #501
Hey @dineshvgp,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-10 17:32] rgehan commented on #473
Hey @rmcguire6,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-10 17:43] sadarshannaiynar opened #563 "Implement stringFormatter"
# stringFormatter

### Link to the PR that adds this test case:
#562

### Where to implement:
`src/stringFormatter.js`

### Where are the tests:
`src/stringFormatter.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  -

[2018-10-10 17:44] #530 closed

[2018-10-10 18:08] MrWako commented on #563
/request

[2018-10-10 18:08] rgehan commented on #563
Hey @MrWako, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 18:12] MartinSeibert commented on #501
/request

[2018-10-10 18:12] rgehan commented on #501
Hey @MartinSeibert, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 18:18] mannutech opened #564 "implement arrayCubeRootToJson"
# arrayCubeRootToJson

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/565]

### Where to implement:

`src/arrayCubeRootToJson.js`

### Where are the tests:

`src/arrayCubeRootToJson.test.js`

### Description (optional):

return Json object of stringified array values as keys and corresponding cuberoots as values inside the new json object.

-

[2018-10-10 18:30] suyasha0 commented on #473
/request

[2018-10-10 18:30] rgehan commented on #473
Hey @suyasha0, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 18:32] rgehan commented on #513
Hey @etseidler,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-10 18:59] nwyll commented on #513
/request

[2018-10-10 18:59] rgehan commented on #513
Hey @nwyll, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 19:01] VictorKubrak opened #568 "Implement power"
# power

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/567

### Where to implement:

`src/power.js`

### Where are the tests:

`src/power.test.js`

### Description (optional):

power(base, power) receives base and power.
base can be any number.
power can be any natural number or 0.
Returns base^power.
It is recommended that implementation wor

[2018-10-10 19:12] #527 closed

[2018-10-10 19:27] rmcguire6 commented on #568
/request

[2018-10-10 19:27] rgehan commented on #568
Hey @rmcguire6, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 19:51] Drintios opened #576 "Implement nestedToFlatArray"
# nestedToFlatArray

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/575

### Where to implement:

`src/nestedToFlatArray.js`

### Where are the tests:

`src/nestedToFlatArray.test.js`

### Description (optional):

Given a nested array ie: [1, [2, 3], 4], return flat array version of it: [1, 2, 3, 4]

---

# If you want to take on this issue:

[2018-10-10 19:55] #564 closed

[2018-10-10 20:07] Zaksh opened #577 "Implement 'isNumber'"
# isNumber

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/isNumber.js`

### Where are the tests:

`src/isNumber.test.js`

### Description (optional):

The function takes a string return true if the string passed is a valid number else it will return false

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no on

[2018-10-10 20:07] cesar-cb commented on #576
/request

[2018-10-10 20:07] rgehan commented on #576
Hey @cesar-cb, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-10 20:12] Delkhaz commented on #577
/request

[2018-10-10 20:12] rgehan commented on #577
Sorry, @Delkhaz, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-10 20:15] #175 closed

[2018-10-10 20:49] rmcguire6 opened #580 "Implement decoderRing"
#568 Solves power.js

### Link to the PR that adds this test case:
#579 Implement decoderRing

### Where to implement:

`src/decoderRing.js`

### Where are the tests:

`src/decoderRing.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no

[2018-10-10 21:32] rgehan commented on #459
Hey @mupraj10,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-10 22:16] cesar-cb opened #582 "implement stringRepeat"
# stringRepeat

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/581

### Where to implement:

`src/stringRepeat.js`

### Where are the tests:

`src/stringRepeat.test.js`

### Description (optional):

Write a function which repeats the given string exactly n times.

---

# If you want to take on this issue:

- Check that the kata is labelled "up

[2018-10-10 23:32] rgehan commented on #326
Hey @q-ata,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-10 23:33] q-ata commented on #326
/request
Should be done tomorrow.

[2018-10-10 23:33] rgehan commented on #326
Hey @q-ata, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 01:13] fabianaofugi commented on #577
/request

[2018-10-11 01:13] rgehan commented on #577
Hey @fabianaofugi, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 01:50] hasykes opened #583 "implement isFibonacci"
# isFibonacci

### Link to the PR that adds this test case:

#584

### Where to implement:

`src/isFibonacci.js`

### Where are the tests:

`src/<isFibonacci.test.js`

### Description (optional):

Test if a number exists in the Fibonacci sequence.  If it exists return true, else return false.  Test is written to only validate up to the 50th Fibonacci number.

---

# If you want to take on this iss

[2018-10-11 01:55] #516 closed

[2018-10-11 01:57] Delkhaz commented on #583
/request

[2018-10-11 01:57] rgehan commented on #583
Hey @Delkhaz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 03:05] Delkhaz opened #585 "implement numToDescendingOrder.js"
# numToDescendingOrder

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/586

### Where to implement:

`src/numToDescendingOrder.js`

### Where are the tests:

`src/numToDescendingOrder.test.js`

### Description (optional):

convert given number to Descending number.

---

# If you want to take on this issue:

- Check that the kata is labelled "

[2018-10-11 03:07] jmoseley commented on #459
/request

[2018-10-11 03:07] rgehan commented on #459
Hey @jmoseley, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 03:14] MartinSeibert commented on #501
I might need another day for this one, I'm working through the mathematics of the problem.

[2018-10-11 03:29] jmoseley opened #587 "leftPad"
# leftPad

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/588

### Where to implement:

`src/leftPad.js`

### Where are the tests:

`src/leftPad.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request

[2018-10-11 03:40] #459 closed

[2018-10-11 04:15] WeiChienHsu commented on #585
/request

[2018-10-11 04:15] rgehan commented on #585
Sorry, @WeiChienHsu, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-11 04:17] WeiChienHsu commented on #587
/request

[2018-10-11 04:17] rgehan commented on #587
Hey @WeiChienHsu, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 05:01] MrWako commented on #563
working on this one

[2018-10-11 05:32] rgehan commented on #537
Hey @raiden-96,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-11 05:32] rgehan commented on #543
Hey @outofgamut,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-11 06:32] rgehan commented on #545
Hey @jamal-pb95,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-11 07:46] #568 closed

[2018-10-11 07:47] #576 closed

[2018-10-11 09:15] mubaidr commented on #582
/request

[2018-10-11 09:15] rgehan commented on #582
Hey @mubaidr, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 09:56] AliNisarAhmed commented on #543
/request

[2018-10-11 09:56] rgehan commented on #543
Hey @AliNisarAhmed, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 11:29] suyasha0 commented on #473
Still working on this.

[2018-10-11 11:32] rgehan commented on #427
Hey @Qwerp-Derp,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-11 11:35] #535 closed

[2018-10-11 11:47] Qwerp-Derp commented on #427
/request

[2018-10-11 11:47] rgehan commented on #427
Hey @Qwerp-Derp, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 11:58] Qwerp-Derp opened #592 "Implement brainf**k"
# brainf**k

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/593

### Where to implement:

`src/brainf.js`

### Where are the tests:

`src/brainf.test.js`

### Description (optional):

Your task is to implement brainf**k in JavaScript.

Brainf**k operates on a 30,000-cell long tape, with each cell containing a value from 0 to 255. You start off

[2018-10-11 13:32] rgehan commented on #558
Hey @JSmurf,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-11 14:16] nwyll opened #594 "Implement indexEqualsValue"
# indexEqualsValue

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/574

### Where to implement:

`src/indexEqualsValue.js`

### Where are the tests:

`src/indexEqualsValue.test.js`

### Description (optional):

Function that returns the lowest INDEX i for which arr[i]=i and returns -1 if no such index exists
---

# If you want to take on this i

[2018-10-11 14:17] #513 closed

[2018-10-11 14:29] JSmurf commented on #558
/request

[2018-10-11 14:29] rgehan commented on #558
Hey @JSmurf, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 14:32] rgehan commented on #540
Hey @Haugum,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-11 15:12] gabrielbonner commented on #594
/request

[2018-10-11 15:12] rgehan commented on #594
Hey @gabrielbonner, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 15:56] gabrielbonner opened #595 "Implement sortArray function"
# sortArray

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/596

### Where to implement:

`src/sortArray.js`

### Where are the tests:

`src/sortArray.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Re

[2018-10-11 16:02] #594 closed

[2018-10-11 16:04] #583 closed

[2018-10-11 16:16] Trommelochse commented on #595
/request

[2018-10-11 16:16] rgehan commented on #595
Hey @Trommelochse, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 16:37] WeiChienHsu opened #598 "isValidParentheses"
# isValidParentheses

### Link to the PR that adds this test case:

[#597](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/597)

### Where to implement:

`src/isValidParentheses.js`

### Where are the tests:

`src/isValidParentheses.test.js`

### Description (optional):

Given a string containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

[2018-10-11 16:39] #587 closed

[2018-10-11 16:41] WeiChienHsu commented on #585
/request

[2018-10-11 16:41] rgehan commented on #585
Hey @WeiChienHsu, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 16:45] KauczukoweJajo commented on #598
/request

[2018-10-11 16:45] rgehan commented on #598
Hey @KauczukoweJajo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 16:49] AliNisarAhmed commented on #543
One test case is wrong

`it('computes the correct median of [1,2] and [2,4]', () => {
    const result = medianOfTwoSortedArrays([1,2], [2,4])
    expect(result).toEqual(2.5)
  });`

it should be

`it('computes the correct median of [1,2] and [3,4]', () => {
    const result = medianOfTwoSortedArrays([1,2], [2,4])
    expect(result).toEqual(2.5)
  });`

Median of 1, 2, 3, 4 is 2.5

Median of 1, 2,

[2018-10-11 17:08] AliNisarAhmed opened #600 "minesweeper.js"
# [minesweeper.js]

### Link to the PR that adds this test case:

[#599](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/599)

### Where to implement:

`src/minesweeper.js`

### Where are the tests:

`src/minesweeper.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

Generate a minesweeper board given the matrix:

In the popul

[2018-10-11 17:21] pushpinder107 commented on #545
/assign

[2018-10-11 17:21] pushpinder107 commented on #545
/request

[2018-10-11 17:21] rgehan commented on #545
Hey @pushpinder107, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 17:34] WeiChienHsu opened #602 "isValidAnagram"
# isValidAnagram

### Link to the PR that adds this test case:

[#601](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/601)

### Where to implement:

`src/isValidAnagram.js`

### Where are the tests:

`src/isValidAnagram.test.js`

### Description (optional):

Given two strings s and t , write a function to determine if t is an anagram of s.

#### Example 1:

[code]

#### Example 2:

[code]

[2018-10-11 17:35] #585 closed

[2018-10-11 17:45] WeiChienHsu commented on #537
/request

[2018-10-11 17:45] rgehan commented on #537
Hey @WeiChienHsu, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 17:59] WeiChienHsu opened #604 "isValidPalindrome"
# isValidPalindrome

### Link to the PR that adds this test case:

[#603](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/603)

### Where to implement:

`src/isValidPalindrome.js`

### Where are the tests:

`src/isValidPalindrome.test.js`

### Description (optional):

Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases. (Dismiss the

[2018-10-11 18:04] #537 closed

[2018-10-11 18:06] aparrett commented on #604
/request

[2018-10-11 18:06] rgehan commented on #604
Hey @aparrett, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 18:07] WeiChienHsu commented on #604
@aparrett Thanks for taking this challenge. Happy coding!

[2018-10-11 18:09] KBoohene commented on #602
/request

[2018-10-11 18:09] rgehan commented on #602
Hey @KBoohene, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 18:20] paolaguarasci commented on #540
Can I try? =D

[2018-10-11 18:38] KauczukoweJajo opened #606 "largestCommonDivisor"
# largestCommonDivisor

### Link to the PR that adds this test case:

#605

### Where to implement:

`src/largestCommonDivisor.js`

### Where are the tests:

`src/largestCommonDivisor.test.js`

### Description (optional):

Implement the largest common divisor function for two variables.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assi

[2018-10-11 18:39] #598 closed

[2018-10-11 18:43] jakesmithdeveloper commented on #606
/request

[2018-10-11 18:43] rgehan commented on #606
Hey @jakesmithdeveloper, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 18:45] pushpinder107 opened #607 "Incorrect test file added"
The test file added here: https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/src/corneredString.test.js has errors at line [5](https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/src/corneredString.test.js#L5) and line [21](https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/src/corneredString.test.js#L21).

`expect(corneredString('a').toBe('A'));`
should be:
`exp

[2018-10-11 19:07] aparrett opened #608 "Multiples of 3 and 5"
# sumMultiples3and5

### Link to the PR that adds this test case:

### Where to implement:

`src/sumMultiples3and5.js`

### Where are the tests:

`src/sumMultiples3and5.test.js`

### Description (optional):

This is project Euler problem #1.

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the mu

[2018-10-11 19:20] sadarshannaiynar commented on #507
@rgehan Thanks :)

[2018-10-11 19:28] #604 closed

[2018-10-11 19:34] jakesmithdeveloper opened #610 "sumOfEvens"
# sumOfEvens

### Link to the PR that adds this test case:

#611

### Where to implement:

`src/sumOfEvens.js`

### Where are the tests:

`src/sumOfEvens.test.js`

### Description (optional):

Return the sum of the even numbers in the array.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to as

[2018-10-11 19:37] #606 closed

[2018-10-11 20:30] lzhang-cbi commented on #610
/request

[2018-10-11 20:30] rgehan commented on #610
Hey @lzhang-cbi, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 20:35] rgehan commented on #507
@sadarshannaiynar How are you doing with this challenge?

[2018-10-11 20:39] jvelezpo opened #612 "ismyNamePrime"
# ismyNamePrime

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/ismyNamePrime.js`

### Where are the tests:

`src/ismyNamePrime.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned t

[2018-10-11 20:46] shhac commented on #608
/request

[2018-10-11 20:46] rgehan commented on #608
Hey @shhac, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 21:01] lzhang-cbi opened #615 "twoSum"
# twoSum

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/614

### Where to implement:

`src/twoSum.js`

### Where are the tests:

`src/twoSum.test.js`

### Description (optional):
A function that returns the position of two numbers in the first param that sums up to the number in the second param.
For example:
twoSum([1, 2, 3], 4) would return

[2018-10-11 21:07] #610 closed

[2018-10-11 21:15] MrWako commented on #563
just need to find a new challenge now

[2018-10-11 21:23] shhac opened #617 "Number of Common Prime Factors"
# numCommonPrimeFactors

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/616

### Where to implement:

`src/numCommonPrimeFactors.js`

### Where are the tests:

`src/numCommonPrimeFactors.test.js`

### Description (optional):

Please implement a function which counts the number of prime factors shared between two given numbers.
For example: The

[2018-10-11 22:50] Di3trich commented on #617
/request

[2018-10-11 22:50] rgehan commented on #617
Hey @Di3trich, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-11 22:59] q-ata commented on #326
Confidence on a downward slope. If I can't finish today I'll give up.

[2018-10-12 00:38] Di3trich opened #620 "Check Valid Brackets"
# validBrackets

### Link to the PR that adds this test case:

[#619](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/619)

### Where to implement:

`src/validBrackets.js`

### Where are the tests:

`src/validBrackets.test.js`

### Description (optional):

Implement a function that returns `'VALID'` if an expression has balanced brackets and `'INVALID'` in other way.

A bracket is consider

[2018-10-12 00:55] lowkorn commented on #615
/request

[2018-10-12 00:55] rgehan commented on #615
Hey @lowkorn, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 01:32] rgehan commented on #577
Hey @fabianaofugi,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sym

[2018-10-12 01:57] q-ata opened #622 "Implement mazes"
# mazes

### Link to the PR that adds this test case:

#621

### Where to implement:

`src/mazes.js`

### Where are the tests:

`src/mazes.test.js`

### Description (optional):

You are playing a video game where you are trying to navigate a maze (more like a grid). Unfortunately, your fingers are particularly large and you keep messing up the controls. Given the controls entered, determine where

[2018-10-12 01:58] #326 closed

[2018-10-12 03:15] zzulanas commented on #577
/request

[2018-10-12 03:15] rgehan commented on #577
Hey @zzulanas, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 04:37] sadarshannaiynar commented on #563
Have you finished this @MrWako

[2018-10-12 04:38] sadarshannaiynar commented on #507
@rgehan I posted this issue probably you meant to ask @KumarManoj-S?

[2018-10-12 04:53] anands commented on #620
/request

[2018-10-12 04:53] rgehan commented on #620
Sorry, @anands, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-12 06:30] rgehan commented on #582
/reset

[2018-10-12 06:31] rgehan commented on #470
/reset

[2018-10-12 06:33] shafeef901 commented on #622
/request

[2018-10-12 06:33] rgehan commented on #622
Hey @shafeef901, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 06:35] #617 closed

[2018-10-12 06:52] rgehan commented on #507
Yep totally

[2018-10-12 07:34] t-gok commented on #582
/request

[2018-10-12 07:34] rgehan commented on #582
Hey @t-gok, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 07:45] t-gok commented on #620
/request

[2018-10-12 07:45] rgehan commented on #620
Sorry @t-gok, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-12 08:36] jrga03 commented on #470
/request

[2018-10-12 08:36] rgehan commented on #470
Hey @jrga03, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 08:46] t-gok opened #625 "implement xor"
# [Name of the function]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/626

### Where to implement:

`src/xor.js`

### Where are the tests:

`src/xor.test.js`

### Description (optional):

implement XOR of 2 base 10 numbers

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to

[2018-10-12 09:05] sadarshannaiynar commented on #507
@KumarManoj-S you want some time?

[2018-10-12 09:29] kokkonisd opened #627 "Implement isPerfectNumber"
# isPerfectNumber

### Link to the PR that adds this test case:

[PR link](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/628)

### Where to implement:

`src/isPerfectNumber.js`

### Where are the tests:

`src/isPerfectNumber.test.js`

### Description (optional):

Checks if the number passed in as an argument is a [perfect number](https://en.wikipedia.org/wiki/Perfect_number).

---

# If

[2018-10-12 09:33] #620 closed

[2018-10-12 09:40] jrga03 opened #630 "Implement joinUnique"
# joinUnique

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/629

### Where to implement:

`src/joinUnique.js`

### Where are the tests:

`src/joinUnique.test.js`

### Description (optional):

Join the values of two or more arrays and return a new array with only unique values in it. The order of values in the new array must be in the order of

[2018-10-12 09:43] Zeroji commented on #592
I've already made a `runBrainfuck` issue (#524, has been implemented)
Don't know if your specification can be considered different enough

[2018-10-12 09:45] Prabhnith commented on #627
Hey I would like to work on it.

[2018-10-12 09:48] #470 closed

[2018-10-12 10:06] KBoohene opened #631 "isPowerOfFive"
# isPowerOfFive

### Link to the PR that adds this test case:

[#632](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/632)

### Where to implement:

`src/isPowerOfFive.js`

### Where are the tests:

`src/isPowerOfFive.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the

[2018-10-12 10:11] LeMarck commented on #630
/request

[2018-10-12 10:11] rgehan commented on #630
Hey @LeMarck, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 10:17] kokkonisd commented on #627
You need to comment "/request" to request this issue. Check out the [README](https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/README.md) before contributing.

[2018-10-12 10:17] rgehan commented on #627
Hey @kokkonisd, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 10:18] kokkonisd commented on #627
@rgehan sorry, didn't mean to assign it to myself, just wanted to tell @Prabhnith how he should go about tackling this kata.

[2018-10-12 10:38] LeMarck opened #634 "Implement assign"
# assign

### Link to the PR that adds this test case:

#630

### Where to implement:

`src/assign.js`

### Where are the tests:

`src/assign.test.js`

### Description (optional):

Implement analog [`Object.assign`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)

---

# If you want to take on this issue:

- Check that the kata is labelled "up for gr

[2018-10-12 10:39] #602 closed

[2018-10-12 10:41] vidocco commented on #631
/request

[2018-10-12 10:41] rgehan commented on #631
Hey @vidocco, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 11:23] vidocco opened #638 "isSquaredShape"
# isSquaredShape

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/637

### Where to implement:

`src/isSquaredShape.js`

### Where are the tests:

`src/isSquaredShape.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata

[2018-10-12 11:29] Qwerp-Derp commented on #592
@Zeroji Nah, probably can't be considered different, it's too similar. I'll come up with something else instead.

[2018-10-12 11:32] #631 closed

[2018-10-12 11:32] rgehan commented on #473
Hey @suyasha0,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-12 11:37] #630 closed

[2018-10-12 11:43] suyasha0 commented on #473
/request

[2018-10-12 11:43] rgehan commented on #473
Hey @suyasha0, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 11:46] sadarshannaiynar commented on #634
/request

[2018-10-12 11:46] rgehan commented on #634
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 11:46] sadarshannaiynar commented on #638
/request

[2018-10-12 11:46] rgehan commented on #638
Sorry @sadarshannaiynar, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-12 13:32] rgehan commented on #501
Hey @MartinSeibert,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sy

[2018-10-12 14:32] rgehan commented on #558
Hey @JSmurf,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-12 15:35] JulianMar commented on #638
/request

[2018-10-12 15:35] rgehan commented on #638
Hey @JulianMar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 15:45] vidocco commented on #558
/request

[2018-10-12 15:45] rgehan commented on #558
Hey @vidocco, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 16:14] vidocco opened #639 "every"
# every

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/640

### Where to implement:

`src/every.js`

### Where are the tests:

`src/every.test.js`

### Description (optional):

re-implement the every function from the JS standard library.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one

[2018-10-12 16:17] #558 closed

[2018-10-12 16:29] #543 closed

[2018-10-12 16:30] #580 closed

[2018-10-12 16:30] #607 closed

[2018-10-12 16:30] #612 closed

[2018-10-12 16:30] #625 closed

[2018-10-12 16:57] JulianMar opened #642 "Implement leastCommonMultiple"
# leastCommonMultiple

### Link to the PR that adds this test case:

#641

### Where to implement:

`src/leastCommonMultiple.js`

### Where are the tests:

`src/leastCommonMultiple.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one

[2018-10-12 17:02] #638 closed

[2018-10-12 17:04] Laronk commented on #595
/request

[2018-10-12 17:04] rgehan commented on #595
Hey @Laronk, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 17:05] dapilcher commented on #639
/request

[2018-10-12 17:05] rgehan commented on #639
Hey @dapilcher, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 17:32] rgehan commented on #545
Hey @pushpinder107,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sy

[2018-10-12 17:41] dapilcher commented on #639
@rgehan @vidocco
I'd like to amend the test for this function.

Specifically in this assertion:
[code]

In order to properly emulate `Array.prototype.every()` it should either begin with `let count = 1` or end with the assertion `expect(count).toEqual(1)`.

[2018-10-12 18:00] rgehan commented on #639
Yes go ahead, if this fixes the tests it's okay

[2018-10-12 18:11] kartikpandey2 commented on #615
@lzhang-cbi  what two sum function do .?

[2018-10-12 18:17] lzhang-cbi commented on #615
I updated the Issue with details

[2018-10-12 18:32] rgehan commented on #555
Hey @Calebp98,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-12 19:01] Track7Dev commented on #545
/request

[2018-10-12 19:01] rgehan commented on #545
Hey @Track7Dev, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 19:27] MrWako commented on #563
have completed the challenge just setting up the new one, sorry for the delay!

[2018-10-12 19:45] rgehan commented on #563
No problems, don't worry it's all a game after all :)

[2018-10-12 20:05] dapilcher opened #643 "deepCopyObject"
# deepCopyObject

### Link to the PR that adds this test case:

[#644](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/644)

### Where to implement:

`src/deepCopyObject.js`

### Where are the tests:

`src/deepCopyObject.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check tha

[2018-10-12 20:06] sadarshannaiynar commented on #563
No problems @MrWanko

[2018-10-12 20:14] #639 closed

[2018-10-12 21:02] EByrdS commented on #555
/request

[2018-10-12 21:02] rgehan commented on #555
Hey @EByrdS, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 21:32] rgehan commented on #540
Hey @steaward,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-12 21:50] Track7Dev opened #646 "Track7Dev | Prime List"
# [Prime List]

### Link to the PR that adds this test case:
[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/645]()

### Where to implement:

`src/primelist.js`

### Where are the tests:

`src/primelist.test.js`

### Description (optional):
[code]
# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/reque

[2018-10-12 21:52] #545 closed

[2018-10-12 21:59] max-arias commented on #646
/request

[2018-10-12 21:59] rgehan commented on #646
Hey @max-arias, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 22:21] EByrdS opened #648 "Implement tribonacci"
# tribonacci

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/647

### Where to implement:

`src/tribonacci.js`

### Where are the tests:

`src/tribonacci.test.js`

### Description (optional):

Implement a function that returns the Nth element of a tribonacci sequence.
The positions start counting from one (not zero-based numbering)
The first t

[2018-10-12 22:23] nimish-gupta commented on #648
/request

[2018-10-12 22:23] rgehan commented on #648
Hey @nimish-gupta, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-12 22:52] max-arias opened #649 "Implement Luhn Check"
# Luhn Check

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/luhnCheck.js`

### Where are the tests:

`src/luhnCheck.test.js`

### Description (optional):

Validate a credit card number using the Luhn Algorithm

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/reque

[2018-10-13 01:05] MartinSeibert commented on #501
@rgehan I had an issue with my pull request. If I get this assigned back to me I'm ready to fix the issue and open a new pull request.

[2018-10-13 03:09] Delkhaz commented on #649
will tackle this one merged.
/request

[2018-10-13 03:09] rgehan commented on #649
Sorry, @Delkhaz, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 03:32] rgehan commented on #577
Hey @zzulanas,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-13 03:59] nimish-gupta opened #652 "geometricprogression"
# geometricprogression

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/651

### Where to implement:

`src/geometricprogression.js`

### Where are the tests:

`src/geometricprogression.test.js`

### Description (optional):

Determine whether the list is geometric progression or not.

---

# If you want to take on this issue:

- Check that the k

[2018-10-13 04:00] #648 closed

[2018-10-13 04:01] nimish-gupta commented on #652
/request

[2018-10-13 04:01] rgehan commented on #652
Hey @nimish-gupta, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 04:09] Delkhaz commented on #577
/request

[2018-10-13 04:09] rgehan commented on #577
Hey @Delkhaz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 04:27] nimish-gupta opened #654 "Sleep"
# Sleep

### Link to the PR that adds this test case:

#653

### Where to implement:

`src/sleep.js`

### Where are the tests:

`src/sleep.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/req

[2018-10-13 04:36] nimish-gupta commented on #643
/request

[2018-10-13 04:36] rgehan commented on #643
Sorry @nimish-gupta, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-13 04:38] Delkhaz opened #655 "Implement `src/formatNumber.js`"
# formatNumber.js

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/656

### Where to implement:

`src/formatNumber.js`

### Where are the tests:

`src/formatNumber.test.js`

### Description (optional):

format the number separating thousands...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no

[2018-10-13 04:44] hasykes commented on #655
/request

[2018-10-13 04:44] rgehan commented on #655
Sorry, @hasykes, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 05:29] pbegle commented on #643
/request

[2018-10-13 05:29] rgehan commented on #643
Hey @pbegle, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 06:29] radhakri555 commented on #654
/request

[2018-10-13 06:29] rgehan commented on #654
Sorry, @radhakri555, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 06:33] pbegle opened #657 "splitString"
# splitString

### Link to the PR that adds this test case:

[#658](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/658)

### Where to implement:

`src/splitString.js`

### Where are the tests:

`src/splitString.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata

[2018-10-13 06:56] sadarshannaiynar opened #660 "Implement concat"
# concat

### Link to the PR that adds this test case:
#659

### Where to implement:
`src/concat.js`

### Where are the tests:
`src/concat.test.js`

### Description:
Implement `Array.concat`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 followi

[2018-10-13 06:57] #634 closed

[2018-10-13 06:59] sadarshannaiynar commented on #540
/request

[2018-10-13 06:59] rgehan commented on #540
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 07:01] sadarshannaiynar commented on #507
/reset

[2018-10-13 07:02] sadarshannaiynar commented on #507
@rgehan reset this issue there in no reply from the assignee for the past 3 days. I guess someone else can pick it up.

[2018-10-13 07:32] rgehan commented on #622
Hey @shafeef901,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-13 07:38] radhakri555 commented on #654
/request

[2018-10-13 07:38] rgehan commented on #654
Sorry, @radhakri555, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 07:42] vasind commented on #660
/request

[2018-10-13 07:42] rgehan commented on #660
Hey @vasind, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 08:07] #646 closed

[2018-10-13 08:11] #643 closed

[2018-10-13 08:12] rgehan commented on #507
Yep I guess you're right;

I'll do it, this looks like fun :)

/request

[2018-10-13 08:12] rgehan commented on #507
Sorry, @rgehan, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 08:12] rgehan commented on #507
Defeated by my own bot :p /reset

[2018-10-13 08:12] rgehan commented on #507
/request

[2018-10-13 08:12] rgehan commented on #507
Hey @rgehan, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 08:32] rgehan commented on #582
Hey @t-gok,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-13 08:33] sadarshannaiynar commented on #507
@rgehan Haha. Good luck. :)

[2018-10-13 09:28] anands commented on #657
/request

[2018-10-13 09:28] rgehan commented on #657
Hey @anands, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 09:44] anands opened #661 "Implement isSquareMatrix"
# isSquareMatrix

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/662

### Where to implement:

`src/isSquareMatrix.js`

### Where are the tests:

`src/isSquareMatrix.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata

[2018-10-13 09:55] rgehan opened #664 "Implement arithmeticExpressionEvaluator"
# arithmeticExpressionEvaluator

### Link to the PR that adds this test case:

#663

### Where to implement:

`src/arithmeticExpressionEvaluator.js`

### Where are the tests:

`src/arithmeticExpressionEvaluator.test.js`

### Details:

You can inspire yourself of #663 for that

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the

[2018-10-13 09:57] #507 closed

[2018-10-13 09:57] rgehan commented on #507
@sadarshannaiynar It was fun to do :)

If you want to have a look at how I've done it https://github.com/rgehan/hacktoberfest-2k18-katas/pull/663

[2018-10-13 10:25] vasind opened #666 "Implement isLineBreak"
# isLineBreak

### Link to the PR that adds this test case:

#665

### Where to implement:

`src/isLineBreak.js`

### Where are the tests:

`src/isLineBreak.test.js`

### Description (optional):

Check if a given string contains any line breaks like newline or carriage return

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the

[2018-10-13 10:32] rgehan commented on #627
Hey @kokkonisd,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-13 10:37] #657 closed

[2018-10-13 10:38] #592 closed

[2018-10-13 10:43] chaosflaw commented on #664
/request

[2018-10-13 10:43] rgehan commented on #664
Hey @chaosflaw, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 11:00] moonpatroller commented on #661
/request

[2018-10-13 11:00] rgehan commented on #661
Hey @moonpatroller, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 11:06] lamnguyen2187 commented on #666
/request

[2018-10-13 11:06] rgehan commented on #666
Hey @lamnguyen2187, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 11:44] moonpatroller opened #668 "Implement isUpperTriangularMatrix"
# isUpperTriangularMatrix

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/667

### Where to implement:

`src/isUpperTriangularMatrix.js`

### Where are the tests:

`src/isUpperTriangularMatrix.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this is

[2018-10-13 11:46] #661 closed

[2018-10-13 12:32] rgehan commented on #473
Hey @suyasha0,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-13 12:40] alex-gale commented on #627
/request

[2018-10-13 12:40] rgehan commented on #627
Hey @alex-gale, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 13:46] alex-gale opened #669 "Implement calculateTrig"
# [Name of the function]

### Link to the PR that adds this test case:

#670

### Where to implement:

`src/calculateTrig.js`

### Where are the tests:

`src/calculateTrig.test.js`

### Description (optional):

Add a function that accepts one of `'cos', 'sin' or 'tan'` and a number, then returns the result of the respective trigonometric function in radians

---

# If you want to take on this issu

[2018-10-13 13:47] kartikpandey2 commented on #615
@lzhang-cbi maybe `https://github.com/rgehan/hacktoberfest-2k18-katas/pull/614/files#diff-730e85e143fa29b1f23c372b28ced4c2R32` this test is wrong 🤔

[2018-10-13 13:49] MrWako opened #672 "pointInTriangle"
# pointInTriangle

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/671

### Where to implement:

`src/pointInTriangle.js`

### Where are the tests:

`src/pointInTriangle.test.js`

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Crea

[2018-10-13 13:52] #563 closed

[2018-10-13 14:03] Toreilly317 commented on #649
/request

[2018-10-13 14:03] rgehan commented on #649
Hey @Toreilly317, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 14:37] mlukjanska commented on #672
/request

[2018-10-13 14:37] rgehan commented on #672
Hey @mlukjanska, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 14:39] TiffanieJ commented on #669
/request - Hi I'd like to take on this issue.

[2018-10-13 14:39] rgehan commented on #669
Hey @TiffanieJ, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 14:46] TiffanieJ commented on #669
Thanks!

[2018-10-13 15:09] rambii commented on #600
/request

[2018-10-13 15:09] rgehan commented on #600
Hey @rambii, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 15:21] jonascarlsonschmidt opened #675 "Levenshtein distance"
# Levenshtein distance

### Link to the PR that adds this test case:

#674

### Where to implement:

`src/levenshteinDistance.js`

### Where are the tests:

`src/levenshteinDistance.test.js`

### Description (optional):

Implement the Levenshtein distance  between 2 string. [https://en.wikipedia.org/wiki/Levenshtein_distance](url)

---

# If you want to take on this issue:

- Check that the kata i

[2018-10-13 15:27] #582 closed

[2018-10-13 15:27] sadarshannaiynar commented on #507
@rgehan That's a pretty neat solution. 👍 😄 . Code was elegant and self-explanatory. But I guess you can remove that `stringifyAst` function. It's not used anywhere.

[2018-10-13 15:31] Octowl commented on #675
/request

[2018-10-13 15:31] rgehan commented on #675
Hey @Octowl, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 15:33] TiffanieJ commented on #669
Hey @rgehan quick question - my code is passing the test but I see the readme asks for a src/theNewKata.test.js file. What is this?  Thanks!

[2018-10-13 15:37] rgehan commented on #669
You have to add a new test, for someone to implement once your PR is merged

[2018-10-13 15:50] rambii opened #676 "Implement zipObject"
# zipObject

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/zipObject.js`

### Where are the tests:

`src/zipObject.test.js`

### Description (optional):

It combines 2 arrays to an object of keys and values.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request

[2018-10-13 15:55] shhac commented on #622
/request

[2018-10-13 15:55] rgehan commented on #622
Hey @shhac, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 16:01] #600 closed

[2018-10-13 16:05] TiffanieJ commented on #669
thanks - im getting this error when I push ERROR: Permission to rgehan/hacktoberfest-2k18-katas.git denied to TiffanieJ.
fatal: Could not read from remote repository.

[2018-10-13 16:06] sadarshannaiynar opened #680 "Implement getKeyPaths"
# getKeyPaths

### Link to the PR that adds this test case:
#679

### Where to implement:
`src/getKeyPaths.js`

### Where are the tests:
`src/getKeyPaths.test.js`

### Description:
[code]
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following c

[2018-10-13 16:08] #540 closed

[2018-10-13 16:09] sadarshannaiynar commented on #676
/request

[2018-10-13 16:09] rgehan commented on #676
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 16:10] moonpatroller commented on #680
/request

[2018-10-13 16:10] rgehan commented on #680
Hey @moonpatroller, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 16:10] sadarshannaiynar commented on #676
@rambii Please fix the test cases there is no `matrix` object in the test only `keys`, `values` and `result` is there. :)

[2018-10-13 16:12] rambii commented on #676
@sadarshannaiynar, the link was still pointing to the old PR. I updated the link. It should be fixed.

[2018-10-13 16:19] #595 closed

[2018-10-13 16:34] q-ata commented on #473
/request

[2018-10-13 16:34] rgehan commented on #473
Hey @q-ata, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 16:40] moonpatroller opened #683 "Implement createHeap"
# createHeap

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/682

### Where to implement:

`src/createHeap.js`

### Where are the tests:

`src/createHeap.test.js`

### Description (optional):

Implement a minHeap with pop() method.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assig

[2018-10-13 16:42] radhakri555 commented on #654
/request

[2018-10-13 16:42] rgehan commented on #654
Sorry, @radhakri555, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 16:43] #680 closed

[2018-10-13 17:14] shhac opened #685 "Implement approximately"
# approximately

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/684

### Where to implement:

`src/approximately.js`

### Where are the tests:

`src/approximately.test.js`

### Description (optional):

`Function<Function<Bool>>`,
* The first function takes a `margin` that specifies how distant any two numbers can be to be considered _"approxim

[2018-10-13 17:28] Toreilly317 commented on #649
@max-arias I have a PR ready but I believe the test case has an incorrect test.

expect(luhnCheck("1234")).toBe('invalid input');

"1234" is valid input but should evaluate to false

I believe the test should be updated to expect(luhnCheck("1234")).toBeFalsy()

[2018-10-13 17:32] rgehan commented on #642
Hey @Di3trich,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-13 17:33] max-arias commented on #649
@Toreilly317 Good catch. I think you can change it.

[2018-10-13 17:38] q-ata opened #687 "Implement huffmanEncoding"
# Huffman Encoding

### Link to the PR that adds this test case:

#686

### Where to implement:

`src/huffmanEncoding.js`

### Where are the tests:

`src/huffmanEncoding.test.js`

### Description (optional):

*Huffman Coding* is a text compression algorithm where each character is assigned a binary sequence. The encoded string has each character replaced with its corresponding binary sequence. The

[2018-10-13 17:39] #473 closed

[2018-10-13 17:41] rambii commented on #687
/request

[2018-10-13 17:41] rgehan commented on #687
Hey @rambii, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 18:02] Toreilly317 opened #688 "Implement Alphabetic Shift"
# [Alphabetic Shift]

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/alphabeticShift.js`

### Where are the tests:

`src/alphabeticShift.test.js`

### Description (optional):

Given a string, replace each its character by the next one in the English alphabet(z would be replaced by a).
Example

For inputString = "crazy", the output should be
alphabeticShift(i

[2018-10-13 18:09] sadarshannaiynar commented on #676
@rambii Cool Thanks :)

[2018-10-13 18:37] rambii commented on #687
@q-ata seems to me like in the 3rd encoding example is a "P" too much?
https://github.com/rgehan/hacktoberfest-2k18-katas/blob/c09938673607417d5d2515ae9769e8d4849a9172/src/huffmanEncoding.test.js#L26

the 3rd character

What do you think? Could you fix this?

[2018-10-13 18:39] q-ata commented on #687
@rambii My mistake. I'll PR a fix.

[2018-10-13 18:42] Toreilly317 commented on #649
unfortunately I am not able to pass the PR testing do to the modification needed to the test file. is there a fix for this @rgehan

[2018-10-13 18:48] kartikpandey2 commented on #688
/request

[2018-10-13 18:48] rgehan commented on #688
Sorry, @kartikpandey2, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-13 19:04] chris54721 commented on #668
/request

[2018-10-13 19:04] rgehan commented on #668
Hey @chris54721, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 19:16] pushpinder107 opened #691 "Broken tests in leastCommonMultiple.test.js"
Tests are broken: https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/src/leastCommonMultiple.test.js#L23.

Expect function call is missing.

[2018-10-13 19:18] chris54721 opened #692 "Implement isLowerTriangularMatrix"
# isLowerTriangularMatrix

### Link to the PR that adds this test case:

#693

### Where to implement:

`src/isLowerTriangularMatrix.js`

### Where are the tests:

`src/isLowerTriangularMatrix.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with th

[2018-10-13 19:39] butlerx opened #696 "Implement celsiusToKelvin"
# celsiusToKelvin

### Link to the PR that adds this test case:

#695

### Where to implement:

`src/celsiusToKelvin.js`

### Where are the tests:

`src/celsiusToKelvin.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned

[2018-10-13 22:28] kartikpandey2 opened #699 "greatestNumberInArray"
# greatestNumberInArray

### Link to the PR that adds this test case:

#698

### Where to implement:

` src/greatestNumberInArray.js`

### Where are the tests:

`src/greatestNumberInArray.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If

[2018-10-13 22:31] #692 closed

[2018-10-13 22:33] nip10 commented on #699
/request

[2018-10-13 22:33] rgehan commented on #699
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-13 22:59] nip10 opened #700 "Implement transpose"
# transpose

### Link to the PR that adds this test case:

#701

### Where to implement:

`src/transpose.js`

### Where are the tests:

`src/transpose.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, repl

[2018-10-13 23:02] #699 closed

[2018-10-13 23:28] Delkhaz commented on #700
/request

[2018-10-13 23:28] rgehan commented on #700
Hey @Delkhaz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 01:33] karmakaze commented on #683
/request

[2018-10-14 01:33] rgehan commented on #683
Hey @karmakaze, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 01:43] karmakaze opened #702 "Implement heapSort"
# [Name of the function]

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/heapSort.js`

### Where are the tests:

`src/heapSort.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to

[2018-10-14 01:54] #683 closed

[2018-10-14 01:55] karmakaze commented on #702
/request

[2018-10-14 01:55] rgehan commented on #702
Hey @karmakaze, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 02:20] karmakaze opened #704 "Implement createBinarySearchTree"
# createBinarySearchTree

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/createBinarySearchTree.js`

### Where are the tests:

`src/createBinarySearchTree.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs

[2018-10-14 04:17] karmakaze opened #706 "Implement createDirectedGraph"
# createDirectedGraph

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/createDirectedGraph.js`

### Where are the tests:

`src/createDirectedGraph.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no

[2018-10-14 04:17] Di3trich commented on #501
/request

[2018-10-14 04:17] rgehan commented on #501
Hey @Di3trich, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 04:42] #704 closed

[2018-10-14 05:32] karmakaze opened #710 "Implement Dijkstra’s 'shortestPath' algorithm"
# shortestPath

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/711

### Where to implement:

`src/shortestPath.js`

### Where are the tests:

`src/shortestPath.test.js`

### Description (optional):

Use Dijkstra’s algorithm[1] to compute the shortest path from a given `start` node to the given `end` node for the given directed acyclic `graph`.

[2018-10-14 05:37] #706 closed

[2018-10-14 05:49] DavidSotoA commented on #710
Hi, where is the tests for this issue?

[2018-10-14 06:29] Delkhaz opened #712 "Implement stringRemix"
# stringRemix

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/713

### Where to implement:

`src/stringRemix.js`

### Where are the tests:

`src/stringRemix.test.js`

### Description (optional):

stringRemix rearranges the letters in the string to be in the order specified by the index number...
---

# If you want to take on this issue:

- Che

[2018-10-14 06:48] Di3trich opened #715 "Implement countMultiplesOfThreeOrSevenOnRange"
# countMultiplesOfThreeOrSevenOnRange

### Link to the PR that adds this test case:

[#714](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/714)

### Where to implement:

`src/countMultiplesOfThreeOrSevenOnRange.js`

### Where are the tests:

`src/countMultiplesOfThreeOrSevenOnRange.test.js`

### Description (optional):

Implement a function to count the number of multiples of three or sev

[2018-10-14 06:50] #501 closed

[2018-10-14 07:32] lamnguyen2187 opened #716 "Implement log2 function"
# [log2]

### Link to the PR that adds this test case:

[709](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/709)

### Where to implement:

`src/log2.js`

### Where are the tests:

`src/log2.test.js`

### Description (optional):

Implement a function to return log base 2 of positive numbers. It should return NaN for negative numbers.

---

# If you want to take on this issue:

- Check tha

[2018-10-14 07:38] #666 closed

[2018-10-14 07:41] lamnguyen2187 commented on #715
/request

[2018-10-14 07:41] rgehan commented on #715
Hey @lamnguyen2187, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 08:36] lamnguyen2187 opened #718 "Implement upperBound"
# upperBound

### Link to the PR that adds this test case:

[717](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/717)

### Where to implement:

`src/upperBound.js`

### Where are the tests:

`src/upperBound.test.js`

### Description (optional):

Implement C++ upperBound. Check out its documentation at http://www.cplusplus.com/reference/algorithm/upper_bound/

---

# If you want to take on

[2018-10-14 08:37] #715 closed

[2018-10-14 08:57] kaikae commented on #716
/request

[2018-10-14 08:57] rgehan commented on #716
Hey @kaikae, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 09:18] rambii opened #719 "Implement Dijkstra with weighted graph"
# Dijkstra

### Link to the PR that adds this test case:

#720

### Where to implement:

`src/dijkstra.js`

### Where are the tests:

`src/dijkstra.test.js`

### Description (optional):

The Dijkstra algorithm finds the shortest path in a unidirectional weighted graph.

The input is a graph definition [based on this proposal](https://github.com/jsongraph/json-graph-specification).
Output should be

[2018-10-14 09:30] #622 closed

[2018-10-14 09:30] rambii commented on #718
/request

[2018-10-14 09:30] rgehan commented on #718
Hey @rambii, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 09:34] #649 closed

[2018-10-14 09:36] #642 closed

[2018-10-14 09:36] #700 closed

[2018-10-14 09:37] kaikae commented on #716
@rgehan the test case for this issue is broken: log2(15) simply is not 3 as it is expected in the test. Can I change the test file in this case?

[2018-10-14 09:37] rgehan commented on #427
/reset

[2018-10-14 09:38] rgehan commented on #627
/reset

[2018-10-14 09:39] #652 closed

[2018-10-14 09:39] #627 closed

[2018-10-14 10:07] rambii opened #721 "Implement Rail-Fence Cipher"
# railfenceCipher

### Link to the PR that adds this test case:

#724

### Where to implement:

`src/railfenceCipher.js`

### Where are the tests:

`src/railfenceCipher.test.js`

### Description (optional):

A kind of [transposition cipher](https://en.wikipedia.org/wiki/Transposition_cipher#Rail_Fence_cipher).

---

# If you want to take on this issue:

- Check that the kata is labelled "up for gr

[2018-10-14 10:16] suksit commented on #696
/request

[2018-10-14 10:16] rgehan commented on #696
Hey @suksit, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 10:27] kaikae opened #723 "Implement a calculation function for the volume of a sphere"
# calculateSphereVolume

### Link to the PR that adds this test case: #722

### Where to implement:

`src/calculateSphereVolume.js`

### Where are the tests:

`src/calculateSphereVolume.test.js`

### Description (optional):
Return the volume of a sphere round to 2 digits or an error message if inputs are not valid.
---

# If you want to take on this issue:

- Check that the kata is labelled "up fo

[2018-10-14 10:29] #718 closed

[2018-10-14 10:32] pushpinder107 commented on #685
/request

[2018-10-14 10:32] rgehan commented on #685
Hey @pushpinder107, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 10:37] rambii commented on #712
/request

[2018-10-14 10:37] rgehan commented on #712
Hey @rambii, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 10:47] rambii commented on #712
@Delkhaz I guess there are some errors in the test. I guess it should instead be:
`expect(stringRemix("abc", [0, 2, 1])).toEqual("acb");` and  `expect(stringRemix("tober", [3, 4, 0, 2, 1])).toEqual("ertbo");`

What do you think?

[2018-10-14 10:57] rambii opened #725 "Implement Soduku Solver"
# sudoku solver
### Link to the PR that adds this test case:

#743

### Where to implement:

`src/sudokuSolver.js`

### Where are the tests:

`src/sudokuSolver.test.js`

### Description (optional):

Input is a sudoku grid with missing values, and the output should be the complete sudoku grid.
The test cases are generated using this [tool](http://www.sudoku-solutions.com/).

---

# If you want to t

[2018-10-14 11:03] pushpinder107 opened #727 "Check if argument is palindrome"
# [isPalindrome]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/726

### Where to implement:

`src/isPalindrome.js`

### Where are the tests:

`src/isPalindrome.js.test.js`

### Description (optional):

Takes one argument (string or number) and returns true if argument is palindrome, otherwise returns false.
---

# If you want to take on this

[2018-10-14 11:06] Brand-Temp commented on #721
/request

[2018-10-14 11:06] rgehan commented on #721
Hey @Brand-Temp, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 11:14] suksit opened #728 "Implement celsiusToFahrenheit"
# [celsiusToFahrenheit]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/729

### Where to implement:

`src/celsiusToFahrenheit.js`

### Where are the tests:

`src/celsiusToFahrenheit.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Ch

[2018-10-14 11:17] #696 closed

[2018-10-14 11:30] Octowl opened #731 "Implement isEmpty"
# isEmpty

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/730

### Where to implement:

`src/isEmtpy.js`

### Where are the tests:

`src/isEmpty.test.js`

### Description (optional):

A function that detects if the argument passed to it is "empty".

Empty here is defined as:
- An object with no properties
- An array with no elements
- An empty

[2018-10-14 11:30] TiffanieJ opened #732 "pythagorean theorem"
# pythagorean

### Link to the PR that adds this test case:
[697](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/697)

### Where to implement:

`src/<pythagorean>.js`

### Where are the tests:

`src/<pythagorean>.test.js`

### Description (optional):

Use Pythagoras' Theorem to create a function that finds the hypotenuse of a right triangle.

---

# If you want to take on this issue:

- C

[2018-10-14 11:32] rgehan commented on #664
Hey @chaosflaw,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-14 11:35] PanagiotisGeorgiadis commented on #728
/request

[2018-10-14 11:35] rgehan commented on #728
Hey @PanagiotisGeorgiadis, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 11:35] #675 closed

[2018-10-14 11:46] leventdeniz commented on #731
/request

[2018-10-14 11:46] rgehan commented on #731
Hey @leventdeniz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 12:38] PanagiotisGeorgiadis opened #733 "Implement string sorting"
# [sortString]

### Link to the PR that adds this test case: #728

[the url]

### Where to implement:

`src/sortString.js`

### Where are the tests:

`src/sortString.test.js`

### Description (optional):

Sort the given string based on the array.sort() algorithm.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply

[2018-10-14 13:03] RomanFro commented on #655
/request

[2018-10-14 13:03] rgehan commented on #655
Hey @RomanFro, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 13:04] pushpinder107 commented on #688
/request

[2018-10-14 13:04] rgehan commented on #688
Sorry @pushpinder107, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-14 13:12] cyraxx commented on #688
/request

[2018-10-14 13:12] rgehan commented on #688
Hey @cyraxx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 13:41] RomanFro commented on #654
/request

[2018-10-14 13:41] rgehan commented on #654
Sorry @RomanFro, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-14 13:50] cyraxx opened #735 "Implement wordWrap"
# wordWrap

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/736

### Where to implement:

`src/wordWrap.js`

### Where are the tests:

`src/wordWrap.test.js`

### Description (optional):

The wordWrap function is given a string and a number of characters. It should word wrap the string into lines of the given maximum length and return those lin

[2018-10-14 13:53] #688 closed

[2018-10-14 13:55] Thomasvdam commented on #735
/request

[2018-10-14 13:55] rgehan commented on #735
Hey @Thomasvdam, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 14:24] leventdeniz opened #739 "Implement isEuro"
# isEuro

### Link to the PR that adds this test case:

#737

### Where to implement:

`src/isEuro.js`

### Where are the tests:

`src/isEuro.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed implementation o

[2018-10-14 14:31] Thomasvdam opened #741 "Implement lineCount"
# lineCount
### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/740

### Where to implement:

`src/lineCount.js`

### Where are the tests:

`src/lineCount.js.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull

[2018-10-14 14:32] rgehan commented on #615
Hey @lowkorn,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-14 14:32] #735 closed

[2018-10-14 14:34] RomanFro opened #742 "Implement `src/toBigEndian.js`"
# toBigEndian

### Link to the PR that adds this test case:

#738

### Where to implement:

`src/toBigEndian.js`

### Where are the tests:

`src/toBigEndian.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue

[2018-10-14 14:38] #655 closed

[2018-10-14 14:51] cyraxx commented on #742
/request

[2018-10-14 14:51] rgehan commented on #742
Hey @cyraxx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 14:51] rambii commented on #741
/request

[2018-10-14 14:51] rgehan commented on #741
Sorry @rambii, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-14 15:18] cyraxx opened #745 "Implement chunkString"
# chunkString

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/747

### Where to implement:

`src/chunkString.js`

### Where are the tests:

`src/chunkString.test.js`

### Description (optional):

The chunkString function splits a string into substrings of the given length.

---

# If you want to take on this issue:

- Check that the kata is la

[2018-10-14 15:18] sadarshannaiynar opened #746 "Implement join"
# join

### Link to the PR that adds this test case:
#744

### Where to implement:
`src/join.js`

### Where are the tests:
`src/join.test.js`

### Description:
Implement a function similar to `lodash.join`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request wit

[2018-10-14 15:20] sadarshannaiynar commented on #741
/request

[2018-10-14 15:20] rgehan commented on #741
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 15:27] sadarshannaiynar commented on #719
@rambii Deleted the previous comment :)

[2018-10-14 15:32] rgehan commented on #672
Hey @mlukjanska,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-14 15:35] mlukjanska commented on #672
@rgehan did not get around to it yesterday, but am working now, can I get it back?
/request

[2018-10-14 15:35] rgehan commented on #672
Hey @mlukjanska, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 15:37] #728 closed

[2018-10-14 15:41] RomanFro commented on #719
/request

[2018-10-14 15:41] rgehan commented on #719
Hey @RomanFro, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 15:57] ludvigch commented on #727
/request

[2018-10-14 15:57] rgehan commented on #727
Sorry, @ludvigch, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-14 16:03] karmakaze commented on #710
@DavidSotoA Sorry about that, updated the description adding
link to PR that adds the test https://github.com/rgehan/hacktoberfest-2k18-katas/pull/711

[2018-10-14 16:21] tanhauhau opened #749 "implement countBy"
# countBy

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/748

### Where to implement:

`src/countBy.js`

### Where are the tests:

`src/countBy.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for

[2018-10-14 16:43] PanagiotisGeorgiadis commented on #733
/request

[2018-10-14 16:43] rgehan commented on #733
Hey @PanagiotisGeorgiadis, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 17:00] lordfuoco opened #751 "implement circleOfCoordsAroundCenter"
# [Name of the function]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/750]

### Where to implement:

`src/<name of the function> circleOfCoordsAroundCenter.js`

### Where are the tests:

`src/<name of the function> circleOfCoordsAroundCenter.test.js`

### Description (optional):

A function that takes in input an object made of `lat` and `

[2018-10-14 17:01] #654 closed

[2018-10-14 17:03] leventdeniz commented on #739
/request

[2018-10-14 17:03] rgehan commented on #739
Sorry, @leventdeniz, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-14 17:13] MrWako commented on #672
Hi @mlukjanska, I took a little time to get my solution together - just post a comment every <24 hrs to keep the issue.

[2018-10-14 17:42] PanagiotisGeorgiadis opened #752 "Implement String Interpolation"
# [stringInterpolation]

### Link to the PR that adds this test case:

[#753]

### Where to implement:

`src/stringInterpolation.js`

### Where are the tests:

`src/stringInterpolation.test.js`

### Description (optional):

Implement a string interpolation function following the rules bellow:
    The function gets two arguments, the string and the interpolation values.
    The string interpolation

[2018-10-14 18:48] MrMeison opened #755 "Implement first non-consecutive number"
# firstNonConsecutiveNumber

### Link to the PR that adds this test case:

#754

### Where to implement:

`src/firstNonConsecutiveNumber.js`

### Where are the tests:

`src/firstNonConsecutiveNumber.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for g

[2018-10-14 18:50] #664 closed

[2018-10-14 19:16] #669 closed

[2018-10-14 19:18] #716 closed

[2018-10-14 19:27] PanagiotisGeorgiadis commented on #755
/request

[2018-10-14 19:27] rgehan commented on #755
Hey @PanagiotisGeorgiadis, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-14 20:16] RomanFro opened #757 "Implement privToPub"
# privToPub

### Link to the PR that adds this test case:

#756

### Where to implement:

`src/privToPub.js`

### Where are the tests:

`src/privToPub.test.js`

### Description (optional):

This task is based on ECDSA (which is used in many cryptocurrencies and blockchains nowadays; tests for this task are based on Ethereum private/public keys).
The needed formulas are provided in the `src/privToP

[2018-10-14 22:38] PanagiotisGeorgiadis opened #759 "Implement character occurrence count function"
# [Name of the function]

### Link to the PR that adds this test case:

[#758]

### Where to implement:

`src/characterOccurrences.js`

### Where are the tests:

`src/characterOccurrences.test.js`

### Description (optional):

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Creat

[2018-10-14 22:54] mlukjanska commented on #672
I think I'm up for a solution: https://github.com/mlukjanska/hacktoberfest-2k18-katas/commit/f538636bb65a631c6609c00682180bf42b27a022 (at least the tests are passing).
Just need to add a new challenge now.

[2018-10-14 22:55] mlukjanska commented on #672
@MrWako Thanks, will keep the tips in mind, cool challenge, had to polish off my geometry knowledge :)

[2018-10-15 01:34] Delkhaz commented on #732
/request

[2018-10-15 01:34] rgehan commented on #732
Hey @Delkhaz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 02:41] Brand-Temp opened #760 "Implement minMaxSum"
# minMaxSum

### Link to the PR that adds this test case:

#761

### Where to implement:

`src/minMaxSum.js`

### Where are the tests:

`src/minMaxSum.test.js`

### Description (optinal)

Implement an algorithm which sums the smallest and largest numbers in an array.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, r

[2018-10-15 02:46] #721 closed

[2018-10-15 02:53] eduenriquez commented on #760
hi ✋ can i take this ? @Brand-Temp

[2018-10-15 03:00] eduenriquez commented on #760
/request

[2018-10-15 03:00] rgehan commented on #760
Hey @eduenriquez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 03:05] andersou commented on #723
/request

[2018-10-15 05:18] Delkhaz opened #762 "impl `isSymmetrical`"
# isSymmetrical

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/763

### Where to implement:

`src/isSymmetrical.js`

### Where are the tests:

`src/isSymmetrical.test.js`

### Description (optional):

isSymmetrical determines whether a number isSymmetrical or not...
A number is symmetrical if it's the same when reversed.
ex. `121` reversed is

[2018-10-15 07:44] #712 closed

[2018-10-15 07:44] #731 closed

[2018-10-15 07:45] #742 closed

[2018-10-15 07:46] #746 closed

[2018-10-15 07:47] rgehan commented on #685
/reset

[2018-10-15 07:48] rgehan commented on #757
@RomanFro Could you add more details about your kata?
- What algorithm is it?
- What are the mathematical concepts, etc

[2018-10-15 07:49] #719 closed

[2018-10-15 07:49] #755 closed

[2018-10-15 07:50] cyraxx commented on #752
/request

[2018-10-15 07:50] rgehan commented on #752
Hey @cyraxx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 07:51] #691 closed

[2018-10-15 07:51] #727 closed

[2018-10-15 07:59] leventdeniz commented on #739
/request

[2018-10-15 07:59] rgehan commented on #739
Hey @leventdeniz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 08:32] cyraxx opened #764 "Implement CRC32"
# crc32

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/765

### Where to implement:

`src/crc32.js`

### Where are the tests:

`src/crc32.test.js`

### Description (optional):

Generate a CRC32 checksum for the given input string.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assig

[2018-10-15 08:42] tanhauhau commented on #427
/request

[2018-10-15 08:42] rgehan commented on #427
Hey @tanhauhau, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 08:42] #752 closed

[2018-10-15 08:47] cyraxx commented on #749
/request

[2018-10-15 08:47] rgehan commented on #749
Hey @cyraxx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 09:00] cyraxx opened #766 "Implement fitFloat"
# fitFloat

### Link to the PR that adds this test case:

#767

### Where to implement:

`src/fitFloat.js`

### Where are the tests:

`src/fitFloat.test.js`

### Description (optional):

Fit a float into a string of the given length, rounding it as necessary.
Throw an error if it's impossible to fit.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If

[2018-10-15 09:04] #749 closed

[2018-10-15 10:16] 0rShemesh opened #769 "Implement CRC16"
# crc16

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/crc16.js`

### Where are the tests:

`src/crc16.test.js`

### Description (optional):

Generate a CRC16 checksum for the given input string

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for

[2018-10-15 10:53] nip10 commented on #766
/request

[2018-10-15 10:53] rgehan commented on #766
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 11:48] rinkevich commented on #764
/request

[2018-10-15 11:48] rgehan commented on #764
Hey @rinkevich, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 13:27] andrey-semin commented on #762
I'll take this

[2018-10-15 13:43] rinkevich opened #775 "Implement Adler32"
# Adler32

### Link to the PR that adds this test case:

#774

### Where to implement:

`src/adler32.js`

### Where are the tests:

`src/adler32.test.js`

### Description (optional):
Implement Adler32 checksum algorithm.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a P

[2018-10-15 13:44] #764 closed

[2018-10-15 13:53] Drintios commented on #759
/request

[2018-10-15 13:53] rgehan commented on #759
Hey @Drintios, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 14:33] Drintios opened #777 "RGB array to hex string"
# rgbToHex

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/776

### Where to implement:

`src/rgbToHex.js`

### Where are the tests:

`src/rgbToHex.test.js`

### Description (optional):

Take an rgb array ie: [90, 0, 0] and make it a hex string for css usage ie: #5a0000, this function should make the string short if possible for example #aaaaa

[2018-10-15 14:35] #759 closed

[2018-10-15 14:46] Di3trich commented on #710
/request

[2018-10-15 14:46] rgehan commented on #710
Hey @Di3trich, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 14:56] saiij commented on #777
I would love to take this

[2018-10-15 14:56] saiij commented on #777
/request

[2018-10-15 14:56] rgehan commented on #777
Hey @saiij, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 15:02] tanhauhau opened #778 "Implement without"
# without

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/779

### Where to implement:

`src/without.js`

### Where are the tests:

`src/without.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for

[2018-10-15 15:04] thivatm commented on #745
/request

[2018-10-15 15:04] rgehan commented on #745
Hey @thivatm, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 15:06] lzhang-cbi commented on #615
@kartikpandey2 ooopppss, sorry 😭, looks like someone already made a PR to fix it.

[2018-10-15 15:06] sadarshannaiynar commented on #741
/reset

[2018-10-15 15:06] sadarshannaiynar commented on #741
Working on it

[2018-10-15 15:21] giancarloGiuffra commented on #778
/request

[2018-10-15 15:21] rgehan commented on #778
Sorry, @giancarloGiuffra, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-15 15:29] sadarshannaiynar opened #781 "Implement sortedIndex"
# sortedIndex

### Link to the PR that adds this test case:
#780

### Where to implement:
`src/sortedIndex.js`

### Where are the tests:
`src/sortedIndex.test.js`

### Description:
Implement a function similar to `lodash.sortedIndex`
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it

[2018-10-15 15:30] #741 closed

[2018-10-15 15:32] #732 closed

[2018-10-15 15:36] sadarshannaiynar commented on #685
/request

[2018-10-15 15:36] rgehan commented on #685
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 15:37] sadarshannaiynar commented on #685
@shhac Can you fix the test cases I think you meant `50000` and not `500000` 😅

[2018-10-15 16:07] cyraxx commented on #781
/request

[2018-10-15 16:07] rgehan commented on #781
Hey @cyraxx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 16:39] cyraxx opened #784 "Implement numberToWords"
# numberToWords

### Link to the PR that adds this test case:

#785

### Where to implement:

`src/numberToWords.js`

### Where are the tests:

`src/numberToWords.test.js`

### Description (optional):

Convert a number to an english representation. For the sake of simplicity, only positive integers up to three digits need to be taken into account.

---

# If you want to take on this issue:

- Chec

[2018-10-15 16:42] #781 closed

[2018-10-15 16:44] giancarloGiuffra opened #786 "Implement bizarreStringIncrementer"
# bizarreStringIncrementer

### Link to the PR that adds this test case:

[PR 783](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/783)

### Where to implement:

`src/bizarreStringIncrementer.js`

### Where are the tests:

`src/bizarreStringIncrementer.test.js`

### Description (optional):

look at the test file
---

# If you want to take on this issue:

- Check that the kata is labelled "

[2018-10-15 17:05] JulianMar commented on #784
/request

[2018-10-15 17:05] rgehan commented on #784
Hey @JulianMar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 17:38] Delkhaz commented on #762
@andrey-semin reply with `/request` to ask for it

[2018-10-15 17:39] Di3trich opened #789 "Implement countCoprimes"
# countCoprimes

### Link to the PR that adds this test case:

#788

### Where to implement:

`src/countCoprimes.js`

### Where are the tests:

`src/countCoprimes.test.js`

### Description (optional):

Given an integer `N` count all **coprimes** of `N` less than itself.  Two integers `a` and `b` are said to be **relatively prime**, **mutually prime**, or **coprime** (also written co-prime) if the

[2018-10-15 17:40] #710 closed

[2018-10-15 17:56] shhac commented on #685
@sadarshannaiynar oh no, I must've been a little overexcited about typing big numbers!

AFAIK the process here is fix them in a commit on your branch then, after Travis warns you about it, @ the boss rgehan for the merge

[2018-10-15 18:01] sadarshannaiynar commented on #685
@shhac Sure no problem :smile:

[2018-10-15 18:05] leventdeniz opened #791 "Implement isMatch"
# isMatch

### Link to the PR that adds this test case:

#790

### Where to implement:

`src/isMatch.js`

### Where are the tests:

`src/isMatch.test.js`

### Description:

Takes two objects and returns if there is a match.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create

[2018-10-15 18:14] #739 closed

[2018-10-15 18:29] bigblind commented on #775
/request

I'd love to give this a go.

[2018-10-15 18:29] rgehan commented on #775
Hey @bigblind, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 18:29] AkulG1 commented on #789
/request

[2018-10-15 18:29] rgehan commented on #789
Hey @AkulG1, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 18:30] thivatm opened #792 "starPyramid"
# [starPyramid]

### Link to the PR that adds this test case:

#793

### Where to implement:

`src/<starPyramid>.js`

### Where are the tests:

`src/<starPyramid>.test.js`

### Description (optional):

startPyramid function prints a pyramid in stars in a given number of height

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to th

[2018-10-15 18:39] iambk commented on #762
/request

[2018-10-15 18:39] rgehan commented on #762
Hey @iambk, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 19:03] kolldavi commented on #791
/request

[2018-10-15 19:04] rgehan commented on #791
Hey @kolldavi, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 19:27] mlukjanska opened #795 "longestPalindromaticSubstring"
# longestPalindromaticSubstring

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/794

### Where to implement:

`src/longestPalindromaticSubstring.js`

### Where are the tests:

`src/longestPalindromaticSubstring.test.js`

### Description (optional):

Find longest palindromatic substring in a given string

---

# If you want to take on this issu

[2018-10-15 20:02] iambk opened #796 "Implement coinWays"
# coinWays

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/797

### Where to implement:

`src/coinWays.js`

### Where are the tests:

`src/coinWays.test.js`

### Description (optional):

Given different types of coins available to you in infinite quantities. The value of each coin is already given. Determine the number of ways of making change

[2018-10-15 20:10] bigblind opened #798 "Minesweeper"
# Minesweeper

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/799
### Where to implement:

`src/minesweeper.js`

### Where are the tests:

`src/minesweeper.test.js`

### Description (optional):

Implement a function called minesweeper that takes a 2-D array of booleans, describing where the mines are in a grid, and the co-ordinates (row, colum

[2018-10-15 20:12] #762 closed

[2018-10-15 20:36] #798 closed

[2018-10-15 20:41] #672 closed

[2018-10-15 21:25] bigblind opened #800 "Implement lisp (a mini Lisp interpreter)"
# lisp

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/799

### Where to implement:

`src/<lisp>.js`

### Where are the tests:

`src/<lisp>.test.js`

### Description (optional):

The function should take an expression as a string, evaluate it, and return the result.

You should accept expressions of the following forms:
 - "42": A single posit

[2018-10-15 21:27] #775 closed

[2018-10-15 21:34] kolldavi opened #802 "isObjectEqual"
# [isObjectEqual]

### Link to the PR that adds this test case:

#801

### Where to implement:

`src/isObjectEqual.js`

### Where are the tests:

`src/isObjectEqual.test.js`

### Description (optional):

Write a function that takes in two objects and checks if two objects are equal.
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned

[2018-10-15 21:41] #791 closed

[2018-10-15 22:11] fabianaofugi commented on #802
/request

[2018-10-15 22:11] rgehan commented on #802
Hey @fabianaofugi, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-15 22:18] saiij opened #803 "remove specific whitespaces from strings"
# whitespaceRemoval

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/777]

### Where to implement:

`src/whitespaceRemoval.js`

### Where are the tests:

`src/whitespaceRemoval.test.js`

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for

[2018-10-16 01:19] fabianaofugi opened #805 "arraySum"
# arraySum

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/arraySum.js`

### Where are the tests:

`src/arraymSum.test.js`

### Description (optional):

Sum the elements of an array

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a

[2018-10-16 01:30] aaronholla commented on #725
/request

[2018-10-16 01:30] rgehan commented on #725
Hey @aaronholla, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 02:43] kyusulamita commented on #795
/request

[2018-10-16 02:43] rgehan commented on #795
Hey @kyusulamita, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 03:32] rgehan commented on #760
Hey @eduenriquez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-16 03:32] rgehan commented on #723
Hey @andersou,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-16 04:05] eduenriquez commented on #760
/reset

[2018-10-16 05:55] #777 closed

[2018-10-16 06:12] sautumn commented on #803
/request

[2018-10-16 06:12] rgehan commented on #803
Hey @sautumn, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 06:47] rinkevich commented on #760
/request

[2018-10-16 06:47] rgehan commented on #760
Hey @rinkevich, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 08:03] rinkevich opened #809 "Implement MiniMaxSum"
# MiniMaxSum

### Link to the PR that adds this test case:

#808

### Where to implement:

`src/miniMaxSum.js`

### Where are the tests:

`src/miniMaxSum.test.js`

### Description (optional):
https://www.hackerrank.com/challenges/mini-max-sum/problem

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/reque

[2018-10-16 09:30] luvuong-le commented on #723
/request

[2018-10-16 09:30] rgehan commented on #723
Hey @luvuong-le, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 09:32] rgehan commented on #427
Hey @tanhauhau,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-16 09:50] nip10 opened #810 "Implement shellSort"
# shellSort

### Link to the PR that adds this test case:

#811

### Where to implement:

`src/shellSort.js`

### Where are the tests:

`src/shellSort.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, repl

[2018-10-16 09:54] #766 closed

[2018-10-16 10:07] tanhauhau commented on #427
@rgehan i've opened a MR #779 for this issue

[2018-10-16 10:15] sadarshannaiynar opened #813 "Implement generateSeries"
# generateSeries

### Link to the PR that adds this test case:
#812

### Where to implement:
`src/generateSeries.js`

### Where are the tests:
`src/generateSeries.test.js`

### Description:
Generate a series based on the start value and generation function given

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply

[2018-10-16 10:41] Zeroji commented on #796
/request

[2018-10-16 10:41] rgehan commented on #796
Hey @Zeroji, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 11:02] Zeroji opened #815 "Implement prefixSum"
# prefixSum

### Link to the PR that adds this test case:

#814

### Where to implement:

`src/prefixSum.js`

### Where are the tests:

`src/prefixSum.test.js`

### Description:

Implement [prefix sum](https://en.wikipedia.org/wiki/Prefix_sum), with an optional argument being the commutative sum function.
For example, the prefix sum of `[1, 2, 3, 4]` is `[1, 1+2, 1+2+3, 1+2+3+4]` or `[1, 3, 6, 10]

[2018-10-16 11:02] #796 closed

[2018-10-16 11:07] Zeroji commented on #800
/request

[2018-10-16 11:07] rgehan commented on #800
Hey @Zeroji, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 11:35] cori commented on #760
I'd be interested in implementing this kata, but the test cases don't make sense to me.

For instance in the final test case, minMaxSum of the smallest and largest numbers in `[10, 6, 23, 7, 12, -4, 0, -12]` it seems like the sum of the smallest (`-12`) and largest (`23`) numbers should be `11`, not `13`. And for the last case the minMaxSum of `[-1, -5, -20, -6, -9]` seems like it should be `-21`,

[2018-10-16 13:04] Zeroji opened #817 "getBroadcastIp"
# getBroadcastIp

### Link to the PR that adds this test case:

#816

### Where to implement:

`src/getBroadcastIp.js`

### Where are the tests:

`src/getBroadcastIp.test.js`

### Description:

Get the broadcast IP for the network, given one IP in the form `'192.168.0.1/24'`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the

[2018-10-16 13:29] #802 closed

[2018-10-16 13:46] luvuong-le opened #819 "Convert string to camel case"
# Convert To Camel Case

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/818

### Where to implement:

`src/convertToCamelCase.js`

### Where are the tests:

`src/convertToCamelCase.test.js`

### Description (optional):

Convert a string to camel case format

---

# If you want to take on this issue:

- Check that the kata is labelled "up for g

[2018-10-16 14:38] leodevo commented on #805
/request

[2018-10-16 14:38] rgehan commented on #805
Hey @leodevo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 15:32] rgehan commented on #615
Hey @Jonathan-Montanez,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the

[2018-10-16 17:32] rgehan commented on #784
Hey @JulianMar,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-16 18:32] rgehan commented on #789
Hey @AkulG1,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-16 18:44] shivanggarg1998 commented on #815
/request

[2018-10-16 18:45] rgehan commented on #815
Hey @shivanggarg1998, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 19:23] shivanggarg1998 opened #821 "implemente Gamma Function"
# gammaFunction

### Link to the PR that adds this test case:

#820

### Where to implement:

`src/gammaFunction.js`

### Where are the tests:

`src/gammaFunction.test.js`

### Description (optional):

Find the gamma function of various integers

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` t

[2018-10-16 19:33] shivanggarg1998 commented on #789
/request

[2018-10-16 19:33] rgehan commented on #789
Hey @shivanggarg1998, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 19:42] Zeroji commented on #789
Hey @rgehan there was an issue with this issue #789 and my issue for prefixSum #815
@shivanggarg1998 implemented countCoprimes (this issue) in PR #820 but accidentally referenced #815, the Travis check passed the countCoprimes tests but the Github bot closed prefixSum (which isn't implemented) instead due to the bugged reference

[2018-10-16 20:29] shivanggarg1998 opened #823 "implement asciiToChar"
# asciiToChar

### Link to the PR that adds this test case:

#822

### Where to implement:

`src/asciiToChar.js`

### Where are the tests:

`src/asciiToChar.test.js`

### Description (optional):

from ascii value return the character

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it

[2018-10-16 20:32] #789 closed

[2018-10-16 20:49] shivanggarg1998 commented on #789
Sorry for that , I have edited the PR #820  and I have implemented Prefix Sum function #822 and closed this issue.

[2018-10-16 20:58] EByrdS commented on #821
/request

[2018-10-16 20:58] rgehan commented on #821
Hey @EByrdS, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-16 22:22] EByrdS opened #825 "Implement Xbonacci"
# xbonacci

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/824

### Where to implement:

`src/xbonacci.js`

### Where are the tests:

`src/xbonacci.test.js`

### Description (optional):

This function is the general case for classic Fibonacci. The initial elements are provided in `seed` (in Fibonacci, the `seed` is: `[1, 1]`). The nth element

[2018-10-17 00:01] Delkhaz commented on #823
/request

[2018-10-17 00:01] rgehan commented on #823
Hey @Delkhaz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 01:12] Delkhaz opened #826 "implement `X_and_O.js`"
# X_and_O

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/X_and_O.js`

### Where are the tests:

`src/X_and_O.test.js`

### Description (optional):

X_and_O takes a string and checks if it has the same number of 'x's and 'o's...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue,

[2018-10-17 01:19] #823 closed

[2018-10-17 01:32] rgehan commented on #725
Hey @aaronholla,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbo

[2018-10-17 01:43] aaronholla commented on #725
/reset

I am creating a pull request right now. I finished working on this just now.

[2018-10-17 02:24] aaronholla opened #829 "Implement DecimalToFraction"
# DecimalToFraction

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/828

### Where to implement:

`src/decimalToFraction.js`

### Where are the tests:

`src/decimalToFraction.test.js`

### Description (optional):

Convert a decimal number to a string version of a fraction that is rounded to the nearest 1/16th of an inch.

---

# If you want to

[2018-10-17 02:28] aaronholla commented on #725
@rgehan /reset

[2018-10-17 02:34] aaronholla commented on #725
/request

[2018-10-17 02:34] rgehan commented on #725
Hey @aaronholla, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 02:35] #725 closed

[2018-10-17 03:32] rgehan commented on #795
Hey @kyusulamita,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-17 05:13] rkatka commented on #826
/request

[2018-10-17 05:13] rgehan commented on #826
Hey @rkatka, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 05:31] kyusulamita commented on #795
/reset

[2018-10-17 05:51] rkatka opened #830 "Implement compareTriplets"
# compareTriplets

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/831

### Where to implement:

`src/compareTriplets.js`

### Where are the tests:

`src/compareTriplets.test.js`

### Description (optional):

Given a and b, determine their respective comparison points.  For the elements at 0, increment the return value at position 0 (representi

[2018-10-17 08:47] #792 closed

[2018-10-17 08:47] rgehan commented on #745
/reset

[2018-10-17 08:50] #760 closed

[2018-10-17 08:51] #751 closed

[2018-10-17 08:53] rgehan commented on #427
/assign @tanhauhau

[2018-10-17 08:54] rgehan commented on #427
/assign @tanhauhau

[2018-10-17 08:54] #427 closed

[2018-10-17 08:55] #800 closed

[2018-10-17 08:56] #723 closed

[2018-10-17 08:57] #685 closed

[2018-10-17 08:57] #769 closed

[2018-10-17 09:06] katilius commented on #829
/request

[2018-10-17 09:06] rgehan commented on #829
Hey @katilius, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 09:54] katilius opened #833 "Get function parameter names"
# Get Function Parameters

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/832l]

### Where to implement:

`src/getFunctionParameters.js`

### Where are the tests:

`src/getFunctionParameters.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/

[2018-10-17 09:57] #829 closed

[2018-10-17 10:05] bedis-elacheche commented on #833
/request

[2018-10-17 10:05] rgehan commented on #833
Hey @bedis-elacheche, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 14:48] t-gok commented on #795
/request

[2018-10-17 14:48] rgehan commented on #795
Hey @t-gok, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 15:32] rgehan commented on #805
Hey @leodevo,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-17 16:12] bedis-elacheche opened #834 "Generate array from Interval"
# getInterval

### Link to the PR that adds this test case:

[rgehan/hacktoberfest-2k18-katas/pull/835]

### Where to implement:

`src/getInterval.js`

### Where are the tests:

`src/getInterval.test.js`

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3

[2018-10-17 17:15] shivanggarg1998 commented on #809
/request

[2018-10-17 17:15] rgehan commented on #809
Hey @shivanggarg1998, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 17:38] bedis-elacheche commented on #805
/request

[2018-10-17 17:38] rgehan commented on #805
Sorry @bedis-elacheche, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-17 17:41] #833 closed

[2018-10-17 17:53] bedis-elacheche commented on #805
/request

[2018-10-17 17:53] rgehan commented on #805
Hey @bedis-elacheche, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 20:06] shivanggarg1998 opened #837 "implement digitSum"
# digitSum

### Link to the PR that adds this test case:

#836

### Where to implement:

`src/digitSum.js`

### Where are the tests:

`src/digitSum.test.js`

### Description (optional):

find out digitSum of number till single digit

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it

[2018-10-17 20:08] #809 closed

[2018-10-17 20:46] diwakersurya commented on #837
/request

[2018-10-17 20:46] rgehan commented on #837
Hey @diwakersurya, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 21:02] diwakersurya opened #838 "Implement argsString"
# argsString

### Link to the PR that adds this test case:

#837

### Where to implement:

`src/argsString.js`

### Where are the tests:

`src/argsString.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, r

[2018-10-17 21:09] #837 closed

[2018-10-17 21:19] bedis-elacheche opened #840 "Find element that does not match predicate"
# falsyFind

### Link to the PR that adds this test case:

[#841]

### Where to implement:

`src/falsyFind.js`

### Where are the tests:

`src/falsyFind.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed imple

[2018-10-17 21:29] bedis-elacheche commented on #838
/request

[2018-10-17 21:29] rgehan commented on #838
Hey @bedis-elacheche, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-17 22:55] shivakaushal commented on #834
/request

[2018-10-17 22:55] rgehan commented on #834
Hey @shivakaushal, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 00:13] gihanmu commented on #819
/request

[2018-10-18 00:13] rgehan commented on #819
Hey @gihanmu, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 00:59] FranceJ commented on #840
/request

[2018-10-18 00:59] rgehan commented on #840
Hey @FranceJ, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 03:38] FranceJ opened #843 "vectorProjection"
# vectorProjection

### Link to the PR that adds this test case:

[#840](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/842)

### Where to implement:

`src/vectorProjection.js`

### Where are the tests:

`src/vectorProjection.test.js`

### Description (optional):

The function should return an array representing the vector projection of one vector onto another in n-dimensional space.

---

[2018-10-18 09:49] andymac-2 commented on #813
/request

[2018-10-18 09:49] rgehan commented on #813
Hey @andymac-2, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 10:34] bedis-elacheche opened #844 "Group data by predicate(s)"
# groupBy

### Link to the PR that adds this test case:

[#845]

### Where to implement:

`src/groupBy.js`

### Where are the tests:

`src/groupBy.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed implementat

[2018-10-18 10:37] #838 closed

[2018-10-18 10:39] bedis-elacheche commented on #745
/request

[2018-10-18 10:39] rgehan commented on #745
Hey @bedis-elacheche, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 10:53] andymac-2 opened #847 "Circumcentre"
# Circumcentre

### Link to the PR that adds this test case:

#846

### Where to implement:

`src/circumcentre.js`

### Where are the tests:

`src/circumcentre.test.js`

### Description (optional):

`circumcentre()` should take six arguments `x1`, `y1`, `x2`, `y2`, `x3`, and `y3`, and return the circumcentre of the points `(x1, y1)`, `(x2, y2)` and `(x3, y3)` on a 2D plane. That is, it should retu

[2018-10-18 10:57] #813 closed

[2018-10-18 11:52] bedis-elacheche opened #848 "Generate hashtags"
# hashtagGen

### Link to the PR that adds this test case:

#849

### Where to implement:

`src/hashtagGen.js`

### Where are the tests:

`src/hashtagGen.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed impl

[2018-10-18 11:55] #745 closed

[2018-10-18 11:56] t-gok opened #850 "XOR"
# XOR

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/xor.js`

### Where are the tests:

`src/xor.test.js`

### Description (optional):

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  -

[2018-10-18 11:59] t-gok commented on #795
/merge

[2018-10-18 12:08] bedis-elacheche commented on #778
/request

[2018-10-18 12:08] rgehan commented on #778
Hey @bedis-elacheche, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 12:09] t-gok commented on #848
/request

[2018-10-18 12:09] rgehan commented on #848
Sorry @t-gok, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-18 12:21] xit4 commented on #848
/request

[2018-10-18 12:21] rgehan commented on #848
Hey @xit4, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 12:48] bedis-elacheche opened #852 "Returns the number of elements deletions required"
# elementsDeletion

### Link to the PR that adds this test case:

#853

### Where to implement:

`src/elementsDeletion.js`

### Where are the tests:

`src/elementsDeletion.test.js`

### Description (optional):

Returns the number of elements deletions required to make a and b contain the same exact letters in the same exact frequency.
`elementsDeletion('bacdc', 'dcbac')` returns 0
    the strings

[2018-10-18 12:51] #778 closed

[2018-10-18 12:59] xit4 opened #854 "Fetch the second highest value in an array of numbers"
# secondMax

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/855

### Where to implement:

`src/secondMax.js`

### Where are the tests:

`src/secondMax.test.js`

### Description (optional):

Just as the title says, fetch the **second highest** value from an array of numbers. In case the highest value repeats itself, the repetition should be ign

[2018-10-18 13:03] #848 closed

[2018-10-18 14:07] leodevo commented on #615
/request

[2018-10-18 14:07] rgehan commented on #615
Hey @leodevo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 14:53] DirtySoc commented on #817
/request

[2018-10-18 14:53] rgehan commented on #817
Hey @DirtySoc, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 15:12] leodevo opened #856 "arrayToUpperCase"
arrayToUpperCase

### Link to the PR that adds this test case:

#857

### Where to implement:

`src/arrayToUpperCase.js`

### Where are the tests:

`src/arrayToUpperCase.test.js`

### Description (optional):

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with t

[2018-10-18 15:16] leodevo commented on #852
/request

[2018-10-18 15:16] rgehan commented on #852
Sorry @leodevo, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-18 15:18] #615 closed

[2018-10-18 15:18] leodevo commented on #852
/request

[2018-10-18 15:18] rgehan commented on #852
Hey @leodevo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 15:30] rogelio-o commented on #856
/request

[2018-10-18 15:30] rgehan commented on #856
Hey @rogelio-o, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 17:03] TolichP commented on #830
/request

[2018-10-18 18:01] TolichP opened #858 "flipObject"
# flipObject

### Link to the PR that adds this test case:

#859

### Where to implement:

`src/flipObject.js`

### Where are the tests:

`src/flipObject.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed impl

[2018-10-18 18:06] #830 closed

[2018-10-18 18:30] manuelcarrizo commented on #854
/request

[2018-10-18 18:30] rgehan commented on #854
Hey @manuelcarrizo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 18:50] rogelio-o opened #860 "uglyNumber"
# uglyNumber

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/861

### Where to implement:

`src/uglyNumber.js`

### Where are the tests:

`src/uglyNumber.test.js`

### Description (optional):

Ugly numbers are numbers whose only prime factors are 2, 3 or 5. The sequence 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, … shows the first 11 ugly numbers. By

[2018-10-18 20:09] manuelcarrizo opened #863 "implement hexToAscii"
# hexToAscii

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/862

### Where to implement:

`src/hexToAscii.js`

### Where are the tests:

`src/hexToAscii.test.js`

### Description (optional):

Convert a string of hex values to ascii

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assi

[2018-10-18 20:12] #854 closed

[2018-10-18 22:34] jessmear commented on #863
/request

[2018-10-18 22:34] rgehan commented on #863
Hey @jessmear, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 23:07] jeanbenitez commented on #860
/request

[2018-10-18 23:07] rgehan commented on #860
Sorry, @jeanbenitez, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-18 23:08] jeanbenitez commented on #784
/request

[2018-10-18 23:08] rgehan commented on #784
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-18 23:32] rgehan commented on #834
Hey @shivakaushal,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sym

[2018-10-19 00:32] rgehan commented on #819
Hey @gihanmu,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-19 01:40] shivakaushal commented on #834
/request

[2018-10-19 01:40] rgehan commented on #834
Hey @shivakaushal, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 03:18] DirtySoc opened #866 "moonPhaseCalc kata"
# moonPhaseCalc

### Link to the PR that adds this test case:

### Where to implement:

`src/moonPhaseCalc.js`

### Where are the tests:

`src/moonPhaseCalc.test.js`

### Description (optional):

Calculate the moon phases based on the date! Good luck!
https://www.moonglow.com/pages/moon-calculator

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no

[2018-10-19 03:32] jeanbenitez opened #869 "dayOfWeekLater"
# dayOfWeekLater

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/870

### Where to implement:

`src/dayOfWeekLater.js`

### Where are the tests:

`src/dayOfWeekLater.test.js`

### Description (optional):

Days of the week are represented as three-letter strings ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").
Write a function solution that,

[2018-10-19 03:49] #817 closed

[2018-10-19 03:51] #784 closed

[2018-10-19 03:55] DirtySoc commented on #847
/request

[2018-10-19 03:55] rgehan commented on #847
Hey @DirtySoc, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 04:05] jeanbenitez commented on #819
/request

[2018-10-19 04:05] rgehan commented on #819
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 04:10] vigneshtdev commented on #869
/request

[2018-10-19 04:10] rgehan commented on #869
Hey @vigneshtdev, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 04:40] jeanbenitez opened #872 "questionsMarks"
# questionsMarks

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/questionsMarks.js`

### Where are the tests:

`src/questionsMarks.test.js`

### Description (optional):

Take an input string parameter and determine if exactly 3 question marks exist between every pair of numbers that add up to 10. If so, return true, otherwise return false.

---

# If you wan

[2018-10-19 04:43] #819 closed

[2018-10-19 04:46] jeanbenitez commented on #825
/request

[2018-10-19 04:46] rgehan commented on #825
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 05:29] jeanbenitez opened #874 "Counting Anagrams"
# countingAnagrams

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/875

### Where to implement:

`src/countingAnagrams.js`

### Where are the tests:

`src/countingAnagrams.test.js`

### Description (optional):

Make the function CountingAnagrams(str) with the `str` parameter and determine how many anagrams exist in the string...

---

# If you

[2018-10-19 05:32] #825 closed

[2018-10-19 05:38] babhishek21 commented on #872
/request

[2018-10-19 05:38] rgehan commented on #872
Hey @babhishek21, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 05:45] babhishek21 commented on #872
@jeanbenitez Can you please give out sample sample input-output pairs for this kata?

[2018-10-19 05:55] janczer commented on #858
/request

[2018-10-19 05:55] rgehan commented on #858
Hey @janczer, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 06:27] janczer opened #877 "Add function sample"
# sample

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/876

### Where to implement:

`src/sample.js`

### Where are the tests:

`src/sample.test.js`

### Description (optional):

The function should return the random object from array.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is

[2018-10-19 08:21] Baecon commented on #866
/request

[2018-10-19 09:16] Qwetuo commented on #786
/request

[2018-10-19 09:16] rgehan commented on #786
Hey @Qwetuo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 10:17] nfatma commented on #874
I want to take on this issue.

[2018-10-19 13:35] rgehan commented on #803
/reset

[2018-10-19 13:37] #795 closed

[2018-10-19 13:37] #840 closed

[2018-10-19 13:40] #856 closed

[2018-10-19 14:08] leodevo commented on #852
@rgehan @bedis-elacheche  I think there is an error in the test file,
all the tests are in the form : "expect(() => elementsDeletion([1, 2, 3, 4], [4, 1, 2])).toEqual(1);"
but if the test is not supposed to throw, it should only be : "expect(elementsDeletion([1, 2, 3, 4], [4, 1, 2])).toEqual(1);" meaning withouth the "**() =>**" part.
If I'm right, shall I modify it in my own PR ?
Anyway, I might

[2018-10-19 14:10] jeanbenitez commented on #850
What is the idea? implement XOR without bitwise operators?

[2018-10-19 14:10] jeanbenitez commented on #850
/request

[2018-10-19 14:10] rgehan commented on #850
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 14:53] bedis-elacheche commented on #852
@leodevo my bad! x)

[2018-10-19 15:36] gihanmu opened #879 "Count number of characters in a given string"
# [numberOfChars]

### Link to the PR that adds this test case:

[Link](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/880)

### Where to implement:

`src/numberOfChars.js.js`

### Where are the tests:

`src/<umberOfChars.test.js`

### Description (optional):

Count the number of characters in a given string

---

# If you want to take on this issue:

- Check that the kata is labelled "up

[2018-10-19 15:39] rinkevich commented on #843
/request

[2018-10-19 15:39] rgehan commented on #843
Hey @rinkevich, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 15:41] KostasLib commented on #803
/request

[2018-10-19 15:41] rgehan commented on #803
Hey @KostasLib, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 15:42] #860 closed

[2018-10-19 15:48] nfatma commented on #874
/request

[2018-10-19 15:48] rgehan commented on #874
Hey @nfatma, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 15:51] #858 closed

[2018-10-19 16:16] kallerdaller commented on #879
/request

[2018-10-19 16:16] rgehan commented on #879
Hey @kallerdaller, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 16:41] Qwetuo opened #881 "animalSort"
# animalSort

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/882

### Where to implement:

`src/animalSort.js`

### Where are the tests:

`src/animalSort.test.js`

### Description (optional):

Write a method that accepts an array of objects (example below), and returns a new array.
The new array should be a copy of the original list, sorted fi

[2018-10-19 16:45] #786 closed

[2018-10-19 17:01] rinkevich opened #884 "Implement Vigenere Cipher"
# vigenereCipher

### Link to the PR that adds this test case:

#883

### Where to implement:

`src/vigenereCipher.js`

### Where are the tests:

`src/vigenereCipher.test.js`

### Description (optional):

Short description: [Vigenere cipher](https://en.wikipedia.org/wiki/Vigenère_cipher)

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is ass

[2018-10-19 17:02] #843 closed

[2018-10-19 17:09] qwewrty commented on #881
/request

[2018-10-19 17:09] rgehan commented on #881
Hey @qwewrty, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 17:12] minhnhattonthat commented on #877
/request

[2018-10-19 17:12] rgehan commented on #877
Hey @minhnhattonthat, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 17:41] suyasha0 commented on #884
/request

[2018-10-19 17:41] rgehan commented on #884
Hey @suyasha0, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 18:01] minhnhattonthat opened #886 "Implement findYou function"
# findYou

### Link to the PR that adds this test case:

#885

### Where to implement:

`src/findYou.js`

### Where are the tests:

`src/findYou.test.js`

### Description (optional):

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following chang

[2018-10-19 18:02] #877 closed

[2018-10-19 18:10] Baecon opened #888 "find smallest number in a array"
# smallestNumberInArray

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/887]

### Where to implement:

`src/smallestNumberInArray.js`

### Where are the tests:

`src/smallestNumberInArray.test.js`

### Description (optional):

find the smallest number in the array given

---

# If you want to take on this issue:

- Check that the kata is labe

[2018-10-19 18:19] Baecon commented on #886
/request

[2018-10-19 18:19] rgehan commented on #886
Sorry @Baecon, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-19 18:22] kallerdaller opened #891 "camelCase"
# [camelCase]

### Link to the PR that adds this test case:

#890

### Where to implement:

`src/camelCase.js`

### Where are the tests:

`src/camelCase.test.js`

### Description (optional):

Removes all spaces from a string and adds a capital at the beginning of each word
(converts string to camelCase)

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
-

[2018-10-19 18:27] #879 closed

[2018-10-19 18:29] aditj commented on #891
/request

[2018-10-19 18:29] rgehan commented on #891
Hey @aditj, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 18:32] rgehan commented on #810
Hey @caxco93,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-19 18:33] qwewrty opened #893 "Next perfect square"
# nextPerfectSquare

### Link to the PR that adds this test case:

#894

### Where to implement:

`src/nextPerfectSquare.js`

### Where are the tests:

`src/nextPerfectSquare.test.js`

### Description (optional):

Write a function that takes in a number and returns the next perfect square.
For example: Given an input `4` the function should return `9` which is the next perfect square.

---

# If y

[2018-10-19 18:33] #866 closed

[2018-10-19 18:33] Baecon commented on #886
/request

[2018-10-19 18:33] rgehan commented on #886
Hey @Baecon, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 18:38] SamirHodzic commented on #888
/request

[2018-10-19 18:38] rgehan commented on #888
Hey @SamirHodzic, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 18:43] #881 closed

[2018-10-19 18:52] SamirHodzic commented on #893
/request

[2018-10-19 18:52] rgehan commented on #893
Sorry @SamirHodzic, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-19 18:54] babhishek21 opened #897 "3-Sum"
# 3-Sum (a.k.a `threeSum`)

### Link to the PR that adds this test case:

#896

### Where to implement:

`src/threeSum.js`

### Where are the tests:

`src/threeSum.test.js`

### Description (optional):

Given an array of numbers and a target sum, find the first triplet that adds up to the target. If there is no such triplet, return null. Throw when you get invalid inputs.

---

# If you want to ta

[2018-10-19 19:04] kallerdaller commented on #810
/request

[2018-10-19 19:04] rgehan commented on #810
Hey @kallerdaller, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 19:08] rgehan commented on #893
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 19:08] 20manas commented on #893
/request

[2018-10-19 19:08] rgehan commented on #893
Sorry, @20manas, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-19 19:22] SamirHodzic opened #900 "AlternatingCharacters"
# AlternatingCharacters

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/901]

### Where to implement:

`src/AlternatingCharacters.js`

### Where are the tests:

`src/AlternatingCharacters.test.js`

### Description (optional):

Minimum number of deletions to make the alternating string for each string in array

---

# If you want to take on th

[2018-10-19 19:30] reekjam commented on #900
/request

[2018-10-19 19:30] rgehan commented on #900
Hey @reekjam, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 19:35] kallerdaller opened #902 "FizzBuzz"
# [FizzBuzz]

### Link to the PR that adds this test case:

#899

### Where to implement:

`src/<fizzBuzz>.js`

### Where are the tests:

`src/<fizzBuzz>.test.js`

### Description (optional):

If value is a multiple of 3, output Fizz
If value is a multiple of 5, output Buzz
If value is a multiple of 3 and 5, output FizzBuzz
If value is nothing or a string, throw error

---

# If you want to take o

[2018-10-19 19:36] #902 closed

[2018-10-19 20:12] jessmear opened #905 "implement addRoman"
# addRoman

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/906

### Where to implement:

`src/addRoman.js`

### Where are the tests:

`src/addRoman.test.js`

### Description (optional):

Add Roman numerals given to the function as a string with spaces separating the numerals.

- Accept any number of numerals.
- Accept lower case.
- Reject alte

[2018-10-19 20:17] #863 closed

[2018-10-19 20:18] SamirHodzic commented on #905
/request

[2018-10-19 20:19] rgehan commented on #905
Hey @SamirHodzic, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 20:21] jeanbenitez opened #908 "Print a given matrix in counter-clock wise spiral form"
# spiralMatrix

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/909

### Where to implement:

`src/spiralMatrix.js`

### Where are the tests:

`src/spiralMatrix.test.js`

### Description (optional):

Print a given matrix in counter-clock wise spiral form: Given a 2D array, print it in counter-clock wise spiral form.
---

# If you want to take o

[2018-10-19 20:33] jeanbenitez commented on #891
Looks like a duplicated kata, #819

[2018-10-19 20:37] kallerdaller opened #910 "Palindrome"
# [Palindrome]

### Link to the PR that adds this test case:

#907

### Where to implement:

`src/palindrome.js`

### Where are the tests:

`src/palindrome.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue,

[2018-10-19 20:38] #810 closed

[2018-10-19 20:43] kallerdaller commented on #891
Dang you right @jeanbenitez I didnt realise

[2018-10-19 20:45] suyasha0 commented on #884
@rinkevich
The parenthesis in the tests are wrong.
It should be `expect(vigenereCipher('ABC', 'B')).toEqual('BCD')`

Currently is `expect(vigenereCipher('ABC', 'B').toEqual('BCD'))`

[2018-10-19 20:49] NotoriousRebel commented on #910
You just want someone to check if a word is a palindrome?

[2018-10-19 20:52] kallerdaller commented on #910
@NotoriousRebel Yeah, that is the challenge. If it is palindrome it returns true, else it returns false

[2018-10-19 20:52] NotoriousRebel commented on #910
/request

[2018-10-19 20:52] rgehan commented on #910
Hey @NotoriousRebel, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 20:55] reekjam opened #912 "Implement countMax"
# countMax

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/911]

### Where to implement:

`src/countMax.js`

### Where are the tests:

`src/countMax.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that the kata is labelled "up

[2018-10-19 21:20] Delkhaz commented on #908
/request

[2018-10-19 21:20] rgehan commented on #908
Hey @Delkhaz, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 21:37] #900 closed

[2018-10-19 22:28] emirpolo commented on #912
/request

[2018-10-19 22:28] rgehan commented on #912
Hey @emirpolo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 22:32] rgehan commented on #844
Hey @willsoto,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-19 22:46] willsoto commented on #844
/reset

[2018-10-19 22:46] willsoto commented on #844
/request

[2018-10-19 22:46] rgehan commented on #844
Hey @willsoto, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-19 22:49] SamirHodzic opened #914 "odiousNumbers"
# odiousNumbers

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/913]

### Where to implement:

`src/odiousNumbers.js`

### Where are the tests:

`src/odiousNumbers.test.js`

### Description (optional):

Return all the odious numbers from range (inclusive).

---

# If you want to take on this issue:

- Check that the kata is labelled "up for g

[2018-10-19 22:50] #905 closed

[2018-10-19 23:27] emirpolo opened #915 "PickPeaks (Maxima Local)"
# pickPeaks

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/916

### Where to implement:

`src/pickPeaks.js`

### Where are the tests:

`src/pickPeaks.test.js`

### Description (optional):

[code]

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/requ

[2018-10-19 23:35] #912 closed

[2018-10-20 01:33] jeanbenitez commented on #914
/request

[2018-10-20 01:33] rgehan commented on #914
Hey @jeanbenitez, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 04:32] rgehan commented on #869
Hey @vigneshtdev,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-20 04:32] rgehan commented on #847
Hey @DirtySoc,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-20 04:35] dineshvgp commented on #869
/request

[2018-10-20 04:35] rgehan commented on #869
Hey @dineshvgp, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 07:19] tenkmilan commented on #847
/request

[2018-10-20 07:19] rgehan commented on #847
Hey @tenkmilan, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 08:46] dineshvgp opened #918 "Check if the given number is Hoax or not"
# isHoaxNumber

### Link to the PR that adds this test case:

#917

### Where to implement:

`src/isHoaxNumber.js`

### Where are the tests:

`src/isHoaxNumber.test.js`

### Description (optional):

Given a number ‘n’, check whether it is a hoax number or not.

A Hoax Number is defined as a composite number, whose sum of digits is equal to the sum of digits of its distinct prime factors. It may be

[2018-10-20 08:49] #869 closed

[2018-10-20 09:41] rahulchanglani commented on #918
/request I am taking this one

[2018-10-20 09:41] rgehan commented on #918
Hey @rahulchanglani, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 11:43] rahulchanglani opened #919 "Create debit card mask"
# [maskDebitCard]

### Link to the PR that adds this test case:

[https://github.com//pull/918]

### Where to implement:

`src/maskDebitCard.js`

### Where are the tests:

`src/maskDebitCard.test.js`

### Description (optional):

Write a function that returns a masked debit card number for security purpose.
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"

[2018-10-20 12:15] SamirHodzic commented on #897
/request

[2018-10-20 12:15] rgehan commented on #897
Hey @SamirHodzic, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 12:32] #918 closed

[2018-10-20 12:33] suyasha0 commented on #884
Waiting on test fix.

[2018-10-20 12:35] rahulchanglani commented on #915
/request I am taking this

[2018-10-20 12:35] rgehan commented on #915
Hey @rahulchanglani, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 12:43] rahulchanglani commented on #834
/request Taking it

[2018-10-20 12:43] rgehan commented on #834
Sorry @rahulchanglani, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-20 13:08] shivakaushal commented on #834
/request

[2018-10-20 13:08] rgehan commented on #834
Hey @shivakaushal, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 13:30] SamirHodzic commented on #897
@babhishek21 @rgehan test cases for invalid inputs are not defined properly. They should be as

[code]

not as they are currently defined

[code]

[2018-10-20 13:35] pawelnvk commented on #919
`/request` I would like to handle this one.

[2018-10-20 13:42] shivakaushal opened #922 "Group objects by key"
# groupObjectsByKey
`groupObjectsByKey`

### Link to the PR that adds this test case:

[/pull/923]

### Where to implement:

`src/<name of the function>.js`

### Where are the tests:

`src/groupObjectsByKey.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull R

[2018-10-20 13:54] #834 closed

[2018-10-20 13:55] mithwick93 commented on #922
/request

[2018-10-20 13:55] rgehan commented on #922
Hey @mithwick93, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 14:14] pawelnvk commented on #919
/request

[2018-10-20 14:14] rgehan commented on #919
Hey @pawelnvk, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 14:17] SamirHodzic commented on #897
/reset

[2018-10-20 15:01] mithwick93 opened #926 "dateInUTC"
# dateInUTC

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/927]

### Where to implement:

`src/dateInUTC.js`

### Where are the tests:

`src/dateInUTC.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull

[2018-10-20 15:06] #922 closed

[2018-10-20 16:32] #893 closed

[2018-10-20 16:32] rgehan commented on #803
Hey @KostasLib,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-20 16:32] rgehan commented on #874
Hey @nfatma,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-20 17:00] tenkmilan commented on #847
I'm working on it, please don't unassign because of inactivity.

[2018-10-20 17:03] nfatma commented on #874
/request

[2018-10-20 17:03] rgehan commented on #874
Hey @nfatma, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 17:15] willsoto commented on #844
/reset

[2018-10-20 17:16] willsoto commented on #926
/request

[2018-10-20 17:16] rgehan commented on #926
Sorry @willsoto, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-20 17:19] willsoto commented on #844
@rgehan Can I have this issue unassigned please?

[2018-10-20 17:20] jgroac opened #932 "create fromPairs"
# [fromPairs]

### Link to the PR that adds this test case:

[931](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/931)

### Where to implement:

`src/fromPairs.js`

### Where are the tests:

`src/fromPairs.test.js`

### Description (optional):

Given an array of key-value pairs  ```[['a', 1], ['b', 2]]```, return an object composed from key-value pairs.

---

# If you want to take on this

[2018-10-20 18:19] GaryPWhite commented on #932
/request

[2018-10-20 18:19] rgehan commented on #932
Hey @GaryPWhite, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 18:21] merelj opened #933 "Implement getAccessToArray"
# [getAccessToArray]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/934

### Where to implement:

`src/getAccessToArray.js`

### Where are the tests:

`src/getAccessToArray.test.js`

### Description (optional):

[code]
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the is

[2018-10-20 18:25] leodevo opened #935 "arrayAddition"
arrayAddition

### Link to the PR that adds this test case:

#936

### Where to implement:

src/arrayAddition.js

### Where are the tests:

src/arrayAddition.test.js

### Description (optional):

Addition element to element of numeric arrays.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to a

[2018-10-20 18:56] GaryPWhite opened #937 "Add Piglatinify"
# [piglatinify]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/938]

### Where to implement:

`src/piglatinify.js`

### Where are the tests:

`src/piglatinify.test.js`

### Description (optional):

turn any phrase or word to it's "[pig latin](https://en.wikipedia.org/wiki/Pig_Latin)" equivalent.

---

# If you want to take on this issue:

-

[2018-10-20 18:57] GaryPWhite commented on #933
/request

[2018-10-20 18:57] rgehan commented on #933
Sorry @GaryPWhite, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-20 18:59] #932 closed

[2018-10-20 18:59] GaryPWhite commented on #933
/request

[2018-10-20 18:59] rgehan commented on #933
Hey @GaryPWhite, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 19:06] nip10 commented on #926
/request

[2018-10-20 19:06] rgehan commented on #926
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 19:10] rahulchanglani opened #941 "Find Digital Root of number"
# findDigitalRoot

### Link to the PR that adds this test case:

[https://github.com//pull/915]

### Where to implement:

`src/findDigitalRoot.js`

### Where are the tests:

`src/findDigitalRoot.test.js`

### Description (optional):

A digital root is the recursive sum of all the digits in a number.
Given n, take the sum of the digits of n. If that value has two digits,
continue reducing in this w

[2018-10-20 19:14] sautumn commented on #803
/request

[2018-10-20 19:14] rgehan commented on #803
Hey @sautumn, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 19:15] #915 closed

[2018-10-20 19:18] rahulchanglani commented on #937
/request

[2018-10-20 19:18] rgehan commented on #937
Hey @rahulchanglani, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 19:23] sautumn opened #944 "Highest Product of Three"
# Highest Product of Three

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/943

### Where to implement:

`src/highestProductofThree.js`

### Where are the tests:

`src/highestProductofThree.test.js`

### Description:

Given an arrayOfInts, find the highestProduct you can get from three of the integers.

---

# If you want to take on this issue

[2018-10-20 19:32] rgehan commented on #886
Hey @Baecon,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-20 19:50] nip10 opened #945 "Implement filterObject"
# filterObject

### Link to the PR that adds this test case:

#946

### Where to implement:

`src/filterObject.js`

### Where are the tests:

`src/filterObject.test.js`

### Description (optional):

Given an object and an array of strings, return the (filtered) object with only the keys that match the strings.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for gr

[2018-10-20 19:57] SamirHodzic opened #947 "sumOfPerfectSquares"
# sumOfPerfectSquares

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/948]

### Where to implement:

`src/sumOfPerfectSquares.js`

### Where are the tests:

`src/sumOfPerfectSquares.test.js`

### Description (optional):

Find the length of the smallest list of perfect squares which add up to `n`.
Example:
[code]

---

# If you want to take on

[2018-10-20 20:01] #897 closed

[2018-10-20 20:04] SamirHodzic commented on #941
/request

[2018-10-20 20:04] rgehan commented on #941
Hey @SamirHodzic, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 20:07] #926 closed

[2018-10-20 20:28] brendoncaulkins commented on #945
/request

[2018-10-20 20:28] rgehan commented on #945
Hey @brendoncaulkins, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 20:41] SamirHodzic opened #950 "nameMatrix"
# nameMatrix

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/949]

### Where to implement:

`src/nameMatrix.js`

### Where are the tests:

`src/nameMatrix.test.js`

### Description (optional):

[code]
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/

[2018-10-20 20:43] #941 closed

[2018-10-20 20:46] surmistry commented on #950
Is this still open? I'd like to take a swing at it

[2018-10-20 20:50] SamirHodzic commented on #950
@surmistry just write `/request` as comment, and it will be assigned to you.

[2018-10-20 20:58] surmistry commented on #950
/request

[2018-10-20 20:58] rgehan commented on #950
Hey @surmistry, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 21:13] bbutkovic commented on #947
/request

[2018-10-20 21:13] rgehan commented on #947
Hey @bbutkovic, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 21:17] taverasmisael commented on #910
/request

[2018-10-20 21:17] rgehan commented on #910
Sorry, @taverasmisael, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-20 21:18] brendoncaulkins opened #952 "moneyPrint"
# moneyPrint

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/951]

### Where to implement:

`src/moneyPrint.js`

### Where are the tests:

`src/moneyPrint.test.js`

### Description (optional):

Given a number, round up any partial cents and print it with a leading dollar sign ($), commas to break up large numbers and always show the cents!

-

[2018-10-20 21:19] #945 closed

[2018-10-20 21:20] taverasmisael commented on #952
/request

[2018-10-20 21:20] rgehan commented on #952
Hey @taverasmisael, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 21:22] tenkmilan opened #953 "Total resistance of parallel resistors"
# totalResistanceOfParallelResistors

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/954

### Where to implement:

`src/totalResistanceOfParallelResistors.js`

### Where are the tests:

`src/totalResistanceOfParallelResistors.test.js`

### Description (optional):

The function should calculate the total resistance of parallel resistors.

---

[2018-10-20 21:32] surmistry commented on #950
I'm assuming the test case in place is sufficient and didn't make my own, so I left unchecked. Please advise

[2018-10-20 21:32] rgehan commented on #891
Hey @aditj,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-20 21:32] rgehan commented on #908
Hey @Delkhaz,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-20 21:37] surmistry commented on #886
/request

[2018-10-20 21:37] rgehan commented on #886
Sorry @surmistry, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-20 21:38] andrasbacsai commented on #953
/request

[2018-10-20 21:38] rgehan commented on #953
Hey @andrasbacsai, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 21:40] SamirHodzic commented on #950
Please read description of this issue from part `If you want to take on this issue:`.
You need to add test cases for new kata ([README.md](https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/README.md)).

[2018-10-20 21:43] surmistry commented on #950
This looks like it's a readme for create new kata, not implementing someone else's?

[2018-10-20 21:44] surmistry commented on #950
Oh, interesting, each implementation needs to create a new kata?

[2018-10-20 21:47] SamirHodzic commented on #950
Exactly 😄

[2018-10-20 22:03] #950 closed

[2018-10-20 22:06] surmistry commented on #886
/request

[2018-10-20 22:06] rgehan commented on #886
Hey @surmistry, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-20 22:11] adamxtokyo commented on #944
/request

[2018-10-20 22:11] rgehan commented on #944
Sorry, @adamxtokyo, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-20 22:12] adamxtokyo commented on #891
/request

[2018-10-20 22:12] rgehan commented on #891
Hey @adamxtokyo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.