[2018-10-02 14:06] rgehan opened #2 "Implement `sum`"

[2018-10-02 14:16] dimGlyn commented on #2
Hey! I' ll have a go at this 😃

[2018-10-02 14:17] TimothePearce commented on #2
@dimGlyn Sorry I'm on it for the last five minutes ;)

[2018-10-02 14:17] rgehan commented on #2
@dimGlyn You can implement @TimothePearce new function :)

[2018-10-02 14:19] #2 closed

[2018-10-02 14:29] TimothePearce opened #5 "Implement `multiply`"
@dimGlyn that's for you bro'

ding dong, tee-shirt is coming

[2018-10-02 14:33] chgasparoto commented on #5
I'm on it

[2018-10-02 14:33] rgehan commented on #5
@chgasparoto will do it

[2018-10-02 14:44] dimGlyn commented on #5
I was too late 😢

[2018-10-02 14:55] rgehan opened #10 "Implement `countOdd`"

[2018-10-02 14:55] rgehan opened #11 "Implement `max`"

[2018-10-02 14:55] TimothePearce opened #12 "Implement `convertIntToLetter`"

[2018-10-02 14:56] rgehan opened #13 "Implement `isPrefix`"

[2018-10-02 14:56] cptjacky opened #15 "Implement `countEven`"

[2018-10-02 14:56] TimothePearce commented on #12
@dimGlyn this time ?

[2018-10-02 14:57] cptjacky opened #16 "Implement `factorial`"

[2018-10-02 14:58] KUNAL1612 commented on #10
Want to get started but I have no idea what the issue is. Mind elaborating?

[2018-10-02 14:59] rbo13 commented on #16
Hi @cptjacky, can I take this one? Or someone is already implementing this?

[2018-10-02 15:00] rgehan commented on #16
Yes you can !

[2018-10-02 15:01] rgehan commented on #10
Look at the `src/countOdd.test.js` file, you have to implement `countOdd.js` so that the tests pass!

I'll mark it as assigned!

[2018-10-02 15:01] TimothePearce commented on #11
That's for me

[2018-10-02 15:02] bsztankovacs commented on #15
can you please add a specification, what should it do? I'd take it

[2018-10-02 15:03] rbo13 commented on #16
Thanks @rgehan

[2018-10-02 15:03] cptjacky commented on #15
Look at the src/countEven.test.js file, you have to implement countEven.js so that the tests pass!

I'll mark it as assigned!

[2018-10-02 15:03] Dikaeinstein commented on #12
@rgehan has this being assigned? I'd like to work on it

[2018-10-02 15:04] Delkhaz commented on #13
I’d like to look into solving this. Great reason to learn js.

[2018-10-02 15:04] tung-eh commented on #13
I want to take this issue

[2018-10-02 15:05] bsztankovacs commented on #15
thanks :) i'll be on it

[2018-10-02 15:05] rgehan commented on #13
@Delkhaz You can take it!

[2018-10-02 15:09] dimGlyn commented on #12
Heyyyyy yeah I' m here

[2018-10-02 15:11] TimothePearce commented on #12
@Dikaeinstein sorry that's for @dimGlyn I stole his last issue, next one is for you 👍

[2018-10-02 15:16] rbo13 commented on #16
Hi @rgehan CC @cptjacky, already created a PR that supports `factorial` 👍 kindly check it

[2018-10-02 15:20] #11 closed

[2018-10-02 15:20] TimothePearce opened #20 "Implement `fibonacci`"
### Fibonacci

**Where to implement**: `src/fibonacci.js`
**Where are the tests**: `src/fibonacci.test.js`

Good luck 🍺

[2018-10-02 15:21] TimothePearce commented on #20
@Dikaeinstein for you ?

[2018-10-02 15:28] rgehan opened #21 "Implement `get`"
### Get

**Where to implement**: `src/get.js`
**Where are the tests**: `src/get.test.js`
**Description**:
This function is a safe way of getting a value in a nested object/array

Thanks :heart:

[2018-10-02 15:30] jorge-andre commented on #21
Hey, I would like to work on this

[2018-10-02 15:31] rgehan commented on #21
Go ahead!

[2018-10-02 15:33] rgehan opened #23 "Implement `omit`"
### Omit

**Where to implement**: `src/omit.js`
**Where are the tests**: `src/omit.test.js`
**Description**:
It acts as `lodash.omit`, but please dont copy/paste it, it's not fun!

Thanks :heart:

[2018-10-02 15:35] tatchi commented on #23
Hi,

Can i take this one? :)

[2018-10-02 15:36] rgehan commented on #23
Yep go ahead!

[2018-10-02 15:37] TimothePearce opened #24 "Implement `dictionary`"
### Dictionary

**Where to implement**: `src/dictionary.js`
**Where are the tests**: `src/dictionary.test.js`

Good luck :heart:

[2018-10-02 15:38] sajadhsm commented on #24
Hi
Can I take this one?

[2018-10-02 15:38] TimothePearce commented on #24
@alepee that's for you I think

[2018-10-02 15:50] TimothePearce opened #28 "Implement `flatten`"
### Flatten

**Where to implement**: `src/flatten.js`
**Where are the tests**: `src/flatten.test.js`

Good luck :heart:

[2018-10-02 15:50] Alfreddatui commented on #28
can I get this?

[2018-10-02 15:51] cptjacky commented on #28
Sorry, I wanna have fun with that one so I got assigned from the start ;)

I'll ping you on the next one!

[2018-10-02 15:52] #12 closed

[2018-10-02 15:52] TimothePearce opened #30 "Implement `min`"
### Min

**Where to implement**: `src/min.js`
**Where are the tests**: `src/min.test.js`

Good luck :heart:

[2018-10-02 15:53] TimothePearce commented on #30
@Alfreddatui for you ?

[2018-10-02 15:53] rgehan opened #31 "Implement `partition`"
### Partition

**Where to implement**: `src/partition.js`
**Where are the tests**: `src/partition.test.js`
**Description**:
It acts like `lodash.partition`, but do not copy/past, it's no fun!

Thanks :heart:

[2018-10-02 15:54] KUNAL1612 commented on #10
Hello. After a lot of head scratching I have made sure that the countOdd.js file is correct and tested it with yarn test. My question is, what am I supposed to now with regards to changing the test data?

[2018-10-02 15:56] benNek commented on #31
Can I take this one?

[2018-10-02 15:56] rgehan commented on #10
You can now open a pull request, we'll review it and if it matches all the rules we'll merge it!

[2018-10-02 15:57] rgehan commented on #31
Only if you star the repo ;) Go ahead!

[2018-10-02 16:00] TimothePearce commented on #30
@dimGlyn ?

[2018-10-02 16:00] benNek commented on #31
Thanks! I did haha

[2018-10-02 16:02] cptjacky opened #33 "Implement `mean`"
### Mean

**Where to implement**: `src/mean.js`
**Where are the tests**: `src/mean.test.js`
**Description**:
The mean value of an array ;)

Thanks :heart:

[2018-10-02 16:08] audrius59 commented on #30
Can I take this one?

[2018-10-02 16:09] #28 closed

[2018-10-02 16:09] rgehan commented on #30
Yep!

[2018-10-02 16:10] ivansieder commented on #33
I'd like to take it :)

[2018-10-02 16:10] TimothePearce commented on #30
destroy it !

[2018-10-02 16:10] rgehan commented on #33
Yep !

[2018-10-02 16:24] benNek opened #37 "Implement `takeWhile`"
### takeWhile

**Where to implement**: `src/takeWhile.js`
**Where are the tests**: `src/takeWhile.test.js`
**Description**:
Returns an array of items which pass the predicate

Thanks :heart:

[2018-10-02 16:25] sadarshannaiynar opened #38 "Implement 'chunk'"
### Name of the function

**Where to implement**: `src/chunk.js`
**Where are the tests**: `src/chunk.test.js`
**Description**:
Similar to `lodash.chunk`

Thanks :heart:

[2018-10-02 16:30] kumaran-14 commented on #38
I ll take this

[2018-10-02 16:32] TimothePearce commented on #37
@sadarshannaiynar that's for you

[2018-10-02 16:34] KUNAL1612 commented on #10
Minor question: How do I check the checkboxes in the pull request description?

[2018-10-02 16:49] bitcolor commented on #38
I'll take it!

[2018-10-02 16:50] rgehan commented on #38
You can go ahead @kumaran-14

[2018-10-02 16:54] tatchi opened #45 "Implement 'removeConsecutiveDuplicates'"
### Name of the function

**Where to implement**: `src/removeConsecutiveDuplicates.js`
**Where are the tests**: `src/removeConsecutiveDuplicates.test.js`
**Description**:
Remove all consecutive duplicate values from an array

Thanks :heart:

[2018-10-02 16:59] bitcolor commented on #45
I'll take it

[2018-10-02 17:12] kumaran-14 commented on #45
I ll do it

[2018-10-02 17:26] sajadhsm opened #47 "Implement `isPalindrome`"
### isPalindrome

**Where to implement**: `src/isPalindrome.js`
**Where are the tests**: `src/isPalindrome.test.js`
**Description**:
Checks if a string is [Palindrome](https://en.wikipedia.org/wiki/Palindrome)

Thanks :heart:

[2018-10-02 17:27] bitcolor commented on #47
I'll take it

[2018-10-02 17:36] mohit2016 commented on #47
I can work on this

[2018-10-02 17:43] cptjacky commented on #5
No news for a few hours and missing a few things.

I'm releasing that issue for someone else to take.

[2018-10-02 17:50] AntonStrand commented on #5
I'll take it if it's okay.

[2018-10-02 17:58] cptjacky commented on #5
It's all yours @AntonStrand ! :)

[2018-10-02 18:02] cptjacky commented on #47
@bitcolor It's all yours!

[2018-10-02 18:09] #24 closed

[2018-10-02 18:09] #31 closed

[2018-10-02 18:29] TimothePearce commented on #45
@bitcolor it is yours 👍

[2018-10-02 18:30] TimothePearce commented on #45
Well in fact you already have https://github.com/rgehan/hacktoberfest-2k18-katas/issues/47 so @kumaran-14 let's go it is your turn

[2018-10-02 18:32] kumaran-14 commented on #38
I have implemented chunk and wrote new test cases for difference

[2018-10-02 18:34] #10 closed

[2018-10-02 18:34] #23 closed

[2018-10-02 18:35] TimothePearce commented on #13
@tung-eh any PR ?

[2018-10-02 18:35] TimothePearce commented on #21
@jorge-andre any PR ?

[2018-10-02 18:39] Dikaeinstein opened #50 "Implement returning an error message when argument with wrong type is passed to function"
### Name of the function
fibonacci
**Where to implement**: `src/fibonacci.js`
**Where are the tests**: `src/fibonacci.test.js`
**Description**:
If the function is complex enough to warrant a description, add it here...

Thanks :heart:

[2018-10-02 18:42] benNek commented on #50
I'll take it :)

[2018-10-02 18:42] AntonStrand opened #51 "Implements `fizzBuzz`"
### fizzBuzz

**Where to implement**: `src/fizzBuzz.js`
**Where are the tests**: `src/fizzBuzz.test.js`
**Description**:
Every number in an array divisible by 3 should be changed to 'fizz' and every number divisible by 5 should be changed to 'buzz'. If the number is divisible by both 3 and 5, it should be changed to 'fizzbuzz'. All other numbers should be left untouched.

[2018-10-02 18:42] benNek commented on #51
I'll take it :)

[2018-10-02 18:43] #38 closed

[2018-10-02 18:44] TimothePearce opened #54 "Implement `difference`"
### Difference

**Where to implement**: `src/difference.js`
**Where are the tests**: `src/difference.test.js`

Thanks :heart:

[2018-10-02 18:44] TimothePearce commented on #54
that's for me ;)

[2018-10-02 18:44] TimothePearce commented on #51
go for it @benNek

[2018-10-02 18:45] AntonStrand commented on #5
Thanks! PR and a new issue has been added.

[2018-10-02 18:45] kumaran-14 opened #55 "Implement difference"
### difference

**Where to implement**: `src/difference.js`
**Where are the tests**: `src/difference.test.js`
**Description**:
It should return a array of elements not found in remaining arrays. Similar to lodash.difference

Thanks :heart:

[2018-10-02 18:46] #55 closed

[2018-10-02 18:46] #5 closed

[2018-10-02 18:51] kumaran-14 commented on #21
i ll do this

[2018-10-02 18:55] jorge-andre commented on #21
Got a little caught up, someone else can do it. My apologies

[2018-10-02 19:02] igorantun commented on #50
I can take this.

[2018-10-02 19:06] kumaran-14 opened #58 "Implement 'fill'"
### fill

**Where to implement**: `src/filljs`
**Where are the tests**: `src/fill.test.js`
**Description**:
Similar to lodash.fill

Thanks :heart:

[2018-10-02 19:15] shweshi commented on #58
assign this to me.

[2018-10-02 19:19] TimothePearce opened #60 "Implement `isSuffix`"
### isSuffix

**Where to implement**: `src/isSuffix.js`
**Where are the tests**: `src/isSuffix.test.js`

Thanks :heart:

[2018-10-02 19:19] TimothePearce commented on #58
let's go

[2018-10-02 19:20] igorantun commented on #60
I can take this.

[2018-10-02 19:20] igorantun commented on #50
Is this valid? @Dikaeinstein

[2018-10-02 19:28] benNek commented on #51
I'm pretty sure that tests were wrong, so I will have to fix them too.

`expect(fizzBuzz([1, 2, 3])).toBeTruthy([1, 2, 'fizz'])`

Can anyone confirm if this not supposed to work?

[2018-10-02 19:33] AntonStrand commented on #51
Yeah, I just realized that I probably should have used `.toEqual` instead. I just used the generated code and didn't think too much about it.

[2018-10-02 19:34] TimothePearce commented on #51
Sorry, my fault. I missed it during the review

[2018-10-02 19:34] benNek opened #62 "Implement `uniq`"
### uniq

**Where to implement**: `src/uniq.js`
**Where are the tests**: `src/uniq.test.js`
**Description**:
Returns array with only unique values

Thanks :heart:

[2018-10-02 19:35] benNek commented on #51
No problem, I've changed it with my PR

[2018-10-02 19:35] AntonStrand commented on #62
I'll take it! if it's okay?

[2018-10-02 19:40] AntonStrand commented on #62
I promise to implement the tests correctly this time ;)

[2018-10-02 19:41] igorantun opened #63 "Implement greet"
### Name of the function

**Where to implement**: `src/greet.js`
**Where are the tests**: `src/greet.test.js`

Thanks :heart:

[2018-10-02 19:47] TimothePearce opened #65 "Implement `merge`"
### merge

**Where to implement**: `src/merge.js`
**Where are the tests**: `src/merge.test.js`

Thanks :heart:

[2018-10-02 20:01] Waddas commented on #63
I'll take this one

[2018-10-02 20:03] Delkhaz opened #68 "Implement `duplicateInArray`"
### Name of the function

**Where to implement**: `src/duplicateInArray.js`
**Where are the tests**: `src/duplicateInArray.test.js`
**Description**:
Find all the duplicate values in an array

Thanks :heart:

[2018-10-02 20:12] rgehan commented on #63
You go ahead

[2018-10-02 20:13] rgehan commented on #62
Yep go ahead!

[2018-10-02 20:14] peterjuskiewicz commented on #65
Hi, I'd like to do this one.

[2018-10-02 20:22] rgehan opened #71 "Implement `isFortyTwo`"
### isFortyTwo

**Where to implement**: `src/isFortyTwo.js`
**Where are the tests**: `src/isFortyTwo.test.js`

Thanks :heart:

[2018-10-02 20:30] rgehan commented on #68
It's merged, you can now implement it

[2018-10-02 20:30] #54 closed

[2018-10-02 20:30] rgehan commented on #71
Yep go ahead

[2018-10-02 20:31] TimothePearce commented on #65
@peterjuskiewicz that's for you, good luck

[2018-10-02 20:37] #21 closed

[2018-10-02 20:37] #13 closed

[2018-10-02 20:38] #20 closed

[2018-10-02 20:38] #15 closed

[2018-10-02 20:41] AntonStrand commented on #62
To be able to pass the tests I have to make a change to one of the tests if that's okay?
There is a bug in the test as it is right now. The second `array` should be `result`.

[code]

[2018-10-02 20:43] rgehan commented on #62
Yep that's totally fine, good catch!

[2018-10-02 20:59] rgehan opened #77 "Implement `ifZero`"
### ifZero

**Where to implement**: `src/ifZero.js`
**Where are the tests**: `src/ifZero.test.js`

Thanks :heart:

[2018-10-02 21:01] moogacs commented on #77
ifZero do what ?

[2018-10-02 21:01] #51 closed

[2018-10-02 21:02] Delkhaz commented on #77
if no one is assigned ill take it

[2018-10-02 21:02] rgehan commented on #77
It seems to sum its parameters and check if their sum is 0.

https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/src/ifzero.test.js

[2018-10-02 21:03] moogacs commented on #77
I will take it ?
@Delkhaz

[2018-10-02 21:03] rgehan commented on #77
Yep you were there first, go ahead

[2018-10-02 21:03] AntonStrand opened #78 "Implement `isHarshad`"
### isHarshad

**Where to implement**: `src/isHarshad.js`
**Where are the tests**: `src/isHarshad.test.js`
**Description**:
Validate if a number is a Harshad number with the base of 10.
The sum of the digits should be divisible by the number.

e.g.
`24, because 2 + 4 = 6 and 24 = 6 × 4`
`198, because 1 + 9 + 8 = 18 and 198 = 18 × 11`

Thanks :heart:

[2018-10-02 21:04] Delkhaz commented on #77
yea, no problem ! @moogacs

[2018-10-02 21:05] rgehan commented on #78
Could you make a PR with the relevant test cases? :)

[2018-10-02 21:09] AntonStrand commented on #78
Here you go https://github.com/rgehan/hacktoberfest-2k18-katas/pull/79

[2018-10-02 21:09] Delkhaz commented on #78
once merged ill tackle this

[2018-10-02 21:11] srsandy commented on #16
i can slove this.

[2018-10-02 21:13] rgehan commented on #78
Go ahead @Delkhaz

[2018-10-02 21:16] rgehan commented on #16
@srsandy Yes go ahead

[2018-10-02 21:19] srsandy opened #80 "Implement `decimalToBinary`"
### decimalToBinary

**Where to implement**: `src/decimalToBinary.js`
**Where are the tests**: `src/decimalToBinary.test.js`
**Description**:
Converts a Decimal number ( base 10 ) to a Binary number ( base 2 ).

Thanks :heart:

[2018-10-02 21:21] johnnymetz commented on #80
Is this assigned or can I take it?

[2018-10-02 21:28] #60 closed

[2018-10-02 21:29] lourdesr opened #83 "Implement 'firstCharacterInString'"
### firstCharacterInString

**Link to the PR that adds this test case**: [https://github.com/rgehan/hacktoberfest-2k18-katas/pull/81]
**Where to implement**: `src/firstCharacterInString.js`
**Where are the tests**: `src/firstCharacterInString.test.js`
**Description**:
Given an input string, return a list that contains all the first characters in the string.
Example:
Input:
Hello World
Output:
['H'

[2018-10-02 21:29] rgehan commented on #71
Fix #71

[2018-10-02 21:30] Waddas opened #84 "Implement `longestWord`"
### longestWord

**Link to the PR that adds this test case**: [#82](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/82)
**Where to implement**: `src/longestWord.js`
**Where are the tests**: `src/longestWord.test.js`

Thanks :heart:

[2018-10-02 21:30] ivansieder commented on #33
I'mma finish it, just got back to a PC :)

[2018-10-02 21:30] fritzlolpro commented on #83
I'll do it

[2018-10-02 21:33] rgehan commented on #83
You go ahead

[2018-10-02 21:33] #71 closed

[2018-10-02 21:33] srsandy commented on #80
#85 done 👍

[2018-10-02 21:34] rbadr commented on #84
I'll take it :)

[2018-10-02 21:35] AntonStrand commented on #33
Cool, then I’ll back off ;)

[2018-10-02 21:36] rgehan commented on #84
Go ahead!

[2018-10-02 21:38] srsandy commented on #80
If no one solves this add the task for me

[2018-10-02 21:39] ivansieder opened #86 "Implement `repeat`"
### repeat

**Link to the PR that adds this test case**: https://github.com/rgehan/hacktoberfest-2k18-katas/pull/39
**Where to implement**: `src/repeat.js`
**Where are the tests**: `src/repeat.test.js`

Thanks :heart:

[2018-10-02 21:39] lchaglla commented on #86
I'll take it

[2018-10-02 21:41] rgehan commented on #86
You go ahead (wait for #39 to be merged though)

[2018-10-02 21:48] srsandy commented on #16
#87 Done 👍

[2018-10-02 21:51] srsandy commented on #68
Can i take this.

[2018-10-02 21:53] fritzlolpro commented on #83
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/88
done

[2018-10-02 22:08] piksu commented on #45
I'd like to take this one. To clarify, input [1,2,3,3,4,4,5] should produce the output [1,2,3,4,5]?

[2018-10-02 22:09] johnnymetz opened #90 "Implement `reverseString`"
### Name of the function

**Link to the PR that adds this test case**:  #89
**Where to implement**: `src/revereString.js`
**Where are the tests**: `src/reverseString.test.js`
**Description**: Reverse a string (e.g. `"hello"` -> `"olleh"`)

Thanks :heart:

[2018-10-02 22:11] Sergeytroinin commented on #90
I'm on it

[2018-10-02 22:17] GuilhermeBaule commented on #45
I think yes.. [1,2,3,3,4,5,1] shuld produce [1,2,3,4,5,1], it just need to remove the sequential duplicated

[2018-10-02 22:19] johnnymetz commented on #80
Done: https://github.com/rgehan/hacktoberfest-2k18-katas/pull/89

[2018-10-02 22:46] lchaglla opened #92 "Implement `countCharacter`"
### Name of the function

**Link to the PR that adds this test case**:  https://github.com/rgehan/hacktoberfest-2k18-katas/pull/93
**Where to implement**: `src/countCharacter.js`
**Where are the tests**: `src/countCharacter.test.js`

Thanks :heart:

[2018-10-02 22:51] rbadr opened #95 "Implement `isDivisibleByThree`"
### isDivisibleByThree

**Link to the PR that adds this test case**: https://github.com/rgehan/hacktoberfest-2k18-katas/pull/94
**Where to implement**: `src/isDivisibleByThree.js`
**Where are the tests**: `src/isDivisibleByThree.test.js`
**Description**:
[code]

Thanks :heart:

[2018-10-02 22:53] lchaglla commented on #95
Ill take it

[2018-10-02 23:01] shotozuro commented on #92
I'll take it.. 👍

[2018-10-03 01:10] tcelestino commented on #68
@srsandy you can take it.

[2018-10-03 06:44] #80 closed

[2018-10-03 07:00] bsztankovacs commented on #95
next in line

[2018-10-03 07:08] #30 closed

[2018-10-03 07:12] rgehan opened #100 "Implement `pinValidator`"
### pinValidator

**Link to the PR that adds this test case**: #41
**Where to implement**: `src/pinValidator.js`
**Where are the tests**: `src/pinValidator.test.js`

Thanks :heart:

[2018-10-03 07:18] 0c0de commented on #100
I'll take it :smile:

[2018-10-03 07:19] #84 closed

[2018-10-03 07:20] #86 closed

[2018-10-03 07:27] #33 closed

[2018-10-03 07:28] #62 closed

[2018-10-03 07:28] #63 closed

[2018-10-03 07:36] kumaran-14 commented on #90
Next in line

[2018-10-03 07:42] rgehan commented on #78
I've seen no PR in the last 11h, I'll deassign you

[2018-10-03 07:43] rgehan commented on #68
I've seen no PR, I'll reopen the issue to someone else

[2018-10-03 08:05] rgehan commented on #100
Go ahead

[2018-10-03 08:27] cptjacky opened #104 "Implement `convertToLeetSpeak`"
### Name of the function

**Link to the PR that adds this test case**: #103
**Where to implement**: `src/convertToLeetSpeak.js`
**Where are the tests**: `src/convertToLeetSpeak.test.js`
**Description**:
This is basic leetspeak, just has to pass the tests ;)

Thanks :heart:

[2018-10-03 08:37] Tassion commented on #104
Doing it right now !

[2018-10-03 08:39] cptjacky commented on #104
Go ahead 👍

[2018-10-03 08:46] cptjacky commented on #78
I'm taking that one 🐵

[2018-10-03 08:53] t04glovern commented on #104
Could I work on this also?

[2018-10-03 08:55] #77 closed

[2018-10-03 08:56] rgehan commented on #104
No it's taken already sorry

[2018-10-03 09:01] rgehan opened #105 "Implement `isOdd`"
### isOdd

**Link to the PR that adds this test case**: #91
**Where to implement**: `src/isOdd.js`
**Where are the tests**: `src/isOdd.test.js`

Thanks :heart:

[2018-10-03 09:01] moogacs opened #106 "Implement isOdd"
**isOdd**

**Where to implement**: `src/isOdd.js`
**Where are the tests**: `src/isOdd.test.js`

Thanks :heart:

[2018-10-03 09:01] #106 closed

[2018-10-03 09:02] t04glovern commented on #105
Working on it now :)

[2018-10-03 09:03] 2wce commented on #105
On it

[2018-10-03 09:12] cptjacky opened #109 "Implement `isPrime`"
### isPrime

**Link to the PR that adds this test case**: #107
**Where to implement**: `src/isPrime.js`
**Where are the tests**: `src/isPrime.test.js`

Thanks :heart:

[2018-10-03 09:14] ChintuYadav commented on #109
I will work on it

[2018-10-03 09:14] Tassion opened #110 "implement encodeToCaesar"
### Name of the function

**Link to the PR that adds this test case**: [https://github.com/rgehan/hacktoberfest-2k18-katas/pull/108]
**Where to implement**: `src/encodeToCaesar.js`
**Where are the tests**: `src/encodeToCaesar.test.js`
**Description**:
Using the Caesar cipher, your function take a string (to encode) and a shift. Must return the encoded string.

Thanks :heart:

[2018-10-03 09:16] #110 closed

[2018-10-03 09:24] Tassion opened #112 "Implement `encodeToCaesar`"
### encodeToCaesar

**Link to the PR that adds this test case**: #108
**Where to implement**: `src/encodeToCaesar.js`
**Where are the tests**: `src/encodeToCaesar.test.js`
**Description**:
Using the Caesar cipher, your function take a string (to encode) and a shift. Must return the encoded string.

Thanks :heart:

[2018-10-03 09:27] moogacs commented on #112
@rgehan  I could do this

[2018-10-03 09:27] 2wce commented on #68
can i take this?

[2018-10-03 09:27] rgehan commented on #112
Go ahead

[2018-10-03 09:34] rgehan commented on #68
Yes go ahead

[2018-10-03 09:45] Tassion commented on #90
Hmm, no update ? Can I take this one ?

[2018-10-03 09:46] t04glovern opened #115 "Implement `sortNames`"
# sortNames

### Link to the PR that adds this test case:
[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/114](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/114)

### Where to implement:
`src/sortNames.js`

### Where are the tests:
`src/sortNames.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
-

[2018-10-03 09:48] moogacs commented on #112
@rgehan  , there's outside of /src encodeToCaesar , i think i have to remove it

[2018-10-03 09:50] ChintuYadav opened #116 "Implement isAnagram"
# isAnagram

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/113

### Where to implement:
`src/isAnagram.js`

### Where are the tests:
`src/isAnagramtest.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull R

[2018-10-03 09:51] iflare3g commented on #105
On it

[2018-10-03 09:52] andrey-semin commented on #116
I'll take this one

[2018-10-03 09:52] Tassion commented on #112
I failed my 1st PR commit, you can remove encodeToCeasar files that aren't in src/ !

[2018-10-03 10:02] linosorice commented on #115
I'm on it

[2018-10-03 10:03] shotozuro opened #120 "Implement `decimalToHex`"
# [decimalToHex]

### Link to the PR that adds this test case:
[PR #119 ](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/119)

### Where to implement:
`src/decimalToHex.js`

### Where are the tests:
`src/decimalToHex.test.js`

### Description (optional):
Simple converter from decimal to hexadecimal number
----

# If you want to take on this issue:
- Verify that no one is working on it (if

[2018-10-03 10:07] honmanyau commented on #120
I'll work on this one! :)

[2018-10-03 10:07] shotozuro commented on #92
done [#119](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/119)

[2018-10-03 10:12] 2wce commented on #68
There's a missing closing bracket in my test which causes Jest to complain. Adding it fixes the issue, can i add the fix as part of my PR?

[2018-10-03 10:27] ChintuYadav commented on #109
@rgehan Done with this! https://github.com/rgehan/hacktoberfest-2k18-katas/pull/113

[2018-10-03 10:28] rgehan commented on #68
Yes you should :)

[2018-10-03 10:32] Sergeytroinin opened #123 "Implement `pow`"
# [Pow]

### Link to the PR that adds this test case:
#122

### Where to implement:
`src/pow.js`

### Where are the tests:
`src/pow.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed implementation of the function

[2018-10-03 10:33] Sergeytroinin commented on #90
Sorry for delay. Here is PR for it: #122

[2018-10-03 10:33] vishal-wadhwa commented on #123
I'd like to take this one. :)

[2018-10-03 10:39] lukebrobbs commented on #123
Ill do this

[2018-10-03 10:46] fritzlolpro opened #124 "implement `isCorrectBracketSequence`"
# isCorrectBracketSequence

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/88

### Where to implement:
`src/isCorrectBracketSequence.js`

### Where are the tests:
`src/isCorrectBracketSequence.test.js`

### Description (optional):
Classic kata

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `a

[2018-10-03 10:50] #90 closed

[2018-10-03 10:50] rgehan commented on #123
Go ahead

[2018-10-03 10:52] andrey-semin commented on #124
I'll take this

[2018-10-03 10:53] #109 closed

[2018-10-03 10:53] rgehan commented on #116
Go ahead

[2018-10-03 10:56] #105 closed

[2018-10-03 10:56] rgehan commented on #115
Go ahead

[2018-10-03 10:59] #112 closed

[2018-10-03 11:01] rgehan commented on #124
Go ahead

[2018-10-03 11:02] rgehan commented on #16
Released as the PR doesn't follow the rules

[2018-10-03 11:04] rgehan commented on #45
Released as the PR is now inactive

[2018-10-03 11:05] rgehan commented on #37
Released as the PR doesn't follow the rules.

[2018-10-03 11:08] rgehan opened #125 "Implement `sort`"
# sort

### Link to the PR that adds this test case:
#70

### Where to implement:
`src/sort.js`

### Where are the tests:
`src/sort.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed implementation of the function

[2018-10-03 11:09] ChintuYadav commented on #16
@rgehan Shall I work on it?

[2018-10-03 11:09] takethefake commented on #125
will do!

[2018-10-03 11:11] rgehan commented on #120
The PR that added this issue was closed, you should wait for it to be resubmitted

[2018-10-03 11:12] #120 closed

[2018-10-03 11:14] moogacs commented on #125
still open or @takethefake  has taken it ? @rgehan

[2018-10-03 11:15] honmanyau commented on #120
No worries and thank you very much for letting me know! I haven't actually touched anything yet because the PR wasn't accepted earlier. Thanks for organising this by the way!

[2018-10-03 11:17] rgehan commented on #16
Yes go ahead

[2018-10-03 11:18] rgehan commented on #125
I think @takethefake is on it, I'll tag it as "assigned"

[2018-10-03 11:19] andrey-semin opened #127 "Implement `arrayDifference`"
# arrayDifference

### Link to the PR that adds this test case:
#126

### Where to implement:
`src/arrayDifference.js`

### Where are the tests:
`src/arrayDifference.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for exampl

[2018-10-03 11:20] #116 closed

[2018-10-03 11:21] ChintuYadav opened #129 "Implement isEmail"
# isEmail

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/128

### Where to implement:
`src/isEmail.js`

### Where are the tests:
`src/isEmail.test.js`

### Description (optional):
Check if a given string is Email or not?

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)

[2018-10-03 11:30] piksu commented on #45
I headed to sleep and I am online now again. Let me finish this up by reopening the issue?

[2018-10-03 11:31] ChintuYadav commented on #123
@rgehan Is this still Open?

[2018-10-03 11:32] moogacs commented on #129
i will take it

[2018-10-03 11:32] ye-lin-aung commented on #127
Done here is PR link - https://github.com/rgehan/hacktoberfest-2k18-katas/pull/130

[2018-10-03 11:33] rgehan commented on #45
You can take it yes :)

[2018-10-03 11:37] rgehan commented on #123
No, read above

[2018-10-03 11:37] andrey-semin opened #132 "Implement `swapCase`"
# swapCase

### Link to the PR that adds this test case:
#131

### Where to implement:
`src/swapCase.js`

### Where are the tests:
`src/swapCase.test.js`

### Description (optional):
Write a function that returns the string `str` with inverted case per character (stR -> STr)
Numeric and special characters shall be ignored

----

# If you want to take on this issue:
- Verify that no one is working

[2018-10-03 11:39] takethefake opened #133 "Implement Pillars"
# Pillars

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/141

### Where to implement:
`src/pillars.js`

### Where are the tests:
`src/pillars.test.js`

### Description
There are pillars near the road. The distance between the pillars is the same
and the width of the pillars is the same. Your function accepts three arguments:

 - number of pill

[2018-10-03 11:40] #124 closed

[2018-10-03 11:40] lukebrobbs opened #135 "implement countSheep.js"
# countSheep

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/134

### Where to implement:
`src/countSheep.js`

### Where are the tests:
`src/countSheep.test.js`

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Req

[2018-10-03 11:41] Joaflora commented on #129
hey, can I work on it?

[2018-10-03 11:42] takethefake opened #139 "Implement BasicMath"
# Basic Math

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/141

### Where to implement:
`src/basicMath.js`

### Where are the tests:
`src/basicMath.test.js`

### Description (optional):
Your task is to create a function that does four basic mathematical operations.

The function should take three arguments - operation(string/char), value1(num

[2018-10-03 11:42] 2wce opened #140 "Implement Product"
# Product

### Link to the PR that adds this test case:
*https://github.com/rgehan/hacktoberfest-2k18-katas/pull/137*

### Where to implement:
`src/product.js`

### Where are the tests:
`src/product.test.js`

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request wi

[2018-10-03 11:43] #123 closed

[2018-10-03 11:44] Zaksh commented on #132
I would like to work on this.

[2018-10-03 11:46] carolinajimenez26 commented on #140
There is not `src/product.js` file

[2018-10-03 11:49] Joaflora commented on #140
Can I work on it? :)

[2018-10-03 11:49] #129 closed

[2018-10-03 11:50] ye-lin-aung opened #143 "Implement Opposite Numbers"
# Opposite Numbers

### Link to the PR that adds this test case:
[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/142]

### Where to implement:
`src/opposite.js`

### Where are the tests:
`src/opposite.test.js`

### Description (optional):
Very simple, given a number, find its opposite.

Examples:
[code]

----

# If you want to take on this issue:
- Verify that no one is working on it (if

[2018-10-03 11:51] #68 closed

[2018-10-03 11:51] rgehan commented on #140
Yep

[2018-10-03 11:52] carolinajimenez26 commented on #139
Can I work on it?

[2018-10-03 11:52] sandhyaagarwal commented on #37
Can I take this up ?

[2018-10-03 11:54] moogacs opened #144 "Implement isLink"
# isLink

### Link to the PR that adds this test case:
[[129](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/129)]

### Where to implement:
`src/isLink.js`

### Where are the tests:
`src/isLink.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pul

[2018-10-03 11:56] shotozuro commented on #92
I've opened new PR [#138](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/138) but there's a typo in the countCharacter test file from PR [#93](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/93). It causes my code failed to test.

[2018-10-03 11:58] cptjacky commented on #139
It's all yours @carolinajimenez26 👍

[2018-10-03 11:58] #92 closed

[2018-10-03 11:59] grv19 commented on #144
I'll take this one.

[2018-10-03 11:59] 142ayushkumar commented on #143
Can you assign this issue to me?

[2018-10-03 11:59] cptjacky commented on #132
Go ahead @Zaksh, it's yours!

[2018-10-03 11:59] cptjacky commented on #143
Alright, it's yours @142ayushkumar 👍

[2018-10-03 12:00] rgehan opened #145 "Implement `decimalToHex`"
# decimalToHex

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/138/files

### Where to implement:
`src/decimalToHex.js`

### Where are the tests:
`src/decimalToHex.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
-

[2018-10-03 12:00] cptjacky commented on #144
Alright @grv19 it's yours 👍

[2018-10-03 12:01] rgehan commented on #65
Reoped.

[2018-10-03 12:01] TimothePearce commented on #37
@sandhyaagarwal that's for you

[2018-10-03 12:02] carolinajimenez26 commented on #135
can I work on it?

[2018-10-03 12:02] #47 closed

[2018-10-03 12:02] #83 closed

[2018-10-03 12:02] mikek2 commented on #145
I'll take this one!

[2018-10-03 12:03] #78 closed

[2018-10-03 12:03] Joaflora commented on #140
What should I do?

[2018-10-03 12:03] cptjacky commented on #145
Alright, it's yours @mikek2 👍

[2018-10-03 12:04] rgehan commented on #140
I don't know, work on it maybe? :p

Just read the README, there are instructions

[2018-10-03 12:05] #127 closed

[2018-10-03 12:11] gtl90 commented on #135
I will work on this please assign me this issue.

[2018-10-03 12:12] ofaltins commented on #133
I'd like to tackle this one!

[2018-10-03 12:15] gattigaga commented on #58
Can you assign me into this issue ? I will try to do it...

[2018-10-03 12:36] carolinajimenez26 commented on #139
There was a problem in the `src/basicMath.test.js`, it was missing a `(` and `)` in the `expect `

[2018-10-03 12:38] KumarManoj-S commented on #143
I would like to take this!

[2018-10-03 12:40] cptjacky commented on #135
It's all yours @gtl90 :)

[2018-10-03 12:43] cptjacky commented on #133
Go ahead, it's all yours @ofaltins 👍

[2018-10-03 12:43] #16 closed

[2018-10-03 12:44] cptjacky commented on #58
It's all yours @gattigaga

[2018-10-03 12:45] #125 closed

[2018-10-03 12:46] 2wce commented on #65
Can I take this?

[2018-10-03 12:49] kumaran-14 commented on #95
I ll take this?

[2018-10-03 12:50] kumaran-14 commented on #115
can i do this?

[2018-10-03 12:50] lourdesr commented on #140
Next in line, if that's okay.

[2018-10-03 12:50] kumaran-14 commented on #100
Can i take this?

[2018-10-03 12:50] KumarManoj-S commented on #65
I will take this.

[2018-10-03 12:51] bsztankovacs commented on #95
Can I have it, as I volunteered before kumuran-14?

[2018-10-03 12:52] cptjacky commented on #115
@kumaran-14 Please check the labels before asking. This one has the "assigned" label and is therefore not up for grabs.

[2018-10-03 12:53] cptjacky commented on #100
@kumaran-14 same there, check the labels..

[2018-10-03 12:54] 142ayushkumar opened #148 "Implement isPowerOfTwo"
# [IsPowerOfTwo]

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/147

### Where to implement:
`src/isPowerOfTwo.js`

### Where are the tests:
`src/isPowerOfTwo.test.js`

### Description (optional):
You have to return true if passed number is a power of two otherwise return false
----

# If you want to take on this issue:
- Verify that no one is

[2018-10-03 12:54] kumaran-14 commented on #115
Okay sorry, but they have been inactive for sometime right?

[2018-10-03 12:54] cptjacky commented on #65
@2wce was the first to ask, it's yours! :)

@KumarManoj-S maybe the next one :)

[2018-10-03 12:54] kumaran-14 commented on #148
I ll take this

[2018-10-03 12:55] cptjacky commented on #115
We release the inactive ones from time to time, so just keep watching for an "up for grabs" one where no one already asked!

[2018-10-03 12:58] #143 closed

[2018-10-03 12:59] cptjacky commented on #148
PR was just merged, just pull the repo again and the test files will be here :)
That one is yours @kumaran-14

[2018-10-03 13:02] KumarManoj-S commented on #65
OMG. Actually I completed this but forgot to comment before starting.

[2018-10-03 13:04] grv19 opened #150 "Implement isValidIP for IPv4 and IPv6 Addresses"
# isValidIP

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/149

### Where to implement:
`src/isValidIP.js`

### Where are the tests:
`src/isValidIP.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on this issue:
- Verify that no one is working on it (i

[2018-10-03 13:06] mrkidsan commented on #150
May I take this?

[2018-10-03 13:07] cptjacky opened #151 "Implement `countingPrimes`"
# countingPrimes

### Link to the PR that adds this test case:
#146

### Where to implement:
`src/countingPrimes.js`

### Where are the tests:
`src/countingPrimes.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)

[2018-10-03 13:07] 142ayushkumar commented on #151
can you assign this issue to me?

[2018-10-03 13:08] KumarManoj-S commented on #151
Can I take this?

[2018-10-03 13:09] KumarManoj-S commented on #150
can i take this?

[2018-10-03 13:09] gattigaga opened #152 "Implement 'removeValue'"
# removeValue

### Link to the PR that adds this test case:
#58

### Where to implement:
`src/removeValue.js`

### Where are the tests:
`src/removeValue.test.js`

### Description (optional):
Function should returns a new array without values which are removed.

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here

[2018-10-03 13:10] KumarManoj-S commented on #152
can I take this?

[2018-10-03 13:11] cptjacky commented on #95
@kumaran-14 has been assigned another one already.

I'm assigning that one to you @bsztankovacs :)

[2018-10-03 13:12] #139 closed

[2018-10-03 13:16] 2wce opened #155 "Implement Shortest Word"
# shortestWord

### Link to the PR that adds this test case:
*https://github.com/rgehan/hacktoberfest-2k18-katas/pull/154*

### Where to implement:
`src/shortestWord.js`

### Where are the tests:
`src/shortestWord.test.js`

### Description (optional):
`return the shortest word in a sentence`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assign

[2018-10-03 13:19] honeyyenoh commented on #155
Can I take this one?

[2018-10-03 13:21] ofaltins opened #157 "Implement countCodeLines"
# countCodeLines

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/156

### Where to implement:
`src/countCodeLines.js`

### Where are the tests:
`src/countCodeLines.test.js`

### Description (optional):
Write a utility that counts the number of lines of actual code in a javascript source string, excluding comments and whitespace. The function ac

[2018-10-03 13:21] lourdesr commented on #140
Hey @rgehan - I'm ready with my PR.

[2018-10-03 13:29] lourdesr opened #160 "Convert C to F"
# cToF
### Link to the PR that adds this test case:
[#159](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/159)

### Where to implement:
`src/cToF.js`

### Where are the tests:
`src/cToF.test.js`

### Description (optional):
Converts Celcius to Farenheit (Formula given in test case)

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigne

[2018-10-03 13:29] KumarManoj-S commented on #155
Can I take this?

[2018-10-03 13:29] KumarManoj-S commented on #157
Can I take this?

[2018-10-03 13:30] KumarManoj-S commented on #160
Can I take this?

[2018-10-03 13:31] kumaran-14 opened #161 "Implement 'primeFactors'"
# primeFactors

### Link to the PR that adds this test case:
*https://github.com/rgehan/hacktoberfest-2k18-katas/pull/158*

### Where to implement:
`src/primeFactors.js`

### Where are the tests:
`src/primeFactors.test.js`

### Description (optional):
Simple enough, just go through the tests

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assign

[2018-10-03 13:31] lourdesr commented on #161
I'm taking it!

[2018-10-03 13:31] KumarManoj-S commented on #161
Can I take this?

[2018-10-03 14:08] SLR1999 commented on #151
I am interested in this issue. Can I do it?
Is it necessary to implement only in js?

[2018-10-03 14:10] 0c0de commented on #100
Sorry I forgot to say that when I wrote that I was on college so I was unable to do it :sweat_smile:

[2018-10-03 15:20] 0c0de opened #163 "Implement sumOfPairs"
# sumOfPairs

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/162

### Where to implement:
`src/sumOfPairs.js`

### Where are the tests:
`src/sumOfPairs.test.js`

### Description (optional):
Very simple :smile:  sum the pairs of a numbers in a range like from 0 to 6

----

# If you want to take on this issue:
- Verify that no one is working on i

[2018-10-03 16:19] #144 closed

[2018-10-03 16:20] rgehan commented on #150
@mrkidsan Go ahead

[2018-10-03 16:28] #133 closed

[2018-10-03 16:29] rgehan commented on #157
There is no point asking after someone JUST asked, we'll ALWAYS give it to the first person who asked for it

[2018-10-03 16:29] rgehan commented on #157
@kumaran-14 You go ahead

[2018-10-03 16:34] #148 closed

[2018-10-03 16:34] rgehan commented on #161
Go ahead @lourdesr

[2018-10-03 16:38] #140 closed

[2018-10-03 16:38] rgehan commented on #160
Finally @KumarManoj-S, you're the first on the issue ! :)

Yes, take it!

[2018-10-03 16:39] #100 closed

[2018-10-03 16:40] rgehan commented on #163
Go ahead @torendo

[2018-10-03 16:40] rgehan commented on #151
@142ayushkumar Go ahead

[2018-10-03 16:59] lourdesr commented on #161
Hey @rgehan - I'm on it. The test cases have _'toBeEqual'_, when I run 'yarn test' it asks me to change it to _'toEqual'_.

Can I change it in the test case: `src/primeFactors.test.js`

[2018-10-03 16:59] 142ayushkumar commented on #151
@rgehan i am getting this error when i test my code
![image](https://user-images.githubusercontent.com/23264605/46426299-c4a68980-c75b-11e8-9189-bf588cb3279f.png)
Any idea what is going wrong?

[2018-10-03 17:00] rgehan commented on #151
Maybe `cd ..` into the main directory?

[2018-10-03 17:00] rgehan commented on #161
Yeah go ahead, if there's an error in the test it's ok

[2018-10-03 17:05] lourdesr commented on #161
Cool, will send a PR soon.

[2018-10-03 17:16] lourdesr opened #166 "Implement 'largestString'"
# largestString

### Link to the PR that adds this test case:
[#165](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/165)

### Where to implement:
`src/largestString.js`

### Where are the tests:
`src/largestString.test.js`

### Description (optional):
Just return all the largest string from the given list of string. Quite easy, check out the test cases.

----

# If you want to take on thi

[2018-10-03 17:20] vishal-wadhwa commented on #166
Hi!

Can I take this one?

[2018-10-03 17:32] 00aney commented on #166
Can I take it?

[2018-10-03 17:55] 142ayushkumar opened #170 "Implement gcd"
# gcd

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/169

### Where to implement:
`src/gcd.js`

### Where are the tests:
`src/gcd.test.js`

### Description (optional):
Just return Greatest Common Divisor
----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and

[2018-10-03 17:55] 142ayushkumar commented on #151
@rgehan there is some mistake in countingPrimes.test.js , please check

[2018-10-03 17:58] 142ayushkumar commented on #170
can you assign me this issue?

[2018-10-03 18:05] kumaran-14 commented on #157
I'm a bit busy, can you assign someone else to this?

[2018-10-03 18:08] rgehan commented on #170
You created it, we'll leave it to someone else

[2018-10-03 18:09] lchaglla commented on #170
il take it

[2018-10-03 18:09] #161 closed

[2018-10-03 18:09] rgehan commented on #166
Yep

[2018-10-03 18:11] mannutech commented on #170
I am also in to take this.

[2018-10-03 18:11] #151 closed

[2018-10-03 18:11] rgehan commented on #170
@lchaglla Go ahead

[2018-10-03 18:13] mannutech commented on #170
@rgehan Can you create a request to do Bignumber handling and I will take care of this.

[2018-10-03 18:16] kumaran-14 commented on #45
This was open too long? can i have a go at this?

[2018-10-03 18:18] rgehan commented on #45
@piksu Do you still want it?

[2018-10-03 18:29] 142ayushkumar commented on #170
@rgehan I think creating few more problems will be better idea, because many people here want to contribute. What about sending a PR with few problems ?

[2018-10-03 18:31] kumaran-14 commented on #160
Can i do this? as no response came from @KumarManoj-S ?

[2018-10-03 18:31] honeyyenoh opened #173 "Implement sieveOfEratosthenes"
# cToF
### Link to the PR that adds this test case:
[#159](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/171)

### Where to implement:
`src/sieveOfEratosthenes.js`

### Where are the tests:
`src/sieveOfEratosthenes.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the

[2018-10-03 18:32] rgehan commented on #157
@mannutech Go ahead

[2018-10-03 18:32] kumaran-14 commented on #173
i ll do this

[2018-10-03 18:34] rgehan commented on #160
While I can understand your excitement, it's only been two hours.

Stop spamming and wait for your turn

[2018-10-03 18:35] rgehan commented on #173
Ok go ahead

[2018-10-03 18:38] #132 closed

[2018-10-03 18:40] #45 closed

[2018-10-03 18:44] piksu opened #174 "Implement `addKeyAndValueToObject`"
# addKeyAndValueToObject

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/96

### Where to implement:
`src/addKeyAndValueToObject.js`

### Where are the tests:
`src/addKeyAndValueToObject.test.js`

### Description (optional):
[code]

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for

[2018-10-03 18:44] honeyyenoh commented on #174
can i take this issue?

[2018-10-03 18:46] rgehan commented on #174
Yes go ahead @honeyyenoh

[2018-10-03 18:58] rgehan opened #175 "Implement `tokenizer`"
# tokenizer

:warning: This one might be a bit difficult/time-consuming :warning:

### Where to implement:
`src/tokenizer.js`

### Where are the tests:
`src/tokenizer.test.js`

### Description (optional):
This is the first step towards implementing an interpreter. "Tokenization" simply means transforming a sequence of characters into a sequence of tokens. This tokens are then fed into another step

[2018-10-03 19:02] Zaksh commented on #175
Can I take it ?

[2018-10-03 19:04] rgehan commented on #175
You totally can, but this could take you a long time.

Do you still want it?

[2018-10-03 19:08] Zaksh opened #176 "Implement nextPowerOfTwo"
# nextPowerOfTwo

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/172

### Where to implement:
`src/nextPowerOfTwo.js`

### Where are the tests:
`src/nextPowerOfTwo.test.js`

### Description (optional):
This function will take a number and should returns next power of 2 (higher or equeal to the number passed). e.g:
nextPowerOfTwo(2) should retur

[2018-10-03 19:13] lchaglla opened #178 "Implement integerToRoman"
# integerToRoman

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/177

### Where to implement:
`src/integerToRoman.js`

### Where are the tests:
`src/integerToRoman.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
-

[2018-10-03 19:14] lchaglla commented on #176
ill take it

[2018-10-03 19:14] Zaksh commented on #175
I just checked the test case and for now I can see the test case include

- const
- identifier
- numbers
- operators
- semicolon

Do you intend to add some more tokens or that's all ?

[2018-10-03 19:16] rgehan commented on #176
Go ahead

[2018-10-03 19:16] rgehan commented on #175
No that's all, we could do much more, but this is enough for a kata

[2018-10-03 19:19] rgehan opened #179 "Implement `generateSquare`"
# generateSquare

### Where to implement:
`src/generateSquare.js`

### Where are the tests:
`src/generateSquare.test.js`

### Description (optional):
This simply should generate an ASCII square

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the f

[2018-10-03 19:21] rgehan opened #180 "Implement `floodArea`"
# floodArea

### Where to implement:
`src/floodArea.js`

### Where are the tests:
`src/floodArea.test.js`

### Description (optional):
The idea here, is simply to flood a virtual 2d world with virtual water.

`floodArea(map, x, y)`
This method takes three parameters:
- A `map` (array of strings representing a 2d world)
- `x` The x coordinate from where to start flooding
- `y` The y coordinate from

[2018-10-03 19:28] #170 closed

[2018-10-03 19:29] Delkhaz commented on #178
ill take care of this

[2018-10-03 19:35] MystikNinja commented on #180
Could you explain what the function expects x and y to be exactly in terms of the input string array? Is it 0-indexed? Is the x-coordinate the column number or the row number?

[2018-10-03 19:37] kumaran-14 opened #184 "Implement 'firstRecurringChar'"
# firstRecurringChar
### Link to the PR that adds this test case:
*https://github.com/rgehan/hacktoberfest-2k18-katas/pull/182*

### Where to implement:
`src/firstRecurringChar.js`

### Where are the tests:
`src/firstRecurringChar.test.js`

### Description (optional):
Not to complex, check the test cases.

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's la

[2018-10-03 19:39] honeyyenoh commented on #184
can I take?

[2018-10-03 19:41] yurrr commented on #175
In case @Zaksh doesn't . I'd like to do this.

[2018-10-03 19:42] rgehan commented on #180
`x` and `y` are 0 indexed, and the space is like that:

[code]

[2018-10-03 19:43] Zaksh commented on #175
@rgehan Yes, I will do it.

[2018-10-03 19:44] rgehan commented on #178
Go ahead

[2018-10-03 19:44] rgehan commented on #175
Ok @Zaksh, it's for you

[2018-10-03 19:48] #174 closed

[2018-10-03 19:50] #173 closed

[2018-10-03 19:50] rgehan commented on #184
@honeyyenoh Yep

[2018-10-03 19:52] honeyyenoh opened #187 "Implement replaceChars"
# replaceChars

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/185

### Where to implement:
`src/replaceChars.js`

### Where are the tests:
`src/replaceChars.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on this issue:
- Verify that no one is working

[2018-10-03 19:52] lchaglla opened #188 "Implement romanToInteger"
# romanToInteger

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/186

### Where to implement:
`src/romanToInteger.js`

### Where are the tests:
`src/romanToInteger.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
-

[2018-10-03 19:57] mannutech commented on #188
I will take

[2018-10-03 20:07] igorantun commented on #187
I can take this

[2018-10-03 20:33] #184 closed

[2018-10-03 20:35] rgehan commented on #188
Go ahead @mannutech

[2018-10-03 20:36] rgehan commented on #187
How do you manage to use the PR template each time 😛

[2018-10-03 20:36] honeyyenoh opened #194 "Implement findAngleByClock"
# findAngleByClock

### Link to the PR that adds this test case:
[#193](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/193)

### Where to implement:
`src/findAngleByClock.js`

### Where are the tests:
`src/findAngleByClock.test.js`

### Description (optional):
Find an angle between hours and minutes hands

----

# If you want to take on this issue:
- Verify that no one is working on it (i

[2018-10-03 20:37] Oshawk opened #195 "Implement wordSpiral"
# wordSpiral

:warning: This one is potentially more challenging than the others, so take it if you have a bit of time ahead of you :warning:

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/192

### Where to implement:
`src/wordSpiral.js`

### Where are the tests:
`src/wordSpiral.test.js`

### Description:
You do not have a description of what

[2018-10-03 20:39] AntonStrand commented on #187
If this is an actual issue I would be interested

[2018-10-03 20:40] rgehan commented on #187
Take it :)

[2018-10-03 20:41] #179 closed

[2018-10-03 20:41] sajadhsm commented on #194
I take it :)

[2018-10-03 20:43] rgehan commented on #195
@Oshawk Could you explain a bit where the spiral should start? From the two examples I find it a bit confusing

[2018-10-03 20:43] honeyyenoh commented on #187
@rgehan it's magic! My last one has an usual template :)

[2018-10-03 20:49] #37 closed

[2018-10-03 20:50] Oshawk commented on #195
There is no real starting position, the spiral just grows from a point and is padded with spaces into the smallest possible box. This is a copy of a kata I made a while ago for Python (https://www.codewars.com/kata/word-spiral/python). Part of the game is to work out what is going on.

[2018-10-03 20:51] rgehan commented on #195
So it's still deterministic? Because if it's not we're going to have a problem with that strict `Jest.toEqual` assertion 😛

[2018-10-03 20:52] rgehan commented on #145
Reopened as it seems to be stale.

[2018-10-03 20:52] rgehan commented on #135
Reopened as it seems to be stale.

[2018-10-03 20:53] rgehan commented on #115
Reopened as it seems to be stale.

[2018-10-03 20:53] rgehan commented on #95
Reopened as it seems to be stale.

[2018-10-03 20:53] rgehan commented on #152
@suzicurran Do you still want it?

[2018-10-03 20:54] rgehan commented on #150
Reopened as it seems to be stale.

[2018-10-03 20:54] rgehan commented on #163
@torendo Do you still want it?

[2018-10-03 20:55] rgehan commented on #166
@00aney Do you still want it?

[2018-10-03 20:56] Oshawk commented on #195
Yep, absolutely, the alphabet example is the easiest to see what is going on. The other examples show what should happen in the case of overlaps. Don't really want to say too much more. It is certainly a fairly challenging one but 16 people got it over at codewars so is deff possible.

[2018-10-03 20:56] rgehan commented on #160
Reopened as it seems to be stale.

[2018-10-03 21:01] rgehan commented on #195
Cool then! I added a small "warning" in the description so that it's not assigned to someone that will give up immediately

[2018-10-03 21:01] rgehan commented on #194
Ok 👍

[2018-10-03 21:04] mikek2 commented on #145
Sorry for the delay, I will post a PR tonight when I get home from work!

[2018-10-03 21:06] rgehan commented on #145
No problem, I'm cleaning up a bit as we have quite a lot of stale issues. I'll reassign it to you

[2018-10-03 21:08] xingwang commented on #160
I'll take it

[2018-10-03 21:10] rgehan commented on #160
Go ahead

[2018-10-03 21:38] xingwang opened #198 "Convert F to C"
# fToC

### Link to the PR that adds this test case:
#196

### Where to implement:
`src/fToC.js`

### Where are the tests:
`src/fToC.js.test.js`

### Description (optional):
Converts Farenheit to Celcius (Formula given in test case). Throws an ValidationError if undefined is passed in.

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` fo

[2018-10-03 21:39] #160 closed

[2018-10-03 21:40] AntonStrand opened #199 "Implement `mode`"
# mode

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/197

### Where to implement:
`src/mode.js`

### Where are the tests:
`src/mode.test.js`

### Description (optional):
Return an array of the most frequent numbers in the provided array.

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assig

[2018-10-03 21:43] #187 closed

[2018-10-03 21:50] SGospodinov commented on #198
Can I take this one

[2018-10-03 21:53] WrightKD commented on #199
Can I work on this ?

[2018-10-03 21:57] rgehan commented on #199
Yes go ahead

[2018-10-03 22:04] joaopjt commented on #198
Can i get this one? Will take only a few minutes

[2018-10-03 22:06] rgehan commented on #198
Yep go ahead

[2018-10-03 22:11] sajadhsm opened #202 "Implement toCamelCase"
# toCamelCase

### Link to the PR that adds this test case:
#201

### Where to implement:
`src/toCamelCase.js`

### Where are the tests:
`src/toCamelCase.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed implementa

[2018-10-03 22:18] #194 closed

[2018-10-03 22:30] MitchB09 commented on #202
Hi! is this still available? I'd like to tackle it!

[2018-10-03 23:10] suzicurran commented on #152
Yep, sorry, got pulled away with work! Thanks for checking.

[2018-10-03 23:11] 00aney opened #204 "Implement findAnagram"
# findAnagarm

### Link to the PR that adds this test case:
#203

### Where to implement:
`src/findAnagarm.js`

### Where are the tests:
`src/findAnagarm.test.js`

### Description (optional):
return anagram string array

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create

[2018-10-03 23:48] pynnl commented on #204
Hi, I'm interested in this. Can I take it?

[2018-10-03 23:55] Delkhaz commented on #178
will complete tonight, please dont reassign

[2018-10-04 00:15] VickyKoblinski commented on #95
I'll take it

[2018-10-04 00:24] lucasheim opened #209 "Implement atbash"
# atbash

### Link to the PR that adds this test case:
#208

### Where to implement:
`src/atbash.js`

### Where are the tests:
`src/atbash.test.js`

### Description (optional):
The Atbash cipher is a very common, simple cipher. Basically, when encoded, an "A" becomes a "Z", "B" turns into "Y", "C" becomes "X", etc.

----

# If you want to take on this issue:
- Verify that no one is working on it (

[2018-10-04 00:50] WrightKD opened #210 "Implement HashSHA"
# HashSHA

### Link to the PR that adds this test case:
[Will add now](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/197)

### Where to implement:
`src/HashSHA.js`

### Where are the tests:
`src/HashSHA.test.js`

### Description (optional):
The function takes an input and returns a hash using SHA512.

----

# If you want to take on this issue:
- Verify that no one is working on it (if it

[2018-10-04 01:09] VickyKoblinski opened #213 "Implement Slug"
# Slug

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/212
### Where to implement:
`src/slug.js`

### Where are the tests:
`src/slug.test.js`

### Description (optional):
Slug takes a string, trims it, and then replaces all spaces ( ) with underscores (_).

Example: '   My string!' => 'My_string!'

----

# If you want to take on this issue:
- V

[2018-10-04 01:28] pynnl commented on #135
I'd like to take this if possible. Thank you.

[2018-10-04 01:43] suzicurran opened #214 "Implement isObject"
# isObject

### Link to the PR that adds this test case:
[#215](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/215)

### Where to implement:
`src/isObject.js`

### Where are the tests:
`src/isObject.test.js`

### Description (optional):
Given an element, say if it's an object or not! Note that there are many sorts of objects. :)

----

# If you want to take on this issue:
- Verify that no

[2018-10-04 02:01] suzicurran commented on #209
I'd like to take this once the PR is merged in, thanks!

[2018-10-04 03:16] Delkhaz opened #217 "implement `nthRoot`"
# nthRoot

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/218

### Where to implement:
`src/nthRoot.js`

### Where are the tests:
`src/nthRoot.test.js`

### Description (optional):
calculate the nth root of a give number

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
-

[2018-10-04 03:59] pynnl commented on #195
Although i'm requesting for another issue, I've already done it, and also this word spiral seems to be interesting, can I work on this too, while waiting for the other issue to be assigned? Thank you.

[2018-10-04 04:00] kumaran-14 commented on #214
I will take this

[2018-10-04 05:35] whathejoe commented on #213
Hi, I'd like to take this please

[2018-10-04 05:39] whathejoe commented on #115
Hi, I'd like to work on this

[2018-10-04 05:53] sivcan commented on #163
@rgehan If it's open for reassignment, I can take this up.

[2018-10-04 06:06] #150 closed

[2018-10-04 06:06] rgehan commented on #209
Go ahead

[2018-10-04 06:08] #145 closed

[2018-10-04 06:08] rgehan opened #220 "Implement `lcm`"
# lcm

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/206

### Where to implement:
`src/lcm.js`

### Where are the tests:
`src/lcm.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the f

[2018-10-04 06:10] #202 closed

[2018-10-04 06:10] rgehan opened #221 "Implement `isCubic`"
# isCubic

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/205

### Where to implement:
`src/isCubic.js`

### Where are the tests:
`src/isCubic.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Reques

[2018-10-04 06:11] Andras-Simon commented on #220
Hi, can I take this one?

[2018-10-04 06:12] #199 closed

[2018-10-04 06:14] #95 closed

[2018-10-04 06:14] rgehan commented on #213
Go ahead

[2018-10-04 06:15] #166 closed

[2018-10-04 06:15] rgehan commented on #204
Ok

[2018-10-04 06:16] Andras-Simon commented on #221
@rgehan I'd like to take this one

[2018-10-04 06:16] #152 closed

[2018-10-04 06:17] rgehan commented on #214
You already have one, do not take them all for yourself

[2018-10-04 06:27] torendo commented on #163
@rgehan, good morning! You just forgot about time zones =) If it possible, I still want to do it

[2018-10-04 06:29] rgehan commented on #163
I'm not forgetting timezones, but we have so many people asking for a chance to take the issues that it's difficult to decide what to do when we see an issue/PR that was inactive for 9h.

I'll gladly reassign it to you

[2018-10-04 06:31] ChintuYadav commented on #220
I will work on it @rgehan

[2018-10-04 06:31] torendo commented on #163
Oh, understood. Thank you for your time, by the way.

[2018-10-04 06:48] viswanathamsantosh commented on #214
Can I work on this?

[2018-10-04 07:00] rgehan commented on #214
Yes

[2018-10-04 07:19] whathejoe commented on #213
thanks. will send a PR later today

[2018-10-04 07:34] Andras-Simon opened #224 "Implement `median`"
# median

### Link to the PR that adds this test case:
#223

### Where to implement:
`src/median.js`

### Where are the tests:
`src/median.test.js`

### Description (optional):
Find the median of the numbers in an array.

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Creat

[2018-10-04 07:58] s22su commented on #135
Can I get it, please?

[2018-10-04 08:02] pynnl opened #226 "Implement `isPrimeNumber`"
# isPrimeNumber

### Link to the PR that adds this test case:
#225

### Where to implement:
`src/isPrimeNumber.js`

### Where are the tests:
`src/isPrimeNumber.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed impl

[2018-10-04 08:27] lukebrobbs commented on #226
Can i take this please?

[2018-10-04 08:56] torendo opened #228 "Implement oddOccurrencesInArray"
# oddOccurrencesInArray

### Link to the PR that adds this test case:
[#227](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/227)

### Where to implement:
`src/oddOccurrencesInArray.js`

### Where are the tests:
`src/oddOccurrencesInArray.test.js`

### Description (optional):
A non-empty array A consisting of integers is given. The array contains an odd number of elements, and each element

[2018-10-04 08:59] torendo commented on #163
@rgehan I've finished. It's my first PR on GitHub ever.
Also in tests was one with a bug:
`  it('goes from 5 to 15', () => {
    expect(sumOfPairs([5,15])).toEqual(50);
  });`
result from 5 to 15 should be equals to 60, because of sequence: 5 7 9 11 13 15

[2018-10-04 09:22] devcer opened #230 "Implement 'contains'"
# contains

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/229

### Where to implement:
`src/contains.js`

### Where are the tests:
`src/contains.test.js`

### Description (optional):
contains should accept two parameters, an array, and a value. The function should check if the value is present in the array and return a boolean.
----

# If you

[2018-10-04 10:00] kumaran-14 commented on #210
I ll take this, i finished the other one

[2018-10-04 10:05] kumaran-14 opened #233 "Implement 'numberClimber'"
# numberClimber

### Link to the PR that adds this test case:
*https://github.com/rgehan/hacktoberfest-2k18-katas/issues/204*

### Where to implement:
`src/numberClimber.js`

### Where are the tests:
`src/numberClimber.test.js`

### Description (optional):
For every positive integer N, there exists a unique sequence starting with 1 and ending with N and such that every number in the sequence is ei

[2018-10-04 10:12] WrightKD commented on #230
Can I work on this ?

[2018-10-04 10:58] #221 closed

[2018-10-04 10:59] #195 closed

[2018-10-04 10:59] rgehan commented on #226
Yep

[2018-10-04 11:01] rgehan commented on #163
@torendo Shouldn't it be the "sum of pair numbers between 5 to 15"?
In that case, I think it would be `6 8 10 12 14`

[2018-10-04 11:05] #204 closed

[2018-10-04 11:06] rgehan commented on #210
Ok

[2018-10-04 12:03] whathejoe opened #235 "Implement `isTruthy`"
# isTruthy

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/231

### Where to implement:
`src/isTruthy.js`

### Where are the tests:
`src/isTruthy.test.js`

### Description (optional):
The function returns `true` for truthy values and `false` for falsy values.

[code]

----

# If you want to take on this issue:
- Verify that no one is working on

[2018-10-04 12:16] WrightKD commented on #233
Can I take this one ?

[2018-10-04 12:16] torendo commented on #163
@rgehan I've just did a fix. Thanks for your patience =)

[2018-10-04 12:30] kumaran-14 commented on #210
@WrightKD @rgehan any tips on how to do this in vanilla js?

[2018-10-04 13:11] lemcz commented on #235
Please assign this one to me. Thanks :)

[2018-10-04 13:30] WrightKD commented on #210
@kumaran-14  You can have a look here [JavaScript SHA512](https://www.movable-type.co.uk/scripts/sha512.html) to get a better understanding.

[2018-10-04 13:31] joaopjt opened #237 "Implement `findIndex` without Array.findIndex"
# findIndex

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/236

### Where to implement:
`src/findIndex.js`

### Where are the tests:
`src/findIndex.test.js`

### Description (optional):
Returns the first index where the predicate truth test passes; otherwise returns -1.

----

# If you want to take on this issue:
- Verify that no one is workin

[2018-10-04 13:35] konamacona commented on #220
Hey, can I grab this one?

[2018-10-04 14:10] sobelek commented on #230
Could you assign me here?

[2018-10-04 14:17] ivansieder commented on #237
would like to take it! :)

[2018-10-04 14:33] hirenchauhan2 commented on #237
Hi, can I take this one?

[2018-10-04 14:38] joaopjt commented on #237
Hey, go ahead 😄

[2018-10-04 16:07] #163 closed

[2018-10-04 16:10] #178 closed

[2018-10-04 16:12] #198 closed

[2018-10-04 16:14] #213 closed

[2018-10-04 16:14] rgehan commented on #235
Go ahead

[2018-10-04 16:15] #214 closed

[2018-10-04 16:16] rgehan commented on #230
Go ahead

[2018-10-04 16:39] jrga03 commented on #237
Hi, is this assigned? Can I take this?

[2018-10-04 17:09] suzicurran opened #238 "Implement toPigLatin"
# toPigLatin

### Link to the PR that adds this test case:
[239](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/239)

### Where to implement:
`src/toPigLatin.js`

### Where are the tests:
`src/toPigLatin.test.js`

### Description (optional):
`toPigLatin` should take a string and transform it into Pig Latin. The tests should guide you through the necessary edge cases, but see https://en.wi

[2018-10-04 17:20] jrga03 commented on #217
Hi, can I take this?

[2018-10-04 17:22] rzgry opened #240 "Implement `range`"
# range

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/241

### Where to implement:
`src/range.js`

### Where are the tests:
`src/range.test.js`

### Description (optional):

The range of a array of numbers is the difference between the smallest and largest values.
Ex. the range of [3, 7, 4, 2, 6] is [2, 7].

----

# If you want to take on thi

[2018-10-04 17:41] s22su opened #243 "Implement arrayLeftRotate"
# arrayLeftRotate

### Link to the PR that adds this test case:
#242

### Where to implement:
`src/arrayLeftRotate.js`

### Where are the tests:
`src/arrayLeftRotate.test.js`

### Description (optional):
Rotate array elements from left to right n times.
Example: array = [1, 2, 3, 4], n = 2;
Steps: [1, 2, 3, 4] -> [2, 3, 4, 1] -> [3, 4, 1, 2]
Result: [3, 4, 1, 2]
Return null if passed element is no

[2018-10-04 17:46] s22su commented on #240
I can deal with it, please assign it to me.

[2018-10-04 17:48] hirenchauhan2 commented on #237
@jrga03 this is taken care by me!

[2018-10-04 17:57] hirenchauhan2 opened #245 "Implement kthSmallest"
# kthSmallest

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/244

### Where to implement:
`src/kthSmallest.js`

### Where are the tests:
`src/kthSmallest.test.js`

### Description (optional):
Given an array and a number k where k is smaller than the size of the array, we need to find the k’th smallest element in the given array. It is given th

[2018-10-04 18:01] piksu commented on #243
I think the last step of the description should be [3,4,1,2] instead of [3,4,1,3]? Same in the "Result: [3, 4, 1, 3]".

[2018-10-04 18:03] s22su commented on #243
@piksu thank you, updated description. Will check my PR also.

[2018-10-04 18:36] mannutech opened #247 "Implement decimalToOctal"
# [decimalToOctal]

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/265

### Where to implement:
`src/decimalToOctal.js`

### Where are the tests:
`src/decimalToOctal.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on this issue:
- Verify that no one is

[2018-10-04 18:51] sadarshannaiynar commented on #247
Can I take this?

[2018-10-04 18:53] sadarshannaiynar commented on #245
Can I take this?

[2018-10-04 18:59] hirenchauhan2 commented on #245
@sadarshannaiynar go ahead! 👍

[2018-10-04 19:02] Banb4n commented on #238
Can I take this?

[2018-10-04 19:14] rgehan commented on #217
Yes

[2018-10-04 19:15] #224 closed

[2018-10-04 19:16] rgehan commented on #240
Go ahead

[2018-10-04 19:18] #209 closed

[2018-10-04 19:18] rgehan commented on #238
Go ahead

[2018-10-04 19:28] #237 closed

[2018-10-04 19:30] #135 closed

[2018-10-04 19:33] rgehan commented on #243
@piksu do you want it?

[2018-10-04 19:38] #226 closed

[2018-10-04 19:40] rgehan opened #248 "Implement reverseArray"
# reverseArray

### Link to the PR that adds this test case:
#234

### Where to implement:
`src/reverseArray.js`

### Where are the tests:
`src/reverseArray.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed impleme

[2018-10-04 19:43] assertnotnull commented on #248
I want to take it

[2018-10-04 20:01] rgehan commented on #248
Go ahead

[2018-10-04 20:49] Banb4n opened #250 "Implement findLastItem"
# findLastItem

### Link to the PR that adds this test case:
#249

### Where to implement:
`src/findLastItem.js`

### Where are the tests:
`src/findLastItem.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed impleme

[2018-10-04 22:33] #238 closed

[2018-10-04 22:34] rgehan commented on #228
Yep go ahead

assign: @pynnl

[2018-10-04 22:37] rgehan commented on #247
Wait for it to be merged

[2018-10-04 22:37] rgehan commented on #220
Yep

[2018-10-04 22:37] rgehan commented on #233
Yep go!

[2018-10-04 22:38] rgehan commented on #180
@MystikNinja Are you working on it or shall I release it?

[2018-10-04 22:38] rgehan commented on #175
@Zaksh Are you working on it or shall I release it?

[2018-10-04 22:39] rgehan commented on #188
@mannutech Are you working on it or shall I release it?

[2018-10-04 22:39] rgehan commented on #115
@linosorice Are you working on it or shall I release it?

[2018-10-04 22:48] pynnl opened #252 "Implement validateNewPassword"
# validateNewPassword

### Link to the PR that adds this test case:
#251

### Where to implement:
`src/validateNewPassword.js`

### Where are the tests:
`src/validateNewPassword.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the followin

[2018-10-04 22:57] bhagatparwinder commented on #250
I can do this. Please assign.

Quick note, in the test

`{
    value: 'hello',
    expected: 'h'
  }`

should be

`{
    value: 'hello',
    expected: 'o'
  }`

right?

[2018-10-04 22:58] OZebra commented on #252
I'm on it!

[2018-10-05 01:19] jrga03 opened #255 "implement removeAllDuplicates"
# removeAllDuplicates

### Link to the PR that adds this test case:
[#254](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/254)

### Where to implement:
`src/removeAllDuplicates.js`

### Where are the tests:
`src/removeAllDuplicates.test.js`

### Description (optional):
Remove all duplicates in a given array, returns an array with unique values

----

# If you want to take on this issue:
-

[2018-10-05 01:26] OZebra opened #256 "Implement isPalindrome"
# isPalindrome

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/issues/252

### Where to implement:
`src/isPalindrome.js`

### Where are the tests:
`src/isPalindrome.test.js`

### Description (optional):
You must verify if a number is palindrome, the second half of the number must be the first one backwards.
Example:
1221 = TRUE
1321 = FALSE

# If y

[2018-10-05 01:38] #256 closed

[2018-10-05 01:38] OZebra commented on #256
This issue has been closed, please delete it.

[2018-10-05 01:39] OZebra commented on #252
I had some problems with my first pull request, but i'm still on it.

[2018-10-05 02:55] sadarshannaiynar opened #259 "Implement rotateArrayLeft"
# rotateArrayLeft

### Link to the PR that adds this test case:
#258

### Where to implement:
`src/rotateArrayLeft.js`

### Where are the tests:
`src/rotateArrayLeft.test.js`

### Description (optional):
Rotate an array to the left by the rotation factor specified

Array: `[1, 2, 3, 4, 5]`
Rotation Factor: 3
Rotated Array `[4, 5, 1, 2, 3]`

----

# If you want to take on this issue:
- Verify that

[2018-10-05 02:57] sadarshannaiynar commented on #255
Can I take this?

[2018-10-05 04:34] niralpokal commented on #259
Can I take this one?

[2018-10-05 04:52] linosorice commented on #115
Release it
On 5 Oct 2018, 00:39 +0200, Renan GEHAN <notifications@github.com>, wrote:

[2018-10-05 04:53] linosorice commented on #115
You can release it

[2018-10-05 05:11] Zaksh commented on #175
@rgehan I haven't started working yet as I am reading the articles you shared. Also, I am not working full time on this so it may take some time. If you want it early, you may assign it to someone (I don't have any issue with that) as it may take some time on my end but I am working on this steady and slowly :)

[2018-10-05 05:29] sadarshannaiynar commented on #259
@niralpokal Sure go ahead. :+1:

[2018-10-05 06:11] rgehan commented on #175
That's ok if you take some time, just wanted to know if you were on it :)

[2018-10-05 06:16] bereninga commented on #115
I'll take this one if it's still free.

[2018-10-05 06:42] #228 closed

[2018-10-05 06:48] #217 closed

[2018-10-05 06:49] rgehan commented on #255
Yes go ahead
assign: @sadarshannaiynar

[2018-10-05 06:57] #245 closed

[2018-10-05 06:57] rgehan commented on #259
assign: @niralpokal

[2018-10-05 07:00] rgehan commented on #115
Yeah go ahead
assign: @bereninga

[2018-10-05 07:01] piksu commented on #243
@rgehan sure, I just thought that others should have a chance to grab these since I've already done one kata already. However we won't be running out of the katas since new ones pops out as soon as one is finished. 👍

[2018-10-05 07:43] s22su commented on #259
@rgehan this is actually duplicate of my kata in #243

[2018-10-05 07:59] KumarManoj-S commented on #250
Can I take this ?

[2018-10-05 08:00] KumarManoj-S commented on #243
Can it take this?

[2018-10-05 08:08] rvagarwal opened #261 "Implement Binary to Decimal"

[2018-10-05 08:16] s22su opened #264 "Implement binarySum"
# binarySum

### Link to the PR that adds this test case:
#263

### Where to implement:
`src/binarySum.js`

### Where are the tests:
`src/binarySum.test.js`

### Description (optional):
Sum two integers (a + b) represented as binary numbers and return decimal value

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment

[2018-10-05 09:22] lemcz opened #267 "Implement toPascalCase"
# [toPascalCase]

### Link to the PR that adds this test case:
[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/266]

### Where to implement:
`src/toPascalCase.js`

### Where are the tests:
`src/toPascalCase.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- C

[2018-10-05 09:36] #157 closed

[2018-10-05 09:40] mannutech commented on #188
@rgehan I am continuing on this.

[2018-10-05 09:56] mannutech opened #269 "Implement integerToRoman"
# [integerToRoman]

### Link to the PR that adds this test case:
[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/268]

### Where to implement:
`src/integerToRoman.js`

### Where are the tests:
`src/integerToRoman.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on this issue:
- Verify that no one

[2018-10-05 10:00] #269 closed

[2018-10-05 10:00] #235 closed

[2018-10-05 10:01] #240 closed

[2018-10-05 10:03] AshokSubedi5 commented on #261
can i take this?

[2018-10-05 10:30] mannutech opened #271 "implement arrayElementsSubtraction"
# [arrayElementsSubtraction]

### Link to the PR that adds this test case:
[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/270]

### Where to implement:
`src/arrayElementsSubtraction.js`

### Where are the tests:
`src/arrayElementsSubtraction.test.js`

### Description (optional):
If the function is complex enough to warrant a description, add it here...

----

# If you want to take on thi

[2018-10-05 10:39] mannutech commented on #267
@rgehan I am in

[2018-10-05 11:11] rgehan opened #273 "Test issue do not comment"

[2018-10-05 11:11] rgehan commented on #273
assign: @rgehan

[2018-10-05 11:28] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:30] rgehan commented on #273
Hello

[2018-10-05 11:31] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:31] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:32] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:34] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:36] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:36] rgehan commented on #273
/deassign

[2018-10-05 11:38] rgehan commented on #273
/assign: @rgehan

[2018-10-05 11:38] rgehan commented on #273
/deassign

[2018-10-05 11:40] rgehan commented on #273
/deassign

[2018-10-05 11:49] #188 closed

[2018-10-05 11:49] rgehan commented on #271
/deassign

[2018-10-05 11:55] rgehan commented on #261
/assign: @AshokSubedi5

[2018-10-05 11:56] rgehan commented on #261
The kata doesn't exist, it was an error. Please find another issue.

[2018-10-05 11:56] #261 closed

[2018-10-05 11:57] rgehan commented on #264
/assign @vishal-wadhwa

[2018-10-05 11:58] rgehan commented on #250
If there is an error, fix it in your PR, the Travis tests will ultimately fine but I'll still merge it.

/assign @bhagatparwinder

[2018-10-05 11:59] rgehan commented on #259
Oh yeah, closing it.

[2018-10-05 11:59] #259 closed

[2018-10-05 11:59] #273 closed

[2018-10-05 11:59] rgehan commented on #267
Ok
/assign @mannutech

[2018-10-05 12:00] rgehan commented on #243
It's all yours

/assign @piksu

[2018-10-05 12:13] janczizikow commented on #271
Could I tackle this one?

[2018-10-05 12:55] rgehan commented on #271
Go ahead
/assign @janczizikow

[2018-10-05 13:01] EldoranDev commented on #180
If this kata is getting released I'd love to take it.

[2018-10-05 14:05] janczizikow opened #275 "implement largestPrimeFactor"
# largestPrimeFactor

### Link to the PR that adds this test case:
#274

### Where to implement:
`src/largestPrimeFactor.js`

### Where are the tests:
`src/largestPrimeFactor.test.js`

### Description (optional):
A prime number is a whole number greater than 1 whose only factors are 1 and itself. A factor is a whole numbers that can be divided evenly into another number. Implement the function *la

[2018-10-05 14:11] ktan114 commented on #275
Hi, I'd like to give it a shot!

[2018-10-05 14:11] janczizikow commented on #271
Hey @rgehan

I had to modify one of the test case for the issue. The assertion expected the function to throw an Error, so without the change it would be impossible to pass the tests.

[2018-10-05 14:59] vishal-wadhwa opened #279 "Implement evalOrQuery"
# evalOrQuery

### Link to the PR that adds this test case:
#278

### Where to implement:
`src/evalOrQuery.js`

### Where are the tests:
`src/evalOrQuery.test.js`

### Description (optional):

1. Return an array of objects that follow the criteria specified in the query.
2. Query contains certain values mapped to operators `'<', '>' and '='`.
3. Any objects in the array that obey this criteria whe

[2018-10-05 15:12] bhagatparwinder commented on #250
Sounds good. Thanks @rgehan

[2018-10-05 15:19] pynnl commented on #279
Can I take this? Thanks

[2018-10-05 15:30] #264 closed

[2018-10-05 15:31] rgehan commented on #279
Go ahead

/assign @pynnl

[2018-10-05 15:34] #230 closed

[2018-10-05 15:38] #271 closed

[2018-10-05 15:38] rgehan commented on #275
Go ahead

/assign @ktan114

[2018-10-05 15:39] rgehan commented on #220
I've seen no activity on this issue, I'm releasing it.

/reset

[2018-10-05 15:40] rgehan commented on #233
I've seen no activity on this issue, I'm releasing it.

/reset

[2018-10-05 15:40] rgehan commented on #255
I've seen no activity on this issue, I'm releasing it.

/reset

[2018-10-05 15:41] rgehan commented on #247
I've seen no activity on this issue, I'm releasing it.

/reset

[2018-10-05 15:43] rgehan commented on #180
I've seen no activity on this issue, I'm releasing it.

@pynnl @EldoranDev One of you is interested?

/reset

[2018-10-05 15:46] sadarshannaiynar commented on #247
Hey @rgehan I am working on it please assign it back. Please consider the time difference as well.

[2018-10-05 15:47] Delkhaz commented on #220
ill take this if its up for grabs

[2018-10-05 15:47] rgehan commented on #247
/assign @sadarshannaiynar

[2018-10-05 15:47] sadarshannaiynar commented on #255
@rgehan  Please assign it back I am working on it.

[2018-10-05 15:47] rgehan commented on #220
/assign @Delkhaz

[2018-10-05 15:49] rgehan commented on #255
/assign @sadarshannaiynar

[2018-10-05 15:57] rgehan opened #280 "Test issue, please ignore"

[2018-10-05 15:57] rgehan commented on #280
/assign @rgehan

[2018-10-05 15:58] rgehan commented on #280
/reset

[2018-10-05 16:00] rgehan commented on #280
/assign @rgehan

[2018-10-05 16:00] rgehan commented on #280
/reset

[2018-10-05 16:13] rgehan commented on #280
/assign @rgehan

[2018-10-05 16:14] rgehan commented on #280
/reset

[2018-10-05 16:15] rgehan commented on #280
/assign @rgehan

[2018-10-05 16:32] bereninga opened #282 "Implement `removeDuplicates`"
# removeDuplicates

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/281

### Where to implement:
`src/removeDuplicates.js`

### Where are the tests:
`src/removeDuplicates.test.js`

### Description (optional):
Remove duplicate values from an array of strings or numbers.

----

# If you want to take on this issue:
- Verify that no one is working o

[2018-10-05 16:46] EldoranDev commented on #180
I'm very interested in this one

[2018-10-05 16:46] rgehan commented on #180
Go ahead.

/assign @EldoranDev

[2018-10-05 16:52] tricinel commented on #282
@bereninga, I can take this if that's alright. I don't see `removeDuplicates.js` in `src` (#281 is not merged yet), but I do see `removeAllDuplicates`. Is the purpose the same?

[2018-10-05 16:53] tricinel commented on #282
cc @rgehan ^

[2018-10-05 16:56] rgehan commented on #282
It's a duplicate, I'll close it sorry

[2018-10-05 16:56] #282 closed

[2018-10-05 16:56] tricinel commented on #282
No problemo! :)

[2018-10-05 17:06] rgehan commented on #210
Hi,

It looks like this issue has been inactive for at least 12
hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be
  considered as related, the ID of the issue needs to appear either in
  the title of the PR, or in its body. Don't forget the # symbol before)

[2018-10-05 17:10] cptjacky commented on #280
/reset

[2018-10-05 17:10] cptjacky commented on #280
/assign @cptjacky

[2018-10-05 17:11] rgehan commented on #280
/assign @rgehan

[2018-10-05 17:11] rgehan commented on #280
/assign @cptjacky

[2018-10-05 17:11] rgehan commented on #280
/reset

[2018-10-05 17:17] sadarshannaiynar commented on #247
@mannutech When you are throwing an error in jest wrap it with a function so that it can check whether it throws the error. Instead of `expect(decimalToOctal(null)).toThrow()` do this `expect(() => decimalToOctal(null)).toThrow()`

[2018-10-05 17:20] sadarshannaiynar opened #284 "Implement padEnd"
# padEnd

### Link to the PR that adds this test case:
#283

### Where to implement:
`src/padEnd.js`

### Where are the tests:
`src/padEnd.test.js`

### Description (optional):
A string padding function similar to `lodash.pad`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
-

[2018-10-05 17:23] bereninga opened #285 "Implement startsWith"
# startsWith

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/281

### Where to implement:
`src/startsWith.js`

### Where are the tests:
`src/startsWith.test.js`

### Description (optional):
Return `true` or `false` if an array or string starts with a given value.

----

# If you want to take on this issue:
- Verify that no one is working on it

[2018-10-05 17:27] rgehan commented on #280
/assign @rgehan

[2018-10-05 17:28] rgehan commented on #280
Hey @rgehan,

It looks like this issue has been inactive for at least 1 second.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-05 17:30] rgehan commented on #280
/assign @rgehan

[2018-10-05 17:30] rgehan commented on #280
Hey @rgehan,

It looks like this issue has been inactive for at least 1 second.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol be

[2018-10-05 17:35] sadarshannaiynar opened #287 "Implement toSnakeCase"
# toSnakeCase

### Link to the PR that adds this test case:
#255

### Where to implement:
`src/toSnakeCase.js`

### Where are the tests:
`src/toSnakeCase.test.js`

### Description (optional):
Convert given string to snake case

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
-

[2018-10-05 17:36] #247 closed

[2018-10-05 17:36] sadarshannaiynar commented on #285
Can I take this?

[2018-10-05 17:36] rgehan commented on #284
/init

[2018-10-05 17:37] #255 closed

[2018-10-05 17:37] rgehan commented on #287
/init

[2018-10-05 17:38] rgehan commented on #180
/assign @EldoranDev

[2018-10-05 17:39] rgehan commented on #220
/assign @Delkhaz

[2018-10-05 17:39] rgehan commented on #275
Go ahead

/assign @ktan114

[2018-10-05 17:39] rgehan commented on #279
Go ahead

/assign @pynnl

[2018-10-05 17:40] rgehan commented on #250
/assign @bhagatparwinder

[2018-10-05 17:40] rgehan commented on #243
It's all yours

/assign @piksu

[2018-10-05 17:40] rgehan commented on #267
Ok
/assign @mannutech

[2018-10-05 17:41] rgehan commented on #115
Yeah go ahead
/assign @bereninga

[2018-10-05 17:41] rgehan commented on #252
/assign @OZebra

[2018-10-05 17:41] rgehan commented on #175
/assign @Zaksh

[2018-10-05 17:42] rgehan commented on #285
Sorry, still a duplicate :)

[2018-10-05 17:42] #285 closed

[2018-10-05 17:42] kirtansakariya commented on #287
May I please work on this?

[2018-10-05 17:47] rgehan commented on #287
Yep

/assign @kirtansakariya

[2018-10-05 17:48] sadarshannaiynar commented on #233
Can I take this?

[2018-10-05 17:50] rgehan commented on #233
Yes

/assign @sadarshannaiynar

[2018-10-05 18:05] danie1h commented on #284
Hello, can I take up this issue?

[2018-10-05 18:13] sadarshannaiynar opened #289 "Implement objectPathRetrieve"
# objectPathRetrieve

### Link to the PR that adds this test case:
#288

### Where to implement:
`src/objectPathRetrieve.js`

### Where are the tests:
`src/objectPathRetrieve.test.js`

### Description (optional):
Implement a function that takes object and path as parameters and returns the value

[code]

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labe

[2018-10-05 18:14] sadarshannaiynar commented on #233
@kumaran-14 `toBeEqual()` is not a jest function please use `toEqual()` :)

[2018-10-05 18:15] Delkhaz opened #291 "Implement `BubbleSort.js`"
# BubbleSort.js

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/290

### Where to implement:
`src/BubbleSort.js`

### Where are the tests:
`src/BubbleSort.test.js`

### Description (optional):
Sort the given numbers using BubbleSort
----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for

[2018-10-05 18:19] bereninga opened #292 "implement isRemainder"
# isRemainder

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/281

### Where to implement:
`src/isRemainder.js`

### Where are the tests:
`src/isRemainder.test.js`

### Description (optional):
Return `true` or `false` if the first argument equals the remainder of the second and third arguments.

----

# If you want to take on this issue:
- Veri

[2018-10-05 18:32] rgehan commented on #284
Yes go ahead

/assign @danie1h

[2018-10-05 18:35] #115 closed

[2018-10-05 18:35] rgehan commented on #292
/init

[2018-10-05 18:39] sadarshannaiynar commented on #292
Can I take this?

[2018-10-05 18:42] roblan commented on #289
@sadarshannaiynar can I take this one?

[2018-10-05 19:11] kirtansakariya opened #293 "implement isComposite"
# isComposite

### Link to the PR that adds this test case:
#294

### Where to implement:
`src/isComposite.js`

### Where are the tests:
`src/isComposite.test.js`

### Description (optional): <br/>
Return `true` or `false` if the number is a composite

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask t

[2018-10-05 19:13] OZebra commented on #252
hey @rgehan i had some problems with the test file. When i first cloned this repository, there was no validateNewPassword.js neither the test, so the bot just rejected my pr, once that i did not modify any file.

[2018-10-05 19:28] EldoranDev opened #296 "Implement parseNumber"
# parseNumber

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/295

### Where to implement:
`src/parseNumber.js`

### Where are the tests:
`src/parseNumber.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a

[2018-10-05 19:31] #180 closed

[2018-10-05 19:31] rgehan commented on #296
/init

[2018-10-05 19:33] #233 closed

[2018-10-05 19:33] rgehan commented on #289
/init

[2018-10-05 19:33] rgehan commented on #289
/assign @roblan

[2018-10-05 19:34] kirtansakariya commented on #293
A composite number is just a number that isn't prime.

[2018-10-05 19:39] rgehan commented on #291
/assign @railsstudent

[2018-10-05 19:40] rgehan commented on #292
/assign @sadarshannaiynar

[2018-10-05 19:40] rgehan commented on #292
/assign @sadarshannaiynar

[2018-10-05 19:52] EldoranDev opened #297 "Implement evalReversePolishNotation"
# evalReversePolishNotation

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/298

### Where to implement:
`src/evalReversePolishNotation.js`

### Where are the tests:
`src/evalReversePolishNotation.test.js`

### Description (optional):
This method should eval strings that are written in the Reverse Polish Notation.

See [RPN on Wikipedia](https:

[2018-10-05 20:18] ugursogukpinar commented on #296
@EldoranDev Can I work on this one?

[2018-10-05 20:18] rgehan commented on #280
/assign @rgehan

[2018-10-05 20:19] rgehan commented on #280
/assign @rgehan

[2018-10-05 20:19] rgehan commented on #280
/init

[2018-10-05 20:19] rgehan commented on #280
/reset

[2018-10-05 20:20] rgehan commented on #280
/assign @bernardoDeLaVegaDelSol

[2018-10-05 20:20] rgehan commented on #280
/reset

[2018-10-05 20:21] rgehan commented on #296
Go ahead /assign @ugursogukpinar

[2018-10-05 20:26] rgehan opened #300 "Implement Dummy"
This one's a test for the automation

[2018-10-05 20:28] ktan114 opened #301 "Implement reverseNumber"
# reverseNumber

### Link to the PR that adds this test case:
https://github.com/rgehan/hacktoberfest-2k18-katas/pull/299

### Where to implement:
`src/reverseNumber.js`

### Where are the tests:
`src/reverseNumber.test.js`

### Description (optional):
Reverse the input number, for example the input 123 should become 321.
----

# If you want to take on this issue:
- Verify that no one is working o

[2018-10-05 20:32] rgehan opened #303 "Test issue 2, please ignore"
Same, ignore this one please

[2018-10-05 20:37] bernardjkim commented on #293
Hi,
I was working on an implementation for isComposite, but I ran into an issue with the null test case. The value passed into expect is always an anonymous function. I'm not too familiar with arrow functions, but it seems that instead of invoking the function and returning the result, the function itself is being passed as the expect function argument. Could you help explain to me why this is the

[2018-10-05 21:05] #275 closed

[2018-10-05 21:05] rgehan commented on #301
/init

[2018-10-05 21:06] Banb4n commented on #301
Can I take this?

[2018-10-05 21:06] rgehan commented on #301
Yes, /assign @Banb4n

[2018-10-05 21:08] rgehan commented on #293
Hey,

You should probably remove the arrow function, and just call the `isComposite` function

/assign @bernardjkim

[2018-10-05 21:38] Banb4n opened #309 "Implement isGroupByPair"
# isGroupByPair

### Link to the PR that adds this test case:
#307

### Where to implement:
`src/isGroupByPair.js`

### Where are the tests:
`src/isGroupByPair.test.js`

### Description (optional):
Return true if `()` | `[]` | `{}` are grouped by pair.

----

# If you want to take on this issue:
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with

[2018-10-05 21:41] #300 closed

[2018-10-05 22:00] #301 closed

[2018-10-05 22:06] #296 closed

[2018-10-05 22:13] Banb4n commented on #297
Can I take this?

[2018-10-05 22:14] rgehan commented on #297
Yep /assign @Banb4n

[2018-10-05 22:16] rgehan commented on #280
/assign @rgehan

[2018-10-05 22:16] rgehan commented on #280
Yep /assign @rgehan

[2018-10-05 22:16] rgehan commented on #280
/reset

[2018-10-05 22:16] rgehan commented on #280
Yep /assign @rgehan

[2018-10-05 22:31] danie1h opened #313 "Implement kebabCase"
# kebabCase

### Link to the PR that adds this test case:
[#314](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/314)

### Where to implement:
`src/kebabCase.js`

### Where are the tests:
`src/kebabCase.test.js`

### Description (optional):
For a given string, return the same string in kebab case.
Kebab case: lower case words separated by a hyphen

----

# If you want to take on this issue

[2018-10-05 22:35] #293 closed

[2018-10-05 22:38] #284 closed

[2018-10-05 23:02] rgehan commented on #303
test

[2018-10-05 23:05] rgehan commented on #303
test

[2018-10-05 23:09] rgehan commented on #303
/request

[2018-10-05 23:09] rgehan commented on #303
/init

[2018-10-05 23:09] rgehan commented on #303
/request

[2018-10-05 23:09] rgehan commented on #303
Sorry @rgehan, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-05 23:09] #280 closed

[2018-10-05 23:09] rgehan commented on #303
/request

[2018-10-05 23:10] rgehan commented on #303
/request

[2018-10-05 23:10] rgehan commented on #303
Hey @rgehan, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-05 23:10] #303 closed

[2018-10-05 23:41] Jaace commented on #313
/request

[2018-10-05 23:41] rgehan commented on #313
Hey @Jaace, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-05 23:43] Jaace commented on #313
Thanks @rgehan - it looks like @danie1h did this though and it was merged already - or am I reading that wrong?

[2018-10-05 23:59] shmesa22 commented on #309
I can work on this one

[2018-10-06 01:16] germmand opened #317 "Implement findVowels"
# findVowels

### Link to the PR that adds this test case:

#316

### Where to implement:

`src/findVowels.js`

### Where are the tests:

`src/findVowels.test.js`

### Description (optional):

Return an array with the index of every vowel in a string.
**Note**: This is indexed from 1...n. (Not zero indexed).
**Note**: Vowels as in: a - e - i - o - u - y.
E.g: 'Hello' -> [2, 5].

---

# If you want

[2018-10-06 01:31] Jaace opened #318 "Implement stringToBinary"
# stringToBinary

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/319

### Where to implement:

`src/stringToBinary.js`

### Where are the tests:

`src/stringToBinary.test.js`

### Description (optional):

Convert given string to binary, null on empty strings.
---

# If you want to take on this issue:

- If no one is assigned to the issue, repl

[2018-10-06 01:36] #313 closed

[2018-10-06 01:37] Jaace commented on #317
/request

[2018-10-06 01:37] rgehan commented on #317
Hey @Jaace, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 01:51] vishal-wadhwa commented on #175
I've not been assigned this issue but had a little doubt.

@rgehan The first two test cases have lexeme as '10' for numbers 20 and 5. Are you sure it's that way?

Thanks

[2018-10-06 03:00] jrga03 commented on #318
/request

[2018-10-06 03:00] rgehan commented on #318
Hey @jrga03, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 03:34] jrga03 commented on #318
@Jaace I think the last test case has a typo. It expects a space at the end while the other tests do not.

[2018-10-06 03:37] Jaace opened #320 "Implement alphabetizeString"
# alphabetizeString

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/321

### Where to implement:

`src/alphabetizeString.js`

### Where are the tests:

`src/alphabetizeString.test.js`

### Description (optional):
Re-order a given string in alphabetical order, removing whitespaces, but keeping special characters. ASCII sort order will help you.

[2018-10-06 04:39] kirtansakariya opened #322 "Implement isSorted"
# isSorted

### Link to the PR that adds this test case:

#323

### Where to implement:

`src/isSorted.js`

### Where are the tests:

`src/isSorted.test.js`

### Description (optional):

Return `true` or `false` depending on if the list of numbers is sorted. Return `null` if any invalid input is passed in.

---

# If you want to take on this issue:

- If no one is assigned to the issue, reply with

[2018-10-06 04:41] mbabatunde commented on #322
Hi, could I actually take this one?

[2018-10-06 04:43] brendanAlbert commented on #320
/request

[2018-10-06 04:44] sadarshannaiynar opened #325 "Implement longestUniqueSubstring"
# longestUniqueSubstring

### Link to the PR that adds this test case:
#324

### Where to implement:
`src/longestUniqueSubstring.js`

### Where are the tests:
`src/longestUniqueSubstring.test.js`

### Description (optional):
Find the longest unique continuous substring from the given string

[code]
# If you want to take on this issue:

- If no one is assigned to the issue, reply with `/request` to

[2018-10-06 04:45] mbabatunde commented on #322
/request

[2018-10-06 04:47] mbabatunde commented on #322
/request

[2018-10-06 04:48] mbabatunde commented on #322
Can I take this one please?

[2018-10-06 06:02] pynnl opened #326 "Implement unblockIt"
### **_\*\*\*This issue is quite challenging\*\*\*_**
# unblockIt

### Link to the PR that adds this test case:

#327

### Where to implement:

`src/unblockIt.js`

### Where are the tests:

`src/unblockIt.test.js`

### Description:

**Description:** This function is a simple version of the popular game "Unblock It". You are required to move the desired block to reach the right edge of the boundary

[2018-10-06 06:17] #279 closed

[2018-10-06 07:51] brendanAlbert opened #329 "Implement bleepProfanity"
# [bleepProfanity]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/328]

### Where to implement:

`src/bleepProfanity.js`

### Where are the tests:

`src/bleepProfanity.test.js`

### Description (optional):

    This function should take a string argument, change any bad words into
    words like: '$%&^' or '@$#!', and return this bleeped str

[2018-10-06 09:33] Banb4n opened #330 "Implement findFirstNonRepetingChar"
# findFirstNonRepetingChar

### Link to the PR that adds this test case: #315

### Where to implement:

`src/findFirstNonRepetingChar.js`

### Where are the tests:

`src/findFirstNonRepetingChar.test.js`

### Description (optional):

Find the first unique char in a string and return it, if they only contain repeating char, return an empty string.

---

# If you want to take on this issue:

- If no

[2018-10-06 09:35] #297 closed

[2018-10-06 09:38] #292 closed

[2018-10-06 09:39] sadarshannaiynar commented on #330
/request

[2018-10-06 09:39] rgehan commented on #330
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 09:39] sadarshannaiynar commented on #325
@pynnl request again now. :)

[2018-10-06 09:56] rgehan commented on #320
Reserved for @brendanAlbert (once it's merged)

[2018-10-06 09:58] #317 closed

[2018-10-06 09:58] rgehan commented on #320
@brendanAlbert It's now merged

[2018-10-06 10:03] rgehan commented on #325
/assign @pynnl

[2018-10-06 10:04] rgehan commented on #325
/assign @pynnl

[2018-10-06 10:05] rgehan commented on #322
It's not merge yet, `/request` it once it's tagged "up for grabs"

[2018-10-06 10:07] rgehan commented on #175
@vishal-wadhwa You're right, fixed it in ce6e3db

[2018-10-06 10:20] sadarshannaiynar opened #332 "Implement foldArray"
# foldArray

### Link to the PR that adds this test case:
#331

### Where to implement:
`src/foldArray.js`

### Where are the tests:
`src/foldArray.test.js`

### Description (optional):
Given an array fold it at the mid point and return the folded array.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/r

[2018-10-06 10:56] cyng24 commented on #329
is there where I reply with /request ?

[2018-10-06 10:56] rgehan commented on #329
Sorry, @cyng24, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-06 10:56] rgehan opened #333 "Implement ZeroOutKthBit"
# zeroOutKthBit

### Where to implement:

`src/zeroOutKthBit.js`

### Where are the tests:

`src/zeroOutKthBit.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed implementation of the function (for example: `s

[2018-10-06 10:56] rgehan commented on #333
/init

[2018-10-06 10:58] cyng24 commented on #309
if it's still up for grabs, /request

[2018-10-06 10:58] rgehan commented on #309
Hey @cyng24, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 10:58] rgehan opened #334 "Implement moveFromAToB"
# moveFromAToB

### Where to implement:

`src/moveFromAToB.js`

### Where are the tests:

`src/moveFromAToB.test.js`

### Description (optional):

You'll have to implement pathfinding for this one to work.

Check `floodArea.js`, implementation, it could point you in the right direction.
Alternatively, you can consult [this website](https://www.redblobgames.com/pathfinding/a-star/introduction.html)

[2018-10-06 10:58] rgehan commented on #334
/init

[2018-10-06 10:59] mariannactx commented on #332
/request

[2018-10-06 10:59] rgehan commented on #332
Hey @mariannactx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 10:59] rgehan opened #335 "Implement transformMatchingKeys"
# transformMatchingKeys

### Where to implement:

`src/transformMatchingKeys.js`

### Where are the tests:

`src/transformMatchingKeys.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed implementation of the f

[2018-10-06 10:59] rgehan commented on #335
/init

[2018-10-06 11:50] cyng24 opened #336 "Implement rotateRight"
# rotateRight

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/337

### Where to implement:

`src/rotateRight.js`

### Where are the tests:

`src/rotateRight.test.js`

### Description (optional):

Given an array, rotate the list to the right by 'n' places, where 'n' is non-negative. Return the array.

---

# If you want to take on this issue:

[2018-10-06 11:55] alizhdanov commented on #335
/request

[2018-10-06 11:55] rgehan commented on #335
Hey @alizhdanov, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 12:04] #309 closed

[2018-10-06 12:04] rgehan commented on #336
/init

[2018-10-06 12:47] Jaace commented on #333
/request

[2018-10-06 12:47] rgehan commented on #333
Hey @Jaace, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 13:07] alizhdanov opened #338 "Implement filterByType"
# filterByType

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/339

### Where to implement:

`src/filterByType.js`

### Where are the tests:

`src/filterByType.test.js`

### Description:

You are able to filter arrays by type

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to

[2018-10-06 13:09] #335 closed

[2018-10-06 13:14] rgehan commented on #252
/reset

[2018-10-06 13:15] rgehan commented on #252
/assign @OZebra

[2018-10-06 13:15] rgehan commented on #252
/assign @OZebra

[2018-10-06 13:16] #329 closed

[2018-10-06 14:42] cyng24 commented on #322
/request

[2018-10-06 14:42] rgehan commented on #322
Hey @cyng24, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 15:08] cyng24 opened #340 "Implement wordSearch"
# wordSearch

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/341

### Where to implement:

`src/wordSearch.js`

### Where are the tests:

`src/wordSearch.test.js`

### Description (optional):

Given a 2D board and a word, find if the word exists in the grid.
EXAMPLE BOARD:
[code]
EXAMPLE WORD: `ABCCED`
The word can be constructed from letters

[2018-10-06 15:10] roblan opened #342 "Implement setObjectValueAtPath"
# setObjectValueAtPath

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/343

### Where to implement:

`src/setObjectValueAtPath.js`

### Where are the tests:

`src/setObjectValueAtPath.test.js`

### Description (optional):

Implement a function that takes 3 arguments: object, path and value, and sets given value in object at given path.

---

#

[2018-10-06 15:17] bagshik commented on #338
Hey, I can take this on. Are 'string' and 'number' the only types that can be passed in?

[2018-10-06 15:28] bagshik commented on #338
/request

[2018-10-06 15:28] rgehan commented on #338
Hey @bagshik, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 15:34] #289 closed

[2018-10-06 15:35] frextrite commented on #334
/request

[2018-10-06 15:35] rgehan commented on #334
Hey @frextrite, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 15:50] sadarshannaiynar commented on #342
/request

[2018-10-06 15:50] rgehan commented on #342
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 16:24] bagshik opened #344 "Implement inRange"
# inRange

### Link to the PR that adds this test case:

#345

### Where to implement:

`src/inRange.js`

### Where are the tests:

`src/inRange.test.js`

### Description (optional):

Checks if the given number falls within the given range => inRange(n, start, end)

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, rep

[2018-10-06 16:29] #338 closed

[2018-10-06 16:44] adamk1230 commented on #344
/request

[2018-10-06 16:44] rgehan commented on #344
Hey @adamk1230, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 16:53] brendanAlbert opened #346 "Implement bleepProfanity"
# bleepProfanity

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/347

### Where to implement:

`src/bleepProfanity.js`

### Where are the tests:

`src/bleepProfanity.test.js`

### Description (optional):

    This function should take a string argument, change any bad words into
    words like: '$%&^' or '@$#!', and return this bleeped string!

[2018-10-06 17:28] #320 closed

[2018-10-06 17:30] #322 closed

[2018-10-06 17:33] FLeXyo commented on #346
/request

[2018-10-06 17:33] rgehan commented on #346
Hey @FLeXyo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 17:36] railsstudent opened #349 "Implement pascalTriangle"
# pascalTriangle

### Link to the PR that adds this test case:

#348

### Where to implement:

`src/pascalTriangle.js`

### Where are the tests:

`src/pascalTriangle.test.js`

### Description (optional):

Return pascal triangle from row 0 to row n where n is the argument of the function.
Wiki of Pascal Triangle: https://en.wikipedia.org/wiki/Pascal%27s_triangle

---

# If you want to take on this

[2018-10-06 18:01] sadarshannaiynar opened #351 "Implement deleteObjectKeyAtPath"
# deleteObjectKeyAtPath

### Link to the PR that adds this test case:
#350

### Where to implement:
`src/deleteObjectKeyAtPath.js`

### Where are the tests:
`src/deleteObjectKeyAtPath.test.js`

### Description (optional):
Delete the key in the object given it's path in string

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the

[2018-10-06 18:03] #342 closed

[2018-10-06 18:14] jessepeterman commented on #351
/request

[2018-10-06 18:14] rgehan commented on #351
Hey @jessepeterman, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 18:29] adamk1230 opened #354 "implement evenNumbersInArray"
# evenNumbersInArray

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/353

### Where to implement:

`src/evenNumbersInArray.js`

### Where are the tests:

`src/evenNumbersInArray.test.js`

### Description (optional):

Function should accept an array and return a new array containing the even numbers of the original array.

---

# If you want to

[2018-10-06 18:32] rgehan commented on #250
Hey @bhagatparwinder,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the #

[2018-10-06 18:32] rgehan commented on #267
Hey @mannutech,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-06 18:32] rgehan commented on #243
Hey @piksu,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-06 18:37] FLeXyo opened #356 "Implement encodeBase64"
# encodeBase64

### Link to the PR that adds this test case:

#355

### Where to implement:

`src/encodeBase64.js`

### Where are the tests:

`src/encodeBase64.test.js`

### Description (optional):

Take a string as an input and return it encoded in Base64

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `

[2018-10-06 18:39] #346 closed

[2018-10-06 18:44] FLeXyo commented on #267
/request

[2018-10-06 18:44] rgehan commented on #267
Hey @FLeXyo, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 18:57] sadarshannaiynar commented on #356
/request

[2018-10-06 18:57] rgehan commented on #356
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 18:58] sadarshannaiynar commented on #354
/request

[2018-10-06 18:58] rgehan commented on #354
Sorry, @sadarshannaiynar, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-06 19:04] Yatheesan commented on #250
/request

[2018-10-06 19:04] rgehan commented on #250
Hey @Yatheesan, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 19:31] frextrite opened #357 "Implement reverseBits"
# reverseBits

### Link to the PR that adds this test case:

#358

### Where to implement:

`src/reverseBits.js`

### Where are the tests:

`src/reverseBits.test.js`

### Description (optional):

Reverse the binary bits of a number. Ignore trailing white spaces.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply

[2018-10-06 19:38] #334 closed

[2018-10-06 19:39] kirtansakariya commented on #336
Hi. I'm working on this issue at the moment. It's telling me that my results are not correct enough though the array being returned is shifted the correct amount. When I run `yarn test rotateRight.test.js` I'm told that it would be better to use `toEqual` as opposed to `toBe`. Am I allowed to make this change or should I keep trying to get it to work with `toBe`?

[2018-10-06 19:42] daubaris commented on #357
/request

[2018-10-06 19:42] rgehan commented on #357
Hey @daubaris, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 20:02] FLeXyo opened #360 "Implement calculateAge"
# calculateAge

### Link to the PR that adds this test case:

#359

### Where to implement:

`src/calculateAge.js`

### Where are the tests:

`src/calculateAge.test.js`

### Description (optional):

Calculate the age based on 2 dates.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for i

[2018-10-06 20:03] #267 closed

[2018-10-06 20:05] pynnl opened #362 "Implement centerText"
# centerText
### Link to the PR that adds this test case:

#361

### Where to implement:

`src/centerText.js`

### Where are the tests:

`src/centerText.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixed imple

[2018-10-06 20:06] #325 closed

[2018-10-06 20:11] cyng24 commented on #336
I think it's probably better to change it to toEqual

[2018-10-06 20:13] Yatheesan opened #363 "Implement Linear Search"
# linearSearch

### Link to the PR that adds this test case:

*https://github.com/rgehan/hacktoberfest-2k18-katas/pull/378*

### Where to implement:

`src/linearSearch.js`

### Where are the tests:

`src/linearSearch.test.js`

### Description (optional):

Find the index of the value from the given collection, if the value is not found return Not found.

---

# If you want to take on this issue:

-

[2018-10-06 20:14] brendanAlbert commented on #340
/request

[2018-10-06 20:14] rgehan commented on #340
Hey @brendanAlbert, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 20:16] jakesmithdeveloper commented on #360
/request

[2018-10-06 20:16] rgehan commented on #360
Hey @jakesmithdeveloper, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-06 20:39] kirtansakariya opened #367 "Implemented addOdd"
# addOdd

### Link to the PR that adds this test case:

#368

### Where to implement:

`src/addOdd.js`

### Where are the tests:

`src/addOdd.test.js`

### Description (optional):

Add all the odd values in an array and return the sum.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for

[2018-10-06 21:53] EldoranDev commented on #367
/request

[2018-10-06 21:53] rgehan commented on #367
Sorry, @EldoranDev, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-06 22:29] MikeBudimon commented on #243
I have implemented and tested the function locally and it worked without problems but when I run the test case it fails two times. After that I looked at the test case(arrayLeftRotate.test.js) and I think it has two small errors at line 9 and 13:

- `expect(arrayLeftRotate([5, 6, 3, 4], 2), 2).toEqual([3, 4, 5, 6]);` should be `expect(arrayLeftRotate([5, 6, 3, 4], 2)).toEqual([3, 4, 5, 6]);`

- `e

[2018-10-06 22:51] rgehan commented on #243
You can fix whatever problems there might be in your tests

[2018-10-06 23:24] MikeBudimon opened #370 "Implement arrayRightRotate"
# arrayRightRotate

### Link to the PR that adds this test case:

#369

### Where to implement:

`src/arrayRightRotate.js`

### Where are the tests:

`src/arrayRightRotate.test.js`

### Description:
Rotate array elements from right to left n times.
Example: array = [1, 2, 3, 4], n = 2;
Steps: [1, 2, 3, 4] -> [4, 1, 2, 3] -> [3, 4, 1, 2]
Result: [3, 4, 1, 2]
Return null if passed element is not an

[2018-10-06 23:38] Jaace commented on #318
Good catch @jrga03 - feel free to change that and then in the PR makes sure you ping rhegan that you had to make that small change to the test.

Apologies for the inconvenience!

[2018-10-06 23:56] piksu commented on #243
Hey, something came up so I was not able to do this. Glad someone already picked up on this, sorry!

[2018-10-07 00:14] Jaace opened #371 "Implement abbreviateString"
# abbreviateString

### Link to the PR that adds this test case:

TBD

### Where to implement:

`src/abbreviateString.js`

### Where are the tests:

`src/abbreviateString.test.js`

### Description (optional):

Abbreviates a string according to the rules set in the tests. It should be self-explanatory from those tests.

---

# If you want to take on this issue:

- Check that the kata is labelled "u

[2018-10-07 00:42] kiminohero commented on #362
/request

[2018-10-07 00:42] rgehan commented on #362
Sorry, @kiminohero, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-07 00:56] matheuscr30 opened #374 "Implement octalToDecimal"
# Implement octalToDecimal

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/373]

### Where to implement:

`src/octalToDecimal.js`

### Where are the tests:

`src/octalToDecimal.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check t

[2018-10-07 02:02] Jaace commented on #362
@pynnl I believe your final test is slightly wrong, but let me know if _I'm_ the one who is wrong here.

In your final test, you have:
[code]
with the `s` set to `'A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent'` and the `n` set to `20`.

This would make the test result need to be this instead:
[code]

If you agree with this, I will update your test to match the expected res

[2018-10-07 03:05] Jaace opened #376 "Implement humanizeNumber"
# humanizeNumber

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/377

### Where to implement:

`src/humanizeNumber.js`

### Where are the tests:

`src/humanizeNumber.test.js`

### Description (optional):

Make number more "human readable"

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one i

[2018-10-07 07:27] sadarshannaiynar opened #380 "Implement decodeBase64"
# decodeBase64

### Link to the PR that adds this test case:
#379

### Where to implement:
`src/decodeBase64.js`

### Where are the tests:

`src/decodeBase64.test.js`

### Description (optional):
Decode a base64 encoded string.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Cre

[2018-10-07 07:32] #356 closed

[2018-10-07 08:12] frextrite opened #381 "Typo in generate file message"
Typo in ```yarn generate functionName``` command message.

[2018-10-07 08:33] srishanbhattarai commented on #380
/request

[2018-10-07 08:33] rgehan commented on #380
Hey @srishanbhattarai, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 08:57] srishanbhattarai opened #384 "Implement smallestPositiveNonOccurence"
# smallestPositiveNonOccurence

### Link to the PR that adds this test case:

#383

### Where to implement:

`src/smallestPositiveNonOccurence.js`

### Where are the tests:

`src/smallestPositiveNonOccurence.test.js`

### Description (optional):

Find the smallest positive number that does not occur in the supplied array.

Example
For input: `[-3, 1, 0, 4, 5]`
Expected output: `2` since `2` is the

[2018-10-07 08:59] #380 closed

[2018-10-07 09:18] AliNisarAhmed commented on #384
/request

[2018-10-07 09:18] rgehan commented on #384
Hey @AliNisarAhmed, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 09:34] donut87 commented on #374
/request

[2018-10-07 09:34] rgehan commented on #374
Sorry, @donut87, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-07 09:44] daubaris opened #386 "Implement switchLetters"
# switchLetters

### Link to the PR that adds this test case:

#385

### Where to implement:

`src/switchLetters.js`

### Where are the tests:

`src/switchLetters.test.js`

### Description (optional):

Switch first and the last letter of the given words.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/r

[2018-10-07 09:45] #357 closed

[2018-10-07 10:07] donut87 commented on #386
/request

[2018-10-07 10:07] rgehan commented on #386
Hey @donut87, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 10:32] rgehan commented on #175
Hey @Zaksh,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-07 10:35] AliNisarAhmed opened #387 "implement intersection"
# intersection

### Link to the PR that adds this test case:

[#384](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/384)

### Where to implement:

`src/intersection.js`

### Where are the tests:

`src/intersection.test.js`

### Description (optional):

Construct a function intersection that compares input arrays and returns a new array with elements found in all of the inputs.

---

# I

[2018-10-07 10:40] #384 closed

[2018-10-07 10:45] EldoranDev commented on #387
/request

[2018-10-07 10:45] rgehan commented on #387
Hey @EldoranDev, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 10:57] AliNisarAhmed commented on #175
/request

[2018-10-07 10:57] rgehan commented on #175
Hey @AliNisarAhmed, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 11:12] donut87 commented on #386
The first test case does not match the description. I have to change it. Should I do this in an extra pull request?

[2018-10-07 11:26] EldoranDev opened #390 "getAllPermutations"
# getAllPermutations

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/389

### Where to implement:

`src/getAllPermutations.js`

### Where are the tests:

`src/getAllPermutations.test.js`

### Description (optional):

Return all permutations of the given string. (See test for more details)
---

# If you want to take on this issue:

- Check that

[2018-10-07 11:27] #387 closed

[2018-10-07 11:32] rgehan commented on #332
Hey @mariannactx,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symb

[2018-10-07 11:38] arealdeadone commented on #390
/request

[2018-10-07 11:38] rgehan commented on #390
Hey @arealdeadone, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 12:00] mariannactx commented on #332
/reset

[2018-10-07 12:01] mariannactx commented on #332
/request

[2018-10-07 12:01] rgehan commented on #332
Hey @mariannactx, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 12:05] mariannactx opened #392 "Implementing Minimum Size Subarray Sum"
# minArrayLengthSum

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/minArrayLengthSum.js`

### Where are the tests:

`src/minArrayLengthSum.test.js`

### Description (optional):

Given an array of n positive integers and a positive integer s, find the minimal length of a contiguous subarray of which the sum ≥ s. If there isn't one, return 0 instead.

Input:

[2018-10-07 12:10] #332 closed

[2018-10-07 12:37] AliNisarAhmed commented on #175
ok no problem, i will request for another one.

[2018-10-07 12:37] AliNisarAhmed commented on #392
/request

[2018-10-07 12:37] rgehan commented on #392
Sorry @AliNisarAhmed, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-07 12:41] AliNisarAhmed commented on #175
Please un-assign from me so I can work on some other problem.

[2018-10-07 12:44] arealdeadone commented on #390
@EldoranDev My tests are failing because the generated permutations are in a different order than what the test specifies. Is this acceptable or should it be exactly what the test specifies? i.e. is the ordering important?

[2018-10-07 12:58] EldoranDev commented on #390
Oh, damn did not think about that, i guess I'll fix my test and order the array by alphabetical order

[2018-10-07 13:08] arealdeadone commented on #390
What you could do is compare with sorted arrays because when numbers are present with alphabets or any other special characters they are sorted in increasing order of ASCII codes I guess.

[2018-10-07 13:17] cptjacky commented on #390
@arealdeadone I merged the proposed fix by @EldoranDev, you should rebase on master :)

[2018-10-07 13:46] pynnl commented on #362
Sorry for late reply Jaace. That was my fault. Please fix it as you wish.

[2018-10-07 14:01] Delkhaz commented on #374
ill take care of this

[2018-10-07 14:10] rgehan commented on #175
/assign @Zaksh

[2018-10-07 14:11] AliNisarAhmed commented on #392
/request

[2018-10-07 14:11] rgehan commented on #392
Hey @AliNisarAhmed, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 14:16] arealdeadone opened #396 "combinationModPrime"
# combinationModPrime

### Link to the PR that adds this test case:

[#397](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/397)

### Where to implement:

`src/combinationModPrime.js`

### Where are the tests:

`src/combinationModPrime.test.js`

### Description (optional):
Find all possible ways to choose _**k**_ objects from _**n**_ objects. Since the inputs can be large the answer should

[2018-10-07 14:18] #291 closed

[2018-10-07 14:19] rgehan commented on #349
/init

[2018-10-07 14:28] #344 closed

[2018-10-07 14:29] rgehan commented on #354
/init

[2018-10-07 14:32] #243 closed

[2018-10-07 14:32] rgehan commented on #370
/init

[2018-10-07 14:34] #248 closed

[2018-10-07 14:41] arealdeadone commented on #374
/request

[2018-10-07 14:41] rgehan commented on #374
Sorry @arealdeadone, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-07 14:43] arealdeadone commented on #390
@EldoranDev there is a typo in the test file at the import statement `import { permutation } from './getAllPermutation';` I guess it should be `import { permutation } from './getAllPermutations';`.

[2018-10-07 15:05] AliNisarAhmed commented on #392
[code]

This test should be written as (as per Jest docs, it's necessary to wrap the function inside another function to check for throws)

[code]

@mariannactx @rgehan Please check the above test cases.

[2018-10-07 15:06] Bharat23 commented on #354
/request

[2018-10-07 15:06] rgehan commented on #354
Hey @Bharat23, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 15:26] Bharat23 opened #399 "Fix Test cases: evenNumbersInArray"
# [evenNumbersInArray]

### Link to the PR that adds this test case:

[ #398  ]

### Where to implement:

`src/evenNumbersInArray.js`

### Where are the tests:

`src/evenNumbersInArray.test.js`

### Description (optional):

Edit the function to pass all the test cases

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue,

[2018-10-07 15:57] jrga03 commented on #318
@rgehan should I include the change in the test in my PR?

[2018-10-07 16:02] jrga03 opened #401 "Implement removeItems"
# removeItems

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/400

### Where to implement:

`src/removeItems.js`

### Where are the tests:

`src/removeItems.test.js`

### Description (optional):

The function takes an array as a first argument, followed by one or more arguments. Remove all items from the array(first argument) that match with t

[2018-10-07 16:12] Bharat23 opened #402 "Implement removeZeros"
# [Name of the function]

### Link to the PR that adds this test case: #398

[the url]

### Where to implement:

`src/removeZeros.js`

### Where are the tests:

`src/removeZerostest.js`

### Description (optional):
 Given an array as an argument, return an array removing all zeros from the array.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no o

[2018-10-07 17:31] assertnotnull opened #403 "Implement toKebabCase"
# toKebabCase

### Link to the PR that adds this test case:
#260

### Where to implement:
`src/toKebabCase.js`

### Where are the tests:
`src/toKebabCase.test.js`

----

# If you want to take on this issue:
- Verify that no one is working on it (if it's labelled `assigned` for example)
- Comment here and ask to be assigned the issue
- Create a Pull Request with the following
  - A fixed implementa

[2018-10-07 17:33] assertnotnull commented on #403
@rgehan

[2018-10-07 17:36] frextrite commented on #381
Fixed.

[2018-10-07 17:36] #381 closed

[2018-10-07 18:32] rgehan commented on #351
Hey @jessepeterman,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sy

[2018-10-07 18:36] #362 closed

[2018-10-07 18:36] rgehan commented on #376
/init

[2018-10-07 18:38] #250 closed

[2018-10-07 18:38] rgehan commented on #363
/init

[2018-10-07 18:42] #318 closed

[2018-10-07 18:42] rgehan commented on #401
/init

[2018-10-07 18:44] #354 closed

[2018-10-07 18:45] rgehan commented on #252
I'll release it tomorrow

[2018-10-07 18:45] rgehan commented on #403
Thank you :+1: /init

[2018-10-07 18:46] rgehan commented on #399
/init

[2018-10-07 19:08] #390 closed

[2018-10-07 19:08] rgehan commented on #396
/init

[2018-10-07 19:16] rgehan commented on #370
Hey @arealdeadone, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 19:49] arealdeadone opened #405 "Reverse Polish Notation"
# [Name of the function]

### Link to the PR that adds this test case:

[#404](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/404)

### Where to implement:

`src/reversePolishNoation.js`

### Where are the tests:

`src/reversePolishNoation.test.js`

### Description (optional):

Convert the given expression strings that are in `infix` to `postfix`(the Reverse Polish Notation).
Check [this]

[2018-10-07 19:58] #370 closed

[2018-10-07 20:07] arealdeadone commented on #376
/request

[2018-10-07 20:07] rgehan commented on #376
Hey @arealdeadone, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 20:08] donut87 opened #406 "Implement gameOfLifeStep"
# GameOfLife Step

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/407

### Where to implement:

`src/gameOfLifeStep.js`

### Where are the tests:

`src/gameOfLifeStep.test.js`

### Description (optional):

A step in Conways game of Life. Detailed description see here: https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life#Rules

The rules are a

[2018-10-07 20:12] #386 closed

[2018-10-07 20:26] arealdeadone opened #408 "Implement Euler Totient Function"
# Euler Totient Function

### Link to the PR that adds this test case:

#409

### Where to implement:

`src/eulerTotient.js`

### Where are the tests:

`src/eulerTotient.test.js`

### Description (optional):

Find the value of phi(n) for a given number, more details refer [here](https://en.wikipedia.org/wiki/Euler%27s_totient_function)

---

# If you want to take on this issue:

- Check that the k

[2018-10-07 20:29] #376 closed

[2018-10-07 20:32] rgehan commented on #340
Hey @brendanAlbert,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sy

[2018-10-07 20:32] rgehan commented on #360
Hey @jakesmithdeveloper,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the

[2018-10-07 21:18] brendanAlbert commented on #340
/reset

[2018-10-07 21:18] brendanAlbert commented on #340
I am working on it!  I am very close to submitting a PR.

[2018-10-07 21:19] brendanAlbert commented on #340
/request

[2018-10-07 21:19] rgehan commented on #340
Hey @brendanAlbert, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 21:53] kamikkels commented on #402
/request

[2018-10-07 21:53] rgehan commented on #402
Hey @kamikkels, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 22:13] esausilva commented on #401
/request

[2018-10-07 22:13] rgehan commented on #401
Hey @esausilva, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-07 22:29] Frizz925 commented on #403
Mind if I take this issue?

[2018-10-07 23:11] esausilva opened #411 "Implement getWordCount"
# getWordCount

### Link to the PR that adds this test case:

[#410](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/410)

### Where to implement:

`src/getWordCount.js`

### Where are the tests:

`src/getWordCount.test.js`

### Description (optional):

Create a function that takes a string and returns the word count. The string will be a sentence.

---

# If you want to take on this issue

[2018-10-07 23:14] #401 closed

[2018-10-08 00:44] AliNisarAhmed opened #412 "solve minArrayLengthSum and add reverseParentheses"
# reverseParentheses

### Link to the PR that adds this test case:

[#392](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/413)
### Where to implement:

`src/reverseParentheses.js`

### Where are the tests:

`src/reverseParentheses.test.js`

### Description (optional):

Your task is to reverse the strings contained in each pair of matching parentheses, starting from the innermost pair. The

[2018-10-08 02:41] chadramsey opened #415 "Implement timeConversion"
# timeConversion

### Link to the PR that adds this test case:

[#349](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/349)

### Where to implement:

`src/timeConversion.js`

### Where are the tests:

`src/timeConversion.test.js`

### Description (optional):

Take the time parameter being passed and return the number of hours and minutes the parameter converts to (ie. if time = 121 then

[2018-10-08 02:43] #349 closed

[2018-10-08 02:48] chadramsey commented on #403
/request

[2018-10-08 02:48] rgehan commented on #403
Hey @chadramsey, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 03:21] chadramsey opened #417 "Implement isLeapYear"
# isLeapYear

### Link to the PR that adds this test case:

[#403](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/403)

### Where to implement:

`src/isLeapYear.js`

### Where are the tests:

`src/isLeapYear.test.js`

### Description (optional):

For a given year, return 'true' if the year is a leap year or 'false' if it is not.
For example, 2015 is not a leap year, but 2016 is. 2100 is

[2018-10-08 03:35] sadarshannaiynar commented on #360
/request

[2018-10-08 03:35] rgehan commented on #360
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 03:36] sadarshannaiynar commented on #405
/request

[2018-10-08 03:36] rgehan commented on #405
Sorry @sadarshannaiynar, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-08 03:49] garrettluu commented on #417
/request

[2018-10-08 03:49] rgehan commented on #417
Hey @garrettluu, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 03:51] ryanmdoyle commented on #415
/request

[2018-10-08 03:51] rgehan commented on #415
Sorry, @ryanmdoyle, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-08 04:00] chadramsey commented on #363
/request

[2018-10-08 04:00] rgehan commented on #363
Hey @chadramsey, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 04:32] Frizz925 commented on #351
/request

[2018-10-08 04:32] rgehan commented on #351
Hey @Frizz925, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 04:33] chadramsey opened #419 "Implement wordCount"
# wordCount

### Link to the PR that adds this test case:

[#363](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/363)

### Where to implement:

`src/wordCount.js`

### Where are the tests:

`src/wordCount.test.js`

### Description (optional):

For a given a phrase, return the count of occurrences of a given word in that phrase

---

# If you want to take on this issue:

- Check that the

[2018-10-08 04:53] Frizz925 opened #421 "Implement ROT-13"
# ROT-13

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/420

### Where to implement:

`src/rot13.js`

### Where are the tests:

`src/rot13.test.js`

### Description (optional):

This is based on a simple letter cipher where it rotates each letter in a string by 13 places.
https://en.wikipedia.org/wiki/ROT13

---

# If you want to take on this

[2018-10-08 04:55] #351 closed

[2018-10-08 05:06] arealdeadone commented on #421
/request

[2018-10-08 05:06] rgehan commented on #421
Hey @arealdeadone, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 05:26] garrettluu opened #424 "Implement findLongestWord"
# findLongestWord

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/423

### Where to implement:

`src/findLongestWord.js`

### Where are the tests:

`src/findLongestWord.test.js`

### Description (optional):

For any given string with spaces, return the longest word in the string.
For example, "sleepy depression sad" returns "depression".

---

[2018-10-08 05:29] #417 closed

[2018-10-08 05:41] Frizz925 commented on #424
/request

[2018-10-08 05:41] rgehan commented on #424
Hey @Frizz925, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 05:54] Frizz925 commented on #424
@garrettluu It seems your test case has errors in it
https://github.com/garrettluu/hacktoberfest-2k18-katas/blob/288bda3fbe40effecc4d0faa6f41f901d7fe71eb/src/findLongestWord.test.js#L23-L31

[2018-10-08 05:57] shivanggarg1998 commented on #408
/request

[2018-10-08 05:57] rgehan commented on #408
Hey @shivanggarg1998, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 06:30] garrettluu commented on #424
@Frizz925 So sorry about that! Silly mistakes happen, and I'm sorry for not checking my code more thoroughly before submitting my pull request. Is your PR going to get denied because you modified another file? I apologize again for my mistake.

[2018-10-08 06:55] Frizz925 commented on #424
I think it needs to be manually merged later, we'll see.

[2018-10-08 06:55] hidingmode commented on #419
/request

[2018-10-08 06:55] rgehan commented on #419
Sorry, @hidingmode, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-08 06:58] Frizz925 opened #426 "Implement zeropad"
# zeropad

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/425

### Where to implement:

`src/zeropad.js`

### Where are the tests:

`src/zeropad.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request

[2018-10-08 07:11] hidingmode commented on #406
/request

[2018-10-08 07:11] rgehan commented on #406
Hey @hidingmode, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 08:03] rgehan commented on #367
/init

[2018-10-08 08:04] #336 closed

[2018-10-08 08:05] #392 closed

[2018-10-08 08:05] rgehan commented on #412
/init

[2018-10-08 08:09] #424 closed

[2018-10-08 08:09] rgehan commented on #426
/init

[2018-10-08 09:23] hidingmode opened #427 "Implement _2048"
# 2048 Game State Change

### Link to the PR that adds this test case:

#428

### Where to implement:

`src/_2048.js`

### Where are the tests:

`src/_2048.test.js`

### Description (optional):

The goal is to display the new state of the 2048 game after a move executed by the player.
2048 is a game that is played on a 4x4 grid containing integers that are powers of 2.
For details of the game, ple

[2018-10-08 09:30] #406 closed

[2018-10-08 10:14] arealdeadone opened #430 "Implement hexToOctal"
# hexToOctal

### Link to the PR that adds this test case:

#429

### Where to implement:

`src/hexToOctal.js`

### Where are the tests:

`src/hexToOctal.test.js`

### Description (optional):

Convert Hexadecimal numbers to Octal numbers

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask fo

[2018-10-08 10:15] #421 closed

[2018-10-08 10:44] shivanggarg1998 commented on #430
/request

[2018-10-08 10:44] rgehan commented on #430
Sorry @shivanggarg1998, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-08 10:59] Frizz925 commented on #430
/request

[2018-10-08 10:59] rgehan commented on #430
Hey @Frizz925, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 11:21] #363 closed

[2018-10-08 11:38] nip10 commented on #367
/request

[2018-10-08 11:38] rgehan commented on #367
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 11:40] EricLemieux commented on #399
/request

[2018-10-08 11:40] rgehan commented on #399
Hey @EricLemieux, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 11:43] chadramsey commented on #426
/request

[2018-10-08 11:43] rgehan commented on #426
Hey @chadramsey, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 12:05] nip10 opened #432 "Implement addEven"
# addEven

### Link to the PR that adds this test case:

#433

### Where to implement:

`src/addEven.js`

### Where are the tests:

`src/addEven.test.js`

### Description (optional):

Add all the even values in an array and return the sum.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask

[2018-10-08 12:09] Frizz925 opened #434 "Implement Sample Standard Deviation"
# stddev

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/431

### Where to implement:

`src/stddev.js`

### Where are the tests:

`src/stddev.test.js`

### Description (optional):

* The test expects result of *sample* standard deviation
* The test also expects the result to be only accurate up to 2 decimal places, with the remaining decimals

[2018-10-08 12:09] #430 closed

[2018-10-08 12:11] #367 closed

[2018-10-08 12:14] EricLemieux commented on #399
Running the tests locally all of the tests are passing for this function, is there a specific example of the tests not passing?

[2018-10-08 12:17] nip10 commented on #419
/request

[2018-10-08 12:17] rgehan commented on #419
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 12:18] rgehan commented on #175
Pinging @Zaksh so that the bot doesn't reset the issue

[2018-10-08 12:32] nip10 opened #435 "Implement sortDescending"
# sortDescending

### Link to the PR that adds this test case:

#436

### Where to implement:

`src/sortDescending.js`

### Where are the tests:

`src/sortDescending.test.js`

### Description (optional):

Sort an array of numbers with a descending order.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/r

[2018-10-08 12:32] rgehan commented on #399
They shouldn't be passing if you didn't implement anything

[2018-10-08 12:36] nip10 commented on #434
/request

[2018-10-08 12:36] rgehan commented on #434
Sorry @nip10, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-08 12:37] #419 closed

[2018-10-08 12:38] nip10 commented on #434
/request

[2018-10-08 12:38] rgehan commented on #434
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 12:41] chadramsey opened #437 "Implement plusPerfect"
# plusPerfect

### Link to the PR that adds this test case:

[#426](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/426)

### Where to implement:

`src/plusPerfect.js`

### Where are the tests:

`src/plusPerfect.test.js`

### Description (optional):

For more information see [narcissistic numbers](https://en.wikipedia.org/wiki/Narcissistic_number)

---

# If you want to take on this issu

[2018-10-08 12:45] #426 closed

[2018-10-08 12:52] EricLemieux commented on #399
`yarn run test src/evenNumbersInArray.test.js
yarn run v1.9.4
$ jest src/evenNumbersInArray.test.js
 PASS  src/evenNumbersInArray.test.js
  evenNumbersInArray
    ✓ evenNumbersInArray returns even number (3ms)
    ✓ evenNumbersInArray returns an empty array (1ms)
    ✓ evenNumbersInArray should throw

Test Suites: 1 passed, 1 total
Tests:       3 passed, 3 total
Snapshots:   0 total
Time:        0

[2018-10-08 12:53] chadramsey commented on #415
@rgehan Updated PR so references are now correct for this issue

[2018-10-08 12:55] dnivra26 opened #439 "Implement head"
head

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/440

### Where to implement:

`src/head.js`

### Where are the tests:

`src/head.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3

[2018-10-08 13:05] #432 closed

[2018-10-08 13:08] sushant-j commented on #439
/request

[2018-10-08 13:21] shivanggarg1998 commented on #408
there is some issue with test cases so can I modify them?
the issue is expect(eulerTotient(null)).toThrow(); is wrong format and right one is expect(()=>eulerTotient(null)).toThrow();

[2018-10-08 14:18] sushant-j opened #443 "Implement tail"
# [Name of the function]

### Link to the PR that adds this test case:

[#442](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/442)

### Where to implement:

`src/tail.js`

### Where are the tests:

`src/tail.test.js`
---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create

[2018-10-08 14:19] #439 closed

[2018-10-08 14:20] sushant-j commented on #443
/request

[2018-10-08 14:20] rgehan commented on #443
Hey @sushant-j, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 14:34] nidble commented on #435
/request

[2018-10-08 14:34] rgehan commented on #435
Hey @nidble, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 14:48] rgehan commented on #437
Hey @AliNisarAhmed, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 14:57] bhagatparwinder commented on #250
I can't resist but shake my head. The solution went ahead and wholly updated the tests. The findLastItem will work but for arrays only. That's not what the earlier tests were asking for. I know objects do not have an order based on the browser but once transformed into an Array they could work Array-ish.

Oh well ¯\_(ツ)_/¯

[2018-10-08 15:06] AliNisarAhmed opened #445 "alternatingSums.js"
# alternatingSums

### Link to the PR that adds this test case:

[#444](https://github.com/rgehan/hacktoberfest-2k18-katas/pull/444)

### Where to implement:

`src/alternatingSums.js`

### Where are the tests:

`src/alternatingSums.test.js`

### Description (optional):

Several people are standing in a row and need to be divided into two teams. The first person goes into team 1, the second goes in

[2018-10-08 15:07] #437 closed

[2018-10-08 15:09] bhagatparwinder commented on #445
/request

[2018-10-08 15:09] rgehan commented on #445
Hey @bhagatparwinder, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 15:18] rgehan commented on #399
I think this issue shouldn't have been created. I'll close it, sorry

[2018-10-08 15:18] #399 closed

[2018-10-08 15:25] nidble opened #446 "Implement oddNumbersInArray"
# oddNumbersInArray

### Link to the PR that adds this test case:

#435

### Where to implement:

`src/oddNumbersInArray.js`

### Where are the tests:

`src/oddNumbersInArray.test.js`

### Description (optional):

Create a function that takes an array and returns odd elements of that array.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is

[2018-10-08 15:30] #435 closed

[2018-10-08 15:32] rgehan commented on #374
Hey @Delkhaz,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-08 15:39] bhagatparwinder opened #448 "binarySearch.js"
# [binarySearch]

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/binarySearch.js`

### Where are the tests:

`src/binarySearch.test.js`

### Description (optional):

A binary search or half-interval search algorithm finds the position of a specified input value within an array sorted by key value.

---

# If you want to take on this issue:

- Check that the

[2018-10-08 15:43] #445 closed

[2018-10-08 15:46] bhagatparwinder commented on #446
/request

[2018-10-08 15:46] rgehan commented on #446
Hey @bhagatparwinder, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 15:54] sadarshannaiynar opened #451 "Implement decodeCaesarCipher"
# decodeCaesarCipher

### Link to the PR that adds this test case:
#450

### Where to implement:
`src/decodeCaesarCipher.js`

### Where are the tests:
`src/decodeCaesarCipher.test.js`

### Description (optional):
Decode caesar cipher encoded string

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request

[2018-10-08 15:54] tenkmilan commented on #374
/request

[2018-10-08 15:55] rgehan commented on #374
Hey @tenkmilan, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 15:55] #360 closed

[2018-10-08 15:58] sadarshannaiynar commented on #412
/request

[2018-10-08 15:58] rgehan commented on #412
Hey @sadarshannaiynar, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 16:05] Insiyaa commented on #451
I'd like to take this up!
/request

[2018-10-08 16:05] rgehan commented on #451
Hey @Insiyaa, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 16:12] mandardeshpande commented on #448
/request

[2018-10-08 16:12] rgehan commented on #448
Hey @mandardeshpande, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 16:14] wmik opened #452 "Minor bug: isAnagram"
Great project!
Minor bug in [isAnagram](https://github.com/rgehan/hacktoberfest-2k18-katas/blob/master/src/isAnagram.js)

**`test`**
[code]

[2018-10-08 16:27] nip10 commented on #434
@rgehan I'm ready to push this to master but I've a question before I do:

1. This function is supposed to compute the "Sample Standard Deviation", and is located at stddev.js. The issue is that there's another type called "Population Standard Deviation" which may lead to some confusion. I'd like to suggest a rename of the function to samplestd.js or std_sample.js (and then in the future, someone

[2018-10-08 16:36] x3tsunayh commented on #452
I'd like to take this up!
/request

[2018-10-08 16:36] rgehan commented on #452
Sorry, @x3tsunayh, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-08 16:51] vishal-wadhwa commented on #396
/request

[2018-10-08 16:51] rgehan commented on #396
Hey @vishal-wadhwa, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 16:57] PandawanFr commented on #427
/request

[2018-10-08 16:57] rgehan commented on #427
Hey @PandawanFr, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 17:31] ArfatSalman commented on #405
/request

[2018-10-08 17:31] rgehan commented on #405
Hey @ArfatSalman, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 17:59] brendanAlbert commented on #340
This comment is just to let the owner know that I am still working on this!  I just need to finish writing the test cases for the new kata.

[2018-10-08 18:23] vishal-wadhwa opened #454 "Implement doYouKnowDaWae"
# Implement doYouKnowDaWae

### Link to the PR that adds this test case:

#453

### Where to implement:

`src/doYouKnowDaWae.js`

### Where are the tests:

`src/doYouKnowDaWae.test.js`

### Description (optional):
Many brave, Ugandan Warriors formed by a group of Knuckles, asking if they know the way. You're given a list of integers you've to find if they can go from top left cell to the bottom ri

[2018-10-08 18:32] rgehan commented on #340
Good initiative

[2018-10-08 18:34] #396 closed

[2018-10-08 19:07] tenkmilan opened #456 "Kelvin to Celsius converter"
# kelvinToCelsius

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/455

### Where to implement:

`src/kelvinToCelsius.js`

### Where are the tests:

`src/kelvinToCelsius.test.js`

### Description (optional):

The function converts the input value from Kelvin to Celsius.

---

# If you want to take on this issue:

- Check that the kata is labell

[2018-10-08 19:12] nip10 opened #457 "Implement isIsomorphic"
# isIsomorphic

### Link to the PR that adds this test case:

#458

### Where to implement:

`src/isIsomorphic.js`

### Where are the tests:

`src/isIsomorphic.test.js`

### Description (optional):

Given two strings, return true/false whether they are isomorphic or not.
Strings are isomorphic if all occurrences of a character in string A can be replaced with another character to get to string B.

[2018-10-08 19:13] #374 closed

[2018-10-08 19:15] #434 closed

[2018-10-08 19:16] nip10 commented on #456
/request

[2018-10-08 19:16] rgehan commented on #456
Hey @nip10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 19:25] bhagatparwinder opened #459 "truncateString"
# [truncateString]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/460

### Where to implement:

`src/truncateString.js`

### Where are the tests:

`src/truncateString.test.js`

### Description (optional):

Write a JavaScript function to truncate a string if it is longer than the specified number of characters. Truncated strings will end with

[2018-10-08 19:29] #446 closed

[2018-10-08 19:33] pszczolas commented on #454
/request

[2018-10-08 19:33] rgehan commented on #454
Hey @pszczolas, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 19:39] mandardeshpande commented on #459
/request

[2018-10-08 19:39] rgehan commented on #459
Sorry @mandardeshpande, we won't be assigning this issue to you as you already have one.

##### This comment was automatically generated by a bot.

[2018-10-08 19:54] absat commented on #457
/request

[2018-10-08 19:54] rgehan commented on #457
Hey @absat, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 20:04] mupraj10 commented on #459
/request

[2018-10-08 20:04] rgehan commented on #459
Hey @mupraj10, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 20:06] mandardeshpande commented on #448
Thank you .. on it

[2018-10-08 20:18] nip10 opened #461 "Implement capitalize"
# capitalize

### Link to the PR that adds this test case:

#462

### Where to implement:

`src/capitalize.js`

### Where are the tests:

`src/capitalize.test.js`

### Description (optional):

Converts the first character of a string to uppercase, and lowercases all other characters, if any.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is

[2018-10-08 20:23] #456 closed

[2018-10-08 20:28] bhagatparwinder commented on #461
/request

[2018-10-08 20:28] rgehan commented on #461
Hey @bhagatparwinder, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 21:05] mandardeshpande opened #464 "Implement Rotate String"
# [rotateString]

### Link to the PR that adds this test case: https://github.com/rgehan/hacktoberfest-2k18-katas/pull/463

[the url]

### Where to implement:

`src/rotateString.js`

### Where are the tests:

`src/rotateString.test.js`

### Description (optional):

**Given two Strings A and B.**

A shift on **"A"** string consists of taking a string **"A"** and moving the leftmost character to the

[2018-10-08 21:14] MrWako commented on #464
/request

[2018-10-08 21:14] rgehan commented on #464
Sorry, @MrWako, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-08 21:18] ryanmdoyle commented on #415
@rgehan
Sorry, I'm kind of a newb here...
 Am I understanding correctly that the third change should be two files for some other problem that I think up?  (Like, I am thinking of my own kata challenge and making new files for someone else to solve?)

[2018-10-08 21:33] chadramsey commented on #464
/request

[2018-10-08 21:33] rgehan commented on #464
Hey @chadramsey, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 21:36] chadramsey commented on #464
/assign @MrWako

Apologies, was demoing this repo to someone else and accidentally commented. @MrWako this one is all yours.

[2018-10-08 21:37] bhagatparwinder opened #465 "occurrenceOfWord"
# [occurrenceOfWord]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/466

### Where to implement:

`src/occurrenceOfWord.js`

### Where are the tests:

`src/occurrenceOfWord.test.js`

### Description (optional):

Given a string and a word, count the occurrence of the word in the string.

---

# If you want to take on this issue:

- Check that

[2018-10-08 21:42] #461 closed

[2018-10-08 21:42] cesar-cb commented on #465
/request

[2018-10-08 21:42] rgehan commented on #465
Hey @cesar-cb, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 22:09] ArfatSalman opened #467 "Implement evalInfixExpression"
# [evalInfixExpression]

### Link to the PR that adds this test case:

#468

### Where to implement:

`src/evalInfixExpression.js`

### Where are the tests:

`src/evalInfixExpression.test.js`

### Description (optional):

Evaluate infix expressions.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/reques

[2018-10-08 22:14] #405 closed

[2018-10-08 22:19] kamikkels opened #470 "Implement swapKeysAndValues"
# swapKeysAndValues

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/469

### Where to implement:

`src/swapKeysAndValues.js`

### Where are the tests:

`src/swapKeysAndValues.test.js`

### Description (optional):

If the function is complex enough to warrant a description, add it here...

---

# If you want to take on this issue:

- Check that

[2018-10-08 22:38] q-ata commented on #467
/request

[2018-10-08 22:38] rgehan commented on #467
Hey @q-ata, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 22:50] absat opened #471 "Implement patternPresent"
# patternPresent

### Link to the PR that adds this test case:

#472

### Where to implement:

`src/patternPresent.js`

### Where are the tests:

`src/patternPresent.test.js`

### Description (optional):

Given an input string and a pattern, the function should evaluate if the pattern is present as a part of the input string

---

# If you want to take on this issue:

- Check that the kata is labe

[2018-10-08 22:53] Banb4n commented on #250
Hi @bhagatparwinder, it’s too bad, but the most important is to have fun 😉.
It's possible to finish it without changing the tests, I did it quickly to show you an [example of a solution](https://github.com/Banb4n/hacktoberfest-2k18-katas/pull/1/files), it is quite basic but works for Array, Strings and objects.

[2018-10-08 23:03] #457 closed

[2018-10-08 23:05] pszczolas opened #473 "Implement testFrame"
# textFrame

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/474](url)

### Where to implement:

`src/textFrame.js`

### Where are the tests:

`src/textFrame.test.js`

### Description (optional):

Text frame is made from 4 strings which create rectangle.
Two of them are pleced horizontal and the remaning two vertical.
First letter of top-horiz

[2018-10-08 23:12] #454 closed

[2018-10-08 23:32] rgehan commented on #411
Hey @CometS1,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-08 23:35] CometS1 commented on #411
/request

[2018-10-08 23:35] rgehan commented on #411
Hey @CometS1, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 23:51] nai888 commented on #471
/request

[2018-10-08 23:51] rgehan commented on #471
Hey @nai888, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-08 23:52] brendanAlbert opened #476 "Implement isValidSchedule"
# isValidSchedule

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/475

### Where to implement:

`src/isValidSchedule.js`

### Where are the tests:

`src/isValidSchedule.test.js`

### Description (optional):

      argument: an array of objects
      returns: boolean

      - isValidSchedule takes an array of objects.
      - each object repres

[2018-10-08 23:54] #340 closed

[2018-10-09 00:20] CometS1 opened #478 "Implement removeMultipleSpecialCharacters"
# [removeMultipleSpecialCharacters]

### Link to the PR that adds this test case:

[https://github.com/rgehan/hacktoberfest-2k18-katas/pull/477]

### Where to implement:

`src/<removeMultipleSpecialCharacters>.js`

### Where are the tests:

`src/<removeMultipleSpecialCharacters>.test.js`

### Description (optional):

Get the number of words in a string with multiple special characters

---

# If y

[2018-10-09 00:30] #411 closed

[2018-10-09 00:34] x3tsunayh commented on #478
/request

[2018-10-09 00:34] rgehan commented on #478
Hey @x3tsunayh, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 00:55] cesar-cb opened #480 "Implement arrayAverage"
# [arrayAverage]

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/479

### Where to implement:

`src/arrayAverage.js`

### Where are the tests:

`src/arrayAverage.test.js`

### Description (optional):

Write function avg which calculates average of numbers in given list.

---

# If you want to take on this issue:

- Check that the kata is label

[2018-10-09 02:25] nai888 opened #482 "Implement powerAndCombine"
# powerAndCombine

### Link to the PR that adds this test case:

#483

### Where to implement:

`src/powerAndCombine.js`

### Where are the tests:

`src/powerAndCombine.test.js`

### Description (optional):

Given three numbers `(x, y, n)`, split `x` into separate digits, raise each digit to the `y` power, add the results together, and repeat the process `n` times. Return the `n`th result.

For ex

[2018-10-09 02:28] #471 closed

[2018-10-09 02:32] Frizz925 commented on #482
/request

[2018-10-09 02:32] rgehan commented on #482
Hey @Frizz925, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 02:42] ryanmdoyle opened #486 "absoluteValue"
# absoluteValue

### Link to the PR that adds this test case:

#415 [https://github.com/rgehan/hacktoberfest-2k18-katas/issues/415]

### Where to implement:

`src/absoluteValue.js`

### Where are the tests:

`src/absoluteValue.test.js`

### Description (optional):

The function should accept a value as an argument and return the absolute value of the value.

---

# If you want to take on this issu

[2018-10-09 02:43] ryanmdoyle commented on #480
/request

[2018-10-09 02:46] ryanmdoyle commented on #415
Thanks!  Just put in the pull request.

[2018-10-09 02:52] q-ata opened #487 "Implement addBigIntegers"
# addBigIntegers

### Link to the PR that adds this test case:
#485

### Where to implement:
`src/addBigIntegers.js`

### Where are the tests:
`src/addBigIntegers.test.js`

### Description (optional):
#### Input
The first line of input, _n_, will be an integer less than or equal to 12 and greater than 1 (1 < _n_ <= 12).
The next _n_ lines will contain a positive integer less than or equal to 60 di

[2018-10-09 02:53] #467 closed

[2018-10-09 03:01] q-ata commented on #473
@pszczolas I have a question, why should the test case `"john", "wick", "jigsaw", "hijack"` return true?
I understand you can do:
[code]
But for `hijack` to fill the last edge `john` would have to end with `h` wouldn't it?

[2018-10-09 03:31] Mitchell0625 commented on #487
/request

[2018-10-09 03:31] rgehan commented on #487
Hey @Mitchell0625, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 04:18] q-ata commented on #326
/request

[2018-10-09 04:18] rgehan commented on #326
Hey @q-ata, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 07:40] pszczolas commented on #473
@q-ata Of course you are right. This test case should have example from this issue ("abcd", "bcad", "daad", "aaab"). Unfortunately I have forgotten to updated it in `src/textFrame.test.js` when i realized it is incorrect.

@rgehan What is correct way to fix broken test case? Should I do normal PR or maybe someone can just modify this test case during implementation?

[2018-10-09 08:18] #402 closed

[2018-10-09 08:19] #465 closed

[2018-10-09 08:36] iambk commented on #480
/request

[2018-10-09 08:36] rgehan commented on #480
Hey @iambk, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 09:31] Frizz925 opened #491 "Implement Sentiment Analysis"
# sentimentAnalysis

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/489

### Where to implement:

`src/sentimentAnalysis.js`

### Where are the tests:

`src/sentimentAnalysis.test.js`

### Description (optional):

* The outer function takes in a training data.
* The training data contains sentiment scores for a set of words.
* The outer functi

[2018-10-09 09:32] #482 closed

[2018-10-09 09:47] omurbekjk commented on #470
/request

[2018-10-09 09:47] rgehan commented on #470
Hey @omurbekjk, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 10:14] rgehan commented on #491
/request

[2018-10-09 10:14] rgehan commented on #491
Hey @rgehan, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 10:14] rgehan commented on #491
This one looks fun, I'll do it myself :)

[2018-10-09 10:28] rgehan opened #494 "Implement countOneBits"
# countOneBits

### Link to the PR that adds this test case:

#493

### Where to implement:

`src/countOneBits.js`

### Where are the tests:

`src/countOneBits.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Request with the 3 following changes:
  - A fixe

[2018-10-09 10:29] #491 closed

[2018-10-09 10:36] iambk opened #495 "Implement quickSort"
# quickSort

### Link to the PR that adds this test case:

[the url]

### Where to implement:

`src/quickSort.js`

### Where are the tests:

`src/quickSort.test.js`

### Description (optional):

Given an array of numbers, sort it using quickSort

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` t

[2018-10-09 10:37] #415 closed

[2018-10-09 10:47] altaf933 commented on #494
/request

[2018-10-09 11:13] #480 closed

[2018-10-09 11:38] x3tsunayh opened #499 "Implement collatzFunction"
# collatzFunction

### Link to the PR that adds this test case: #498

### Where to implement:

`src/collatzFunction.js`

### Where are the tests:

`src/collatzFunction.test.js`

### Description:

You can read more about the Collatz conjecture here:
https://en.wikipedia.org/wiki/Collatz_conjecture

The general idea:
- if the number is even, divide it by two
- if the number is odd, triple it and add

[2018-10-09 11:40] #478 closed

[2018-10-09 11:41] x3tsunayh commented on #486
/request

[2018-10-09 11:41] rgehan commented on #486
Hey @x3tsunayh, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 12:00] jrga03 commented on #499
/request

[2018-10-09 12:00] rgehan commented on #499
Hey @jrga03, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 12:01] x3tsunayh opened #501 "Implement isValidGaloisFieldSize"
# isValidGaloisFieldSize

### Link to the PR that adds this test case: #500

### Where to implement:

`src/isValidGaloisFieldSize.js`

### Where are the tests:

`src/isValidGaloisFieldSize.test.js`

### Description:

You can read more about the Galois field here:
https://en.wikipedia.org/wiki/Finite_field

The general idea:
- a valid Galois field size is a prime number to the power of a positive i

[2018-10-09 12:11] #486 closed

[2018-10-09 12:32] rgehan commented on #175
Hey @Zaksh,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol bef

[2018-10-09 12:40] Zaksh commented on #175
Ping @rgehan so that the bot doesn't reset the issue

[2018-10-09 12:45] rgehan commented on #175
/assign @Zaksh

[2018-10-09 12:46] Zeroji commented on #495
/request

[2018-10-09 12:46] rgehan commented on #495
Hey @Zeroji, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 13:10] x3tsunayh commented on #476
/request

[2018-10-09 13:10] rgehan commented on #476
Hey @x3tsunayh, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 13:25] Zeroji opened #503 "Implement sumOfProducts"
# sumOfProducts

### Link to the PR that adds this test case:

#502

### Where to implement:

`src/sumOfProducts.js`

### Where are the tests:

`src/sumOfProducts.test.js`

### Description:

Given two arrays of equal length, return the sum of the products of each pair of values.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to

[2018-10-09 13:32] x3tsunayh opened #505 "Implement toBaseNine"
# toBaseNine

### Link to the PR that adds this test case: #504

### Where to implement:

`src/toBaseNine.js`

### Where are the tests:

`src/toBaseNine.test.js`

### Description:

Change the input value from base-10 to base-9

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Crea

[2018-10-09 13:32] rgehan commented on #408
Hey @shivanggarg1998,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the #

[2018-10-09 13:45] #476 closed

[2018-10-09 13:50] sadarshannaiynar opened #507 "Implement booleanExpressionEvaluator"
# booleanExpressionEvaluator

### Link to the PR that adds this test case:
#506

### Where to implement:
`src/booleanExpressionEvaluator.js`

### Where are the tests:
`src/booleanExpressionEvaluator.test.js`

### Description:
Evaluate a boolean expression given as string

Expression contains combination of the following:

Parameter | Explanation
--- | ---
true | Denotes boolean true value
false |

[2018-10-09 13:51] #412 closed

[2018-10-09 14:12] jrga03 opened #509 "Implement isDollar"
# isDollar

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/508

### Where to implement:

`src/isDollar.js`

### Where are the tests:

`src/isDollar.test.js`

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull Reque

[2018-10-09 14:14] #499 closed

[2018-10-09 14:19] rgehan commented on #507
⚠️ I'll add that this one should be implemented without using `eval()` ⚠️

[2018-10-09 14:28] KumarManoj-S commented on #503
Can I take this?

[2018-10-09 14:32] rgehan commented on #443
Hey @sushant-j,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol

[2018-10-09 14:38] aprex commented on #509
/request

[2018-10-09 14:38] rgehan commented on #509
Hey @aprex, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 14:39] KumarManoj-S commented on #507
Can I take this?

[2018-10-09 14:41] rgehan commented on #507
Yes you can but do not use `eval`

/assign @KumarManoj-S

[2018-10-09 15:08] ryanmdoyle commented on #503
/request

[2018-10-09 15:08] rgehan commented on #503
Hey @ryanmdoyle, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 15:12] KumarManoj-S opened #511 "Implement Find the Odd occurrence number"
# Find the odd occurrence

### Link to the PR that adds this test case:

[#503](https://github.com/rgehan/hacktoberfest-2k18-katas/issues/503)

### Where to implement:

`src/findTheOddOccurence.js`

### Where are the tests:

`src/findTheOddOccurence.test.js`

### Description:
Find the number which occurred odd number of times

Example 1:
[1, 2, 1] -> 2

Example 2:
[1, 2, 1, 2, 1, 3, 1] -> 3

---

[2018-10-09 15:14] KumarManoj-S commented on #503
Hey I have asked before @ryanmdoyle.

[2018-10-09 15:19] rgehan commented on #503
Sorry it's automatic, you should have used the request command

[2018-10-09 15:25] andersou opened #513 "capitalizedWordCounter to implement"
# capitalizedWordCounter

### Link to the PR that adds this test case: #512

### Where to implement:

`src/capitalizedWordCounter.js`

### Where are the tests:

`src/capitalizedWordCounter.test.js`

### Description (optional):

this function counts how many capitalized words you have in a given sentence.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
-

[2018-10-09 15:28] AlexandreInsua commented on #511
/request

[2018-10-09 15:28] rgehan commented on #511
Sorry, @AlexandreInsua, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-09 15:31] nai888 commented on #443
/request

[2018-10-09 15:32] rgehan commented on #443
Hey @nai888, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 15:32] rgehan commented on #210
Hey @romanbalayan,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # sym

[2018-10-09 15:44] shivanggarg1998 commented on #408
@rgehan there is some issue in test case as i have commented above

[2018-10-09 15:44] shivanggarg1998 commented on #408
/reset

[2018-10-09 15:45] shivanggarg1998 commented on #408
/request

[2018-10-09 15:45] rgehan commented on #408
Hey @shivanggarg1998, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 15:48] shivanggarg1998 commented on #408
Please verify the test case or pls help me what to return in case of invalid/null number . I have already completed the function and have generated a new one

[2018-10-09 15:52] #494 closed

[2018-10-09 15:57] shivanggarg1998 commented on #408
ya got a workaround just returning a function with throws an error will do

[2018-10-09 16:05] dineshvgp commented on #501
/request

[2018-10-09 16:05] rgehan commented on #501
Hey @dineshvgp, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 16:10] nai888 opened #516 "Implement numberVowels"
# numberVowels

### Link to the PR that adds this test case:

#517

### Where to implement:

`src/numberVowels.js`

### Where are the tests:

`src/numberVowels.test.js`

### Description (optional):

Find the word(s) in a string with the most vowels.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/reques

[2018-10-09 16:13] #443 closed

[2018-10-09 16:16] shivanggarg1998 opened #518 "implement trailingZeroes"
# trailingZeroes

### Link to the PR that adds this test case:

#515

### Where to implement:

`src/trailingZeroes.js`

### Where are the tests:

`src/trailingZeroes.test.js`

### Description (optional):

Find and return number of trailing 0s in n factorial without calculating n factorial.

---

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is a

[2018-10-09 16:20] #408 closed

[2018-10-09 16:21] Zeroji commented on #518
/request

[2018-10-09 16:21] rgehan commented on #518
Hey @Zeroji, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 16:32] rgehan commented on #451
Hey @Insiyaa,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol b

[2018-10-09 16:40] hasykes commented on #516
/request

[2018-10-09 16:40] rgehan commented on #516
Hey @hasykes, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 17:12] TimFenwick15 commented on #451
/request

[2018-10-09 17:12] rgehan commented on #451
Hey @TimFenwick15, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 17:13] etseidler commented on #513
/request

[2018-10-09 17:13] rgehan commented on #513
Sorry, @etseidler, this kata is not merged yet (look for the "up for grabs" label) and cannot be assigned to you now.

##### This comment was automatically generated by a bot.

[2018-10-09 17:17] rmcguire6 commented on #473
/request

[2018-10-09 17:17] rgehan commented on #473
Hey @rmcguire6, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 17:39] #505 closed

[2018-10-09 17:43] rgehan commented on #513
/assign @etseidler

[2018-10-09 17:43] #511 closed

[2018-10-09 17:46] rgehan commented on #452
@wmik I guess you're right, a word cannot be an anagram of itself.

If you want to submit a PR to fix it, I guess you can

[2018-10-09 17:47] rgehan commented on #452
I'll still close the issue as it isn't a kata

[2018-10-09 17:47] #452 closed

[2018-10-09 19:32] rgehan commented on #303
This is another test comment

[2018-10-09 19:41] siwalikm commented on #210
/request

[2018-10-09 19:41] rgehan commented on #210
Hey @siwalikm, you were assigned the issue as you were the first to request it!

##### This comment was automatically generated by a bot.

[2018-10-09 20:18] siwalikm opened #521 "Hacktoberfest kata - implement array flatten"
Array Flatten

### Link to the PR that adds this test case:

https://github.com/rgehan/hacktoberfest-2k18-katas/pull/520

### Where to implement:

`src/flattenArray.js`

### Where are the tests:

`src/flattenArray.test.js`

# If you want to take on this issue:

- Check that the kata is labelled "up for grabs"
- If no one is assigned to the issue, reply with `/request` to ask for it
- Create a Pull

[2018-10-09 20:19] rgehan commented on #303
Message

[2018-10-09 20:20] rgehan commented on #303
Message 2

[2018-10-09 20:20] rgehan commented on #303
Message 3

[2018-10-09 20:32] rgehan commented on #459
Hey @mupraj10,

It looks like this issue has been inactive for at least 24 hours.

An issue is considered inactive if:
- You, the assignee, didn't comment on it during the period described above
- You, the assignee, didn't open a PR related to the issue (for it to be considered as related, the ID of the issue needs to appear either in the title of the PR, or in its body. Don't forget the # symbol